OP80/flows/logic-80.json
[
  {
    "id": "6b25f2664a9c5aec",
    "type": "tab",
    "label": "logic-80",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "4f9e1dd4adb757bb",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "开始下一次装配",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 340,
    "wires": [
      [
        "010fdfdbef0a59e0"
      ]
    ]
  },
  {
    "id": "893ee25836f4e34a",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "直接结束到下一个流程",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2880,
    "y": 220,
    "wires": [
      [
        "34b57a971eb27428"
      ]
    ]
  },
  {
    "id": "93e7ec528560151a",
    "type": "subflow:54f147592a602955",
    "z": "6b25f2664a9c5aec",
    "name": "放置到顶螺丝",
    "env": [
      {
        "name": "6axes",
        "value": "1",
        "type": "num"
      }
    ],
    "x": 1220,
    "y": 260,
    "wires": [
      [
        "8331caed273a25e0"
      ]
    ]
  },
  {
    "id": "4c5ba8abe888c4a4",
    "type": "subflow:54f147592a602955",
    "z": "6b25f2664a9c5aec",
    "name": "放到视觉判定",
    "env": [
      {
        "name": "6axes",
        "value": "2",
        "type": "num"
      }
    ],
    "x": 1720,
    "y": 260,
    "wires": [
      [
        "d3f09fda965d0b1c"
      ]
    ],
    "icon": "font-awesome/fa-cubes"
  },
  {
    "id": "a1eb22864bce79fc",
    "type": "subflow:54f147592a602955",
    "z": "6b25f2664a9c5aec",
    "name": "放阀体",
    "env": [
      {
        "name": "6axes",
        "value": "4",
        "type": "num"
      }
    ],
    "x": 2070,
    "y": 260,
    "wires": [
      [
        "59edf7d144d21158"
      ]
    ]
  },
  {
    "id": "59edf7d144d21158",
    "type": "subflow:8fe3e255cbd378f2",
    "z": "6b25f2664a9c5aec",
    "name": "打螺丝1",
    "env": [
      {
        "name": "FanZai",
        "value": "6",
        "type": "num"
      }
    ],
    "x": 2240,
    "y": 260,
    "wires": [
      [
        "f91ffecbc3e9d8c9"
      ]
    ]
  },
  {
    "id": "c3447f7f463463de",
    "type": "subflow:54f147592a602955",
    "z": "6b25f2664a9c5aec",
    "name": "放废料盒",
    "env": [
      {
        "name": "6axes",
        "value": "5",
        "type": "num"
      }
    ],
    "x": 2380,
    "y": 180,
    "wires": [
      [
        "893ee25836f4e34a"
      ]
    ]
  },
  {
    "id": "948365c3dc1bf4f9",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "先导阀装配数递增",
    "func": "var IO = global.get(\"IO_80\");\nIO.AO.index_assembled ++;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2590,
    "y": 260,
    "wires": [
      [
        "34b57a971eb27428"
      ]
    ]
  },
  {
    "id": "f91ffecbc3e9d8c9",
    "type": "subflow:54f147592a602955",
    "z": "6b25f2664a9c5aec",
    "name": "回原位",
    "env": [
      {
        "name": "6axes",
        "value": "6",
        "type": "num"
      }
    ],
    "x": 2390,
    "y": 260,
    "wires": [
      [
        "948365c3dc1bf4f9"
      ]
    ]
  },
  {
    "id": "8331caed273a25e0",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "已用物料递增",
    "func": "var IO = global.get(\"IO_80\");\nIO.AO_6axes.index_top_tray ++;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1420,
    "y": 260,
    "wires": [
      [
        "718607ee038605f9"
      ]
    ]
  },
  {
    "id": "44e5f36570e354ed",
    "type": "subflow:8fe3e255cbd378f2",
    "z": "6b25f2664a9c5aec",
    "name": "顶螺丝",
    "env": [
      {
        "name": "FanZai",
        "value": "9",
        "type": "num"
      }
    ],
    "x": 850,
    "y": 280,
    "wires": [
      [
        "e0b5c2150c2a78f4"
      ]
    ]
  },
  {
    "id": "b9c9e71584fae02a",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 410,
    "y": 120,
    "wires": [
      [
        "cc923f1d1d69b14c",
        "313ebd3fe3661b81",
        "4cc74c0df69a8512",
        "41a875495c8024f2"
      ]
    ]
  },
  {
    "id": "313ebd3fe3661b81",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "阀体上装配序号",
    "rules": [
      {
        "t": "set",
        "p": "IO_80.AO.index_assembled",
        "pt": "global",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 660,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "cc923f1d1d69b14c",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "顶层料盘抓取序号",
    "rules": [
      {
        "t": "set",
        "p": "IO_80.AO_6axes.index_top_tray",
        "pt": "global",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 670,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "3ead66496d5a5ea1",
    "type": "subflow:8fe3e255cbd378f2",
    "z": "6b25f2664a9c5aec",
    "name": "阀体视觉纠偏",
    "env": [
      {
        "name": "FanZai",
        "value": "1",
        "type": "num"
      }
    ],
    "x": 300,
    "y": 280,
    "wires": [
      [
        "63115ba3963f1f3b"
      ]
    ]
  },
  {
    "id": "e0b5c2150c2a78f4",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "顶层先导阀够料",
    "property": "IO_80.AO_6axes.index_top_tray",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "16",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "17",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1000,
    "y": 280,
    "wires": [
      [
        "93e7ec528560151a"
      ],
      [
        "26b0035456038719"
      ]
    ]
  },
  {
    "id": "26b0035456038719",
    "type": "subflow:8fe3e255cbd378f2",
    "z": "6b25f2664a9c5aec",
    "name": "换料盘",
    "env": [
      {
        "name": "FanZai",
        "value": "8",
        "type": "num"
      }
    ],
    "x": 1090,
    "y": 320,
    "wires": [
      [
        "b0c0aa1ceae00e7d"
      ]
    ]
  },
  {
    "id": "b0c0aa1ceae00e7d",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "数据更新",
    "func": "var IO = global.get(\"IO_80\");\nIO.AO.tray_in_count --;\nIO.AO.tray_out_count ++;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1240,
    "y": 320,
    "wires": [
      [
        "838166fe9ee273ca"
      ]
    ]
  },
  {
    "id": "c91283f0ac8976f1",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "是否没托盘了",
    "property": "IO_80.AO.tray_in_count",
    "propertyType": "global",
    "rules": [
      {
        "t": "gte",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1580,
    "y": 320,
    "wires": [
      [
        "cb93de3c407ca538"
      ],
      [
        "ec80a1b1c7e28639"
      ]
    ]
  },
  {
    "id": "cb93de3c407ca538",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "数据更新",
    "func": "var IO = global.get(\"IO_80\");\nIO.AO_6axes.index_top_tray  = 1;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1735,
    "y": 300,
    "wires": [
      [
        "7453e051d4c4d418"
      ]
    ],
    "l": false
  },
  {
    "id": "ec80a1b1c7e28639",
    "type": "http request",
    "z": "6b25f2664a9c5aec",
    "name": "AGV请求",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1760,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "7453e051d4c4d418",
    "type": "delay",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1795,
    "y": 300,
    "wires": [
      [
        "93e7ec528560151a"
      ]
    ],
    "l": false
  },
  {
    "id": "34b57a971eb27428",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "装配完成判断",
    "property": "IO_80.AO.index_assembled",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "10",
        "vt": "num"
      },
      {
        "t": "lte",
        "v": "9",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 3100,
    "y": 340,
    "wires": [
      [
        "5c09b9438ce2458a"
      ],
      [
        "4f9e1dd4adb757bb"
      ]
    ]
  },
  {
    "id": "838166fe9ee273ca",
    "type": "delay",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1335,
    "y": 320,
    "wires": [
      [
        "df7adc2a2d25359d"
      ]
    ],
    "l": false
  },
  {
    "id": "df7adc2a2d25359d",
    "type": "subflow:8fe3e255cbd378f2",
    "z": "6b25f2664a9c5aec",
    "name": "进料盘",
    "env": [
      {
        "name": "FanZai",
        "value": "2",
        "type": "num"
      }
    ],
    "x": 1430,
    "y": 320,
    "wires": [
      [
        "c91283f0ac8976f1"
      ]
    ]
  },
  {
    "id": "4cc74c0df69a8512",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "进料盘",
    "rules": [
      {
        "t": "set",
        "p": "IO_80.AO.tray_in_count",
        "pt": "global",
        "to": "2",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "41a875495c8024f2",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "出料盘",
    "rules": [
      {
        "t": "set",
        "p": "IO_80.AO.tray_out_count",
        "pt": "global",
        "to": "3",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "64877e554ba61320",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1270,
    "y": 140,
    "wires": [
      [
        "8331caed273a25e0"
      ]
    ]
  },
  {
    "id": "cf5f1f1c8a41c391",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 2070,
    "y": 160,
    "wires": [
      [
        "59edf7d144d21158"
      ]
    ]
  },
  {
    "id": "cbdeec63895568e6",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 2410,
    "y": 320,
    "wires": [
      [
        "948365c3dc1bf4f9"
      ]
    ]
  },
  {
    "id": "d4e61d2f0a787af4",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1910,
    "y": 200,
    "wires": [
      [
        "a1eb22864bce79fc"
      ]
    ]
  },
  {
    "id": "64429a551355d33b",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 290,
    "y": 380,
    "wires": [
      [
        "3ead66496d5a5ea1"
      ]
    ]
  },
  {
    "id": "893ba77d89cd5fd4",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1630,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "962e2ab610153168",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 100,
    "wires": [
      [
        "0b6206570073035d"
      ]
    ]
  },
  {
    "id": "4ef47c16a3b70af3",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 970,
    "y": 160,
    "wires": [
      [
        "93e7ec528560151a"
      ]
    ]
  },
  {
    "id": "49fc72d39a014eaa",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 2210,
    "y": 60,
    "wires": [
      [
        "f91ffecbc3e9d8c9"
      ]
    ]
  },
  {
    "id": "d9eecc88e03628e4",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1490,
    "y": 180,
    "wires": [
      [
        "4c5ba8abe888c4a4"
      ]
    ]
  },
  {
    "id": "5340dd217ff5e2d0",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "生产完成-物料处理",
    "func": "var StationTask_90 = global.get(\"StationTask_90\");\nvar obj = StationTask_90.ProcessDetail[0].MaterialDetails[0];\nobj.Num -= obj.consumption;\n\nvar obj2 = StationTask_90.ProcessDetail[0].MaterialDetails[1];\nobj2.Num -= obj2.consumption;\n\nvar obj3 = StationTask_90.ProcessDetail[0].MaterialDetails[2];\nobj3.Num -= obj3.consumption;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3190,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "5c09b9438ce2458a",
    "type": "subflow:8fe3e255cbd378f2",
    "z": "6b25f2664a9c5aec",
    "name": "装配完成",
    "env": [
      {
        "name": "FanZai",
        "value": "11",
        "type": "num"
      }
    ],
    "x": 3280,
    "y": 340,
    "wires": [
      [
        "1a74721d6acdbba3"
      ]
    ]
  },
  {
    "id": "6bbf14d39b49ae41",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 3130,
    "y": 220,
    "wires": [
      [
        "34b57a971eb27428"
      ]
    ]
  },
  {
    "id": "6dc8f569ff366e25",
    "type": "link in",
    "z": "6b25f2664a9c5aec",
    "name": "调度生产",
    "links": [
      "8587d880509d0863"
    ],
    "x": 435,
    "y": 220,
    "wires": [
      [
        "313ebd3fe3661b81",
        "3ead66496d5a5ea1"
      ]
    ]
  },
  {
    "id": "a0a37cf34d6991f1",
    "type": "http request",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 3700,
    "y": 340,
    "wires": [
      [
        "a12456222f7cecfc",
        "b1e9dd4e8f91a4a7"
      ]
    ]
  },
  {
    "id": "a12456222f7cecfc",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "调试 23",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 3860,
    "y": 340,
    "wires": []
  },
  {
    "id": "1a74721d6acdbba3",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "告诉调度器-生产完成",
    "func": "const t = (new Date()).toISOString();\nvar Request = global.get(\"Request_80\");\nRequest.EndTime = t;\n\nmsg.payload = Request;\nmsg.url = global.get(\"LCS\")+\"actionCompletedSignal\";\n//msg.method = \"POST\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3480,
    "y": 340,
    "wires": [
      [
        "a0a37cf34d6991f1"
      ]
    ]
  },
  {
    "id": "b1e9dd4e8f91a4a7",
    "type": "delay",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 3880,
    "y": 380,
    "wires": [
      [
        "366db6dd22a1471c"
      ]
    ]
  },
  {
    "id": "366db6dd22a1471c",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "Request_80.RequestID",
        "pt": "global",
        "to": "-",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "Request_80.RequestID_",
        "pt": "global",
        "to": "-",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4040,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "0b6206570073035d",
    "type": "subflow:8fe3e255cbd378f2",
    "z": "6b25f2664a9c5aec",
    "name": "进料盘",
    "env": [
      {
        "name": "FanZai",
        "value": "2",
        "type": "num"
      }
    ],
    "x": 330,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "da71142784344abf",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1070,
    "y": 480,
    "wires": [
      [
        "26b0035456038719"
      ]
    ]
  },
  {
    "id": "d7a042713bcd1fc8",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1250,
    "y": 440,
    "wires": [
      [
        "b0c0aa1ceae00e7d"
      ]
    ]
  },
  {
    "id": "eaf924cee798c424",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1470,
    "y": 440,
    "wires": [
      [
        "c91283f0ac8976f1"
      ]
    ]
  },
  {
    "id": "010fdfdbef0a59e0",
    "type": "subflow:8fe3e255cbd378f2",
    "z": "6b25f2664a9c5aec",
    "name": "根据装配序号移动滑块",
    "env": [
      {
        "name": "FanZai",
        "value": "10",
        "type": "num"
      }
    ],
    "x": 620,
    "y": 280,
    "wires": [
      [
        "9c192ac35dc13d4e"
      ]
    ]
  },
  {
    "id": "9c192ac35dc13d4e",
    "type": "delay",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 755,
    "y": 280,
    "wires": [
      [
        "44e5f36570e354ed"
      ]
    ],
    "l": false
  },
  {
    "id": "d3f09fda965d0b1c",
    "type": "delay",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1865,
    "y": 260,
    "wires": [
      [
        "a1eb22864bce79fc"
      ]
    ],
    "l": false
  },
  {
    "id": "718607ee038605f9",
    "type": "delay",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1565,
    "y": 260,
    "wires": [
      [
        "4c5ba8abe888c4a4"
      ]
    ],
    "l": false
  },
  {
    "id": "63115ba3963f1f3b",
    "type": "delay",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 445,
    "y": 280,
    "wires": [
      [
        "010fdfdbef0a59e0"
      ]
    ],
    "l": false
  },
  {
    "id": "f4fa34a0d59b9675",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 370,
    "y": 500,
    "wires": [
      [
        "010fdfdbef0a59e0"
      ]
    ]
  }
]