OP80/flows/screw-80.json
[
  {
    "id": "0aceb91922d497d0",
    "type": "tab",
    "label": "screw-80",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "2a80fca02ce33f08",
    "type": "modbus-read",
    "z": "0aceb91922d497d0",
    "name": "螺丝刀-83",
    "topic": "",
    "showStatusActivities": false,
    "logIOActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "31",
    "quantity": "2",
    "rate": "200",
    "rateUnit": "ms",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "b73080d51bca954d",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "x": 120,
    "y": 80,
    "wires": [
      [
        "db17f68c9dd546f0",
        "ccc89f4b137c75d6",
        "53b18cf363b9bdfc"
      ],
      []
    ]
  },
  {
    "id": "db17f68c9dd546f0",
    "type": "debug",
    "z": "0aceb91922d497d0",
    "name": "调试 1",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 270,
    "y": 80,
    "wires": []
  },
  {
    "id": "dbcf207b20ea3687",
    "type": "modbus-write",
    "z": "0aceb91922d497d0",
    "name": "螺丝刀-控制",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "unitid": "1",
    "dataType": "HoldingRegister",
    "adr": "3",
    "quantity": "1",
    "server": "b73080d51bca954d",
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 1030,
    "y": 240,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "2a8d34fca97e4058",
    "type": "inject",
    "z": "0aceb91922d497d0",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 730,
    "y": 240,
    "wires": [
      [
        "dbcf207b20ea3687"
      ]
    ]
  },
  {
    "id": "2c1198ed8c6d61f5",
    "type": "inject",
    "z": "0aceb91922d497d0",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "8",
    "payloadType": "num",
    "x": 730,
    "y": 280,
    "wires": [
      [
        "dbcf207b20ea3687"
      ]
    ]
  },
  {
    "id": "884e04237bfbda8e",
    "type": "inject",
    "z": "0aceb91922d497d0",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "x": 730,
    "y": 320,
    "wires": [
      [
        "dbcf207b20ea3687"
      ]
    ]
  },
  {
    "id": "e8e78ece20beaef8",
    "type": "trigger",
    "z": "0aceb91922d497d0",
    "name": "",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 390,
    "y": 180,
    "wires": [
      [
        "eb37fbc14097f749",
        "e69ca90dc3f2c992"
      ]
    ]
  },
  {
    "id": "eb37fbc14097f749",
    "type": "function",
    "z": "0aceb91922d497d0",
    "name": "控制",
    "func": "var val = 0;\nconst IO = global.get(\"IO_80\");\nif (IO.AO_screw.run==1){\n    val += 1;\n}\nif (IO.AO_screw.clockwise==1){\n    val += 2;\n}\nif (IO.AO_screw.pause == 1) {\n    val += 4;\n}\nif (IO.AO_screw.reset == 1) {\n    val += 8;\n}\nmsg.payload = val;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 180,
    "wires": [
      [
        "f6e420c9a1fc7f7b"
      ]
    ]
  },
  {
    "id": "1ffddf51f01e9d58",
    "type": "modbus-read",
    "z": "0aceb91922d497d0",
    "name": "螺丝刀-83-扭力反馈",
    "topic": "",
    "showStatusActivities": false,
    "logIOActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "25",
    "quantity": "2",
    "rate": "200",
    "rateUnit": "ms",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "b73080d51bca954d",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "x": 510,
    "y": 80,
    "wires": [
      [
        "e4e15c5fc07fe382"
      ],
      []
    ]
  },
  {
    "id": "e4e15c5fc07fe382",
    "type": "function",
    "z": "0aceb91922d497d0",
    "name": "完成扭矩",
    "func": "var data = msg.payload[0] + msg.payload[1] * 0xff;\nif (!Number.isNaN(data)) {\n    msg.payload = data;\n    return msg;\n}",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 80,
    "wires": [
      [
        "c2b844d098ce39d4"
      ]
    ]
  },
  {
    "id": "c2b844d098ce39d4",
    "type": "change",
    "z": "0aceb91922d497d0",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_80.AI_screw.torque",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 940,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "7ec0322db0b6da1a",
    "type": "inject",
    "z": "0aceb91922d497d0",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 200,
    "y": 180,
    "wires": [
      [
        "e8e78ece20beaef8"
      ]
    ]
  },
  {
    "id": "f9c9bf6a8355b1fa",
    "type": "inject",
    "z": "0aceb91922d497d0",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "4",
    "payloadType": "num",
    "x": 730,
    "y": 360,
    "wires": [
      [
        "dbcf207b20ea3687"
      ]
    ]
  },
  {
    "id": "f6e420c9a1fc7f7b",
    "type": "rbe",
    "z": "0aceb91922d497d0",
    "name": "",
    "func": "rbei",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "topi": "topic",
    "x": 755,
    "y": 180,
    "wires": [
      [
        "dbcf207b20ea3687",
        "2142e387b8d18ca4"
      ]
    ],
    "l": false
  },
  {
    "id": "46a47cc1a6b4083c",
    "type": "modbus-write",
    "z": "0aceb91922d497d0",
    "name": "螺丝刀-模式",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "unitid": "1",
    "dataType": "HoldingRegister",
    "adr": "48",
    "quantity": "1",
    "server": "b73080d51bca954d",
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 1030,
    "y": 420,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "3c27be35ade8a32a",
    "type": "inject",
    "z": "0aceb91922d497d0",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "12",
    "payloadType": "num",
    "x": 730,
    "y": 480,
    "wires": [
      [
        "46a47cc1a6b4083c"
      ]
    ]
  },
  {
    "id": "b0f68a4e7f5078ad",
    "type": "inject",
    "z": "0aceb91922d497d0",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 730,
    "y": 520,
    "wires": [
      [
        "46a47cc1a6b4083c"
      ]
    ]
  },
  {
    "id": "4b44deb1437a610c",
    "type": "rbe",
    "z": "0aceb91922d497d0",
    "name": "",
    "func": "rbei",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "topi": "topic",
    "x": 765,
    "y": 420,
    "wires": [
      [
        "46a47cc1a6b4083c"
      ]
    ],
    "l": false
  },
  {
    "id": "2142e387b8d18ca4",
    "type": "debug",
    "z": "0aceb91922d497d0",
    "name": "调试 21",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1020,
    "y": 140,
    "wires": []
  },
  {
    "id": "e69ca90dc3f2c992",
    "type": "function",
    "z": "0aceb91922d497d0",
    "name": "模式",
    "func": "const IO = global.get(\"IO_80\");\nmsg.payload = IO.AO_screw.mode;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 420,
    "wires": [
      [
        "4b44deb1437a610c"
      ]
    ]
  },
  {
    "id": "ccc89f4b137c75d6",
    "type": "function",
    "z": "0aceb91922d497d0",
    "name": "函数 38",
    "func": "var error = msg.payload[0];\nvar result = msg.payload[1];\nvar IO = global.get(\"IO_80\");\nif (result == 1 && error > 0) {\n    IO.AI_screw.status = 3;\n}\nelse {\n    IO.AI_screw.status = result;\n}\nIO.AI_screw.error = error;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 280,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "53b18cf363b9bdfc",
    "type": "change",
    "z": "0aceb91922d497d0",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[1]",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 245,
    "y": 40,
    "wires": [
      [
        "7d2274a9925015b8"
      ]
    ],
    "l": false
  },
  {
    "id": "7d2274a9925015b8",
    "type": "rbe",
    "z": "0aceb91922d497d0",
    "name": "",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "topi": "topic",
    "x": 305,
    "y": 40,
    "wires": [
      [
        "aafb606891a6a420"
      ]
    ],
    "l": false
  },
  {
    "id": "aafb606891a6a420",
    "type": "switch",
    "z": "0aceb91922d497d0",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 355,
    "y": 40,
    "wires": [
      [
        "fb5620700b1981ea"
      ]
    ],
    "l": false
  },
  {
    "id": "fb5620700b1981ea",
    "type": "function",
    "z": "0aceb91922d497d0",
    "name": "扭力数组",
    "func": "var torques = global.get(\"torque\");\nvar IO = global.get(\"IO_80\");\ntorques.push(IO.AI_screw.torque);\ntorques.shift();\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 40,
    "wires": [
      []
    ]
  }
]