OP21/flows/OP10.json
[
  {
    "id": "dc2c1ad2d5df947f",
    "type": "tab",
    "label": "OP10",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "efa834e330d34bc9",
    "type": "function",
    "z": "dc2c1ad2d5df947f",
    "name": "function 11",
    "func": "var IO = global.get(\"IO_10\");\nvar tray_10_1 = global.get(\"tray_10_1\");\nvar str = \"\";\nif (IO.DI.L_DOtuopanyouliao==0){\n    str += \"没有\"\n}\nelse{\n    str +=  JSON.stringify(tray_10_1);\n}\nmsg.payload = str;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 270,
    "y": 220,
    "wires": [
      [
        "77611eeab0bdd9ad"
      ]
    ]
  },
  {
    "id": "56579577f7d2f10b",
    "type": "inject",
    "z": "dc2c1ad2d5df947f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 60,
    "wires": [
      [
        "326e2c91f5accb33"
      ]
    ]
  },
  {
    "id": "326e2c91f5accb33",
    "type": "trigger",
    "z": "dc2c1ad2d5df947f",
    "name": "",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 290,
    "y": 140,
    "wires": [
      [
        "efa834e330d34bc9",
        "d612d6d89cbfe8c7"
      ]
    ]
  },
  {
    "id": "77611eeab0bdd9ad",
    "type": "ui_text",
    "z": "dc2c1ad2d5df947f",
    "group": "6a94dd369699e356",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "左托盘:",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#000000",
    "x": 500,
    "y": 220,
    "wires": []
  },
  {
    "id": "d612d6d89cbfe8c7",
    "type": "function",
    "z": "dc2c1ad2d5df947f",
    "name": "function 11",
    "func": "var IO = global.get(\"IO_10\");\nvar tray_10_2 = global.get(\"tray_10_2\");\nvar str = \"\";\nif (IO.DI.R_DOtuopanyouliao==0){\n    str += \"没有\"\n}\nelse{\n    str +=  JSON.stringify(tray_10_2);\n}\nmsg.payload = str;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 270,
    "y": 260,
    "wires": [
      [
        "fb4fe00770f93a60"
      ]
    ]
  },
  {
    "id": "fb4fe00770f93a60",
    "type": "ui_text",
    "z": "dc2c1ad2d5df947f",
    "group": "6a94dd369699e356",
    "order": 5,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "右托盘:",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#000000",
    "x": 500,
    "y": 260,
    "wires": []
  },
  {
    "id": "16a163216b3c1ba3",
    "type": "ui_button",
    "z": "dc2c1ad2d5df947f",
    "name": "1个",
    "group": "6a94dd369699e356",
    "order": 2,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "1个",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 250,
    "y": 320,
    "wires": [
      [
        "043421d54f9e430f"
      ]
    ]
  },
  {
    "id": "d45dafd2f3c27874",
    "type": "ui_button",
    "z": "dc2c1ad2d5df947f",
    "name": "3个",
    "group": "6a94dd369699e356",
    "order": 4,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "3个",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 250,
    "y": 400,
    "wires": [
      [
        "b52ea6eb4b4b6c94"
      ]
    ]
  },
  {
    "id": "1b036badf72adc41",
    "type": "ui_button",
    "z": "dc2c1ad2d5df947f",
    "name": "2个",
    "group": "6a94dd369699e356",
    "order": 3,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "2个",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 250,
    "y": 360,
    "wires": [
      [
        "ed01b9af6129e0c3"
      ]
    ]
  },
  {
    "id": "043421d54f9e430f",
    "type": "http request",
    "z": "dc2c1ad2d5df947f",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.10:1880/tray1_1",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 480,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "ed01b9af6129e0c3",
    "type": "http request",
    "z": "dc2c1ad2d5df947f",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.10:1880/tray1_2",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 480,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "b52ea6eb4b4b6c94",
    "type": "http request",
    "z": "dc2c1ad2d5df947f",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.10:1880/tray1_3",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 480,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "4e95310039f8c2eb",
    "type": "ui_button",
    "z": "dc2c1ad2d5df947f",
    "name": "右1个",
    "group": "6a94dd369699e356",
    "order": 6,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "1个",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 250,
    "y": 520,
    "wires": [
      [
        "ae4213316b99ccab"
      ]
    ]
  },
  {
    "id": "1d9a8e348c45da8c",
    "type": "ui_button",
    "z": "dc2c1ad2d5df947f",
    "name": "右3个",
    "group": "6a94dd369699e356",
    "order": 8,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "3个",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 250,
    "y": 600,
    "wires": [
      [
        "089533a841975562"
      ]
    ]
  },
  {
    "id": "9f538a90a5701963",
    "type": "ui_button",
    "z": "dc2c1ad2d5df947f",
    "name": "右2个",
    "group": "6a94dd369699e356",
    "order": 7,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "2个",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 250,
    "y": 560,
    "wires": [
      [
        "83e284e0f71fb9cc"
      ]
    ]
  },
  {
    "id": "ae4213316b99ccab",
    "type": "http request",
    "z": "dc2c1ad2d5df947f",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.10:1880/tray2_1",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 480,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "83e284e0f71fb9cc",
    "type": "http request",
    "z": "dc2c1ad2d5df947f",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.10:1880/tray2_2",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 480,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "089533a841975562",
    "type": "http request",
    "z": "dc2c1ad2d5df947f",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.10:1880/tray2_3",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 480,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "75ab5e518be0fcde",
    "type": "ui_button",
    "z": "dc2c1ad2d5df947f",
    "name": "清",
    "group": "6a94dd369699e356",
    "order": 4,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "清",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 250,
    "y": 440,
    "wires": [
      [
        "bad64d44f20a788c"
      ]
    ]
  },
  {
    "id": "bad64d44f20a788c",
    "type": "http request",
    "z": "dc2c1ad2d5df947f",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.10:1880/tray1_3",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 480,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "0f9c4c3f47e4aad2",
    "type": "ui_button",
    "z": "dc2c1ad2d5df947f",
    "name": "右清",
    "group": "6a94dd369699e356",
    "order": 8,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "清",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 250,
    "y": 640,
    "wires": [
      [
        "807b829e8cbdf597"
      ]
    ]
  },
  {
    "id": "807b829e8cbdf597",
    "type": "http request",
    "z": "dc2c1ad2d5df947f",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.10:1880/tray2_3",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 480,
    "y": 640,
    "wires": [
      []
    ]
  }
]