OP21/flows/read.json
[
  {
    "id": "195d616b1d9b4582",
    "type": "tab",
    "label": "read",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "0a4689ade940e4d9",
    "type": "inject",
    "z": "195d616b1d9b4582",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 480,
    "y": 160,
    "wires": [
      [
        "5ffc1943b960a444"
      ]
    ]
  },
  {
    "id": "5ffc1943b960a444",
    "type": "trigger",
    "z": "195d616b1d9b4582",
    "name": "",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "-1",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 640,
    "y": 220,
    "wires": [
      [
        "033f67d01ddddbb2",
        "af324fcd94153a09",
        "b245b4b03bbd8a19",
        "db441cb52bec5b14",
        "14e2527aee25d05f",
        "6fa933d44b4d77a5",
        "bd54ea8d6c2304bb",
        "67f5e3302b43de19",
        "b56e21498eafb7f4",
        "4b68e63f9c616a39",
        "832209938930161c",
        "50e3d55489643e4f",
        "f193b3a272ccc461",
        "1677ba05b6cd5762",
        "ac072a4f7e9fc01a"
      ]
    ]
  },
  {
    "id": "033f67d01ddddbb2",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.20:1880/20/data?key=IO_20",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 900,
    "y": 220,
    "wires": [
      [
        "3c9ca46f3726f188",
        "b9cdf29a8b8c1b13"
      ]
    ]
  },
  {
    "id": "3c9ca46f3726f188",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 1",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1100,
    "y": 220,
    "wires": []
  },
  {
    "id": "af324fcd94153a09",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.20:1880/30/data?key=IO_30",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 900,
    "y": 300,
    "wires": [
      [
        "103eed69858d0e5b",
        "03e970870a45a05a"
      ]
    ]
  },
  {
    "id": "103eed69858d0e5b",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 2",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1100,
    "y": 300,
    "wires": []
  },
  {
    "id": "b9cdf29a8b8c1b13",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1090,
    "y": 180,
    "wires": [
      [
        "b206e81dd25a3ea4"
      ]
    ]
  },
  {
    "id": "b206e81dd25a3ea4",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_20",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1290,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "03e970870a45a05a",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1090,
    "y": 260,
    "wires": [
      [
        "68c19fe3f70e0b25"
      ]
    ]
  },
  {
    "id": "68c19fe3f70e0b25",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_30",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1290,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "b245b4b03bbd8a19",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.40:1880/40/data?key=IO_40",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 900,
    "y": 380,
    "wires": [
      [
        "c171fbad9c1039ba",
        "1a81b0aa954bb413"
      ]
    ]
  },
  {
    "id": "c171fbad9c1039ba",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 3",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1100,
    "y": 380,
    "wires": []
  },
  {
    "id": "1a81b0aa954bb413",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1090,
    "y": 340,
    "wires": [
      [
        "579a383dedb006f1"
      ]
    ]
  },
  {
    "id": "579a383dedb006f1",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1290,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "db441cb52bec5b14",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.50:1880/50/data?key=IO_50",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 900,
    "y": 460,
    "wires": [
      [
        "9179c08ce476b6d9",
        "2f445792f721d7f1"
      ]
    ]
  },
  {
    "id": "9179c08ce476b6d9",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 4",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1100,
    "y": 460,
    "wires": []
  },
  {
    "id": "2f445792f721d7f1",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1090,
    "y": 420,
    "wires": [
      [
        "e1fdaa03cb0f0fce"
      ]
    ]
  },
  {
    "id": "e1fdaa03cb0f0fce",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_50",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1290,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "4b68e63f9c616a39",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.60:1880/60/data?key=IO",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 900,
    "y": 540,
    "wires": [
      [
        "0858338839106e33",
        "93935d27070366c9"
      ]
    ]
  },
  {
    "id": "0858338839106e33",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 5",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1100,
    "y": 540,
    "wires": []
  },
  {
    "id": "93935d27070366c9",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1090,
    "y": 500,
    "wires": [
      [
        "05d37bae239af109"
      ]
    ]
  },
  {
    "id": "05d37bae239af109",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_60",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1290,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "14e2527aee25d05f",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.70:1880/70/data?key=IO_70",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 900,
    "y": 620,
    "wires": [
      [
        "77260ccc9634c287",
        "eeb6d1afa9926d25"
      ]
    ]
  },
  {
    "id": "77260ccc9634c287",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 6",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1100,
    "y": 620,
    "wires": []
  },
  {
    "id": "eeb6d1afa9926d25",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1090,
    "y": 580,
    "wires": [
      [
        "5e25e6c11fea5c92"
      ]
    ]
  },
  {
    "id": "5e25e6c11fea5c92",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_70",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1290,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "f193b3a272ccc461",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.80:1880/80/data?key=IO_80",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 900,
    "y": 700,
    "wires": [
      [
        "acd500ebc64a5903",
        "135765b1a5681ef1"
      ]
    ]
  },
  {
    "id": "acd500ebc64a5903",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 7",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1100,
    "y": 700,
    "wires": []
  },
  {
    "id": "135765b1a5681ef1",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1090,
    "y": 660,
    "wires": [
      [
        "992cc1aef4f44814"
      ]
    ]
  },
  {
    "id": "992cc1aef4f44814",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_80",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1290,
    "y": 660,
    "wires": [
      []
    ]
  },
  {
    "id": "6fa933d44b4d77a5",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.90:1880/90/data?key=IO_90",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 900,
    "y": 780,
    "wires": [
      [
        "d89d650c08699461",
        "13a422a5e5ddda97"
      ]
    ]
  },
  {
    "id": "d89d650c08699461",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 8",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1100,
    "y": 780,
    "wires": []
  },
  {
    "id": "13a422a5e5ddda97",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1090,
    "y": 740,
    "wires": [
      [
        "77f25ca43707da02"
      ]
    ]
  },
  {
    "id": "77f25ca43707da02",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_90",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1290,
    "y": 740,
    "wires": [
      []
    ]
  },
  {
    "id": "bd54ea8d6c2304bb",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.10:1880/10/data?key=IO_10",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 900,
    "y": 140,
    "wires": [
      [
        "cb35580373685684",
        "96a99e683a88b48d"
      ]
    ]
  },
  {
    "id": "cb35580373685684",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 9",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1100,
    "y": 140,
    "wires": []
  },
  {
    "id": "96a99e683a88b48d",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1090,
    "y": 100,
    "wires": [
      [
        "392426a8e00b3589"
      ]
    ]
  },
  {
    "id": "392426a8e00b3589",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_10",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1290,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "67f5e3302b43de19",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.100:1880/100/data?key=IO_100",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 900,
    "y": 860,
    "wires": [
      [
        "586346cb3c836402",
        "fdd141bea5cee90f"
      ]
    ]
  },
  {
    "id": "586346cb3c836402",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 10",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1100,
    "y": 860,
    "wires": []
  },
  {
    "id": "fdd141bea5cee90f",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1090,
    "y": 820,
    "wires": [
      [
        "3876e45032a70e90"
      ]
    ]
  },
  {
    "id": "3876e45032a70e90",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_100",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1290,
    "y": 820,
    "wires": [
      []
    ]
  },
  {
    "id": "b56e21498eafb7f4",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.10:1880/10/data?key=tray1",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 900,
    "y": 980,
    "wires": [
      [
        "26d07cd4f599d285",
        "f260b435d7f204d0"
      ]
    ]
  },
  {
    "id": "26d07cd4f599d285",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 11",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1100,
    "y": 980,
    "wires": []
  },
  {
    "id": "f260b435d7f204d0",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1090,
    "y": 940,
    "wires": [
      [
        "3c4a4968d718bc38"
      ]
    ]
  },
  {
    "id": "3c4a4968d718bc38",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "tray_10_1",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1300,
    "y": 940,
    "wires": [
      []
    ]
  },
  {
    "id": "832209938930161c",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.100:1880/100/data?key=tray1",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 900,
    "y": 1180,
    "wires": [
      [
        "820958da12c5cceb",
        "97a4d8dc262e9542"
      ]
    ]
  },
  {
    "id": "820958da12c5cceb",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 12",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1100,
    "y": 1180,
    "wires": []
  },
  {
    "id": "97a4d8dc262e9542",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1090,
    "y": 1140,
    "wires": [
      [
        "7c6cd937cc7329fb"
      ]
    ]
  },
  {
    "id": "7c6cd937cc7329fb",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "tray_100_1",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1300,
    "y": 1140,
    "wires": [
      []
    ]
  },
  {
    "id": "5924db66a8caf683",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.10:1880/10/data?key=Request_10",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 240,
    "y": 400,
    "wires": [
      [
        "4d31cc7b541b0a34",
        "e00f8599d73c1ba8"
      ]
    ]
  },
  {
    "id": "4d31cc7b541b0a34",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 13",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 440,
    "y": 400,
    "wires": []
  },
  {
    "id": "e00f8599d73c1ba8",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 430,
    "y": 360,
    "wires": [
      [
        "3d2432272d0af22c"
      ]
    ]
  },
  {
    "id": "3d2432272d0af22c",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "Request_10",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "50e3d55489643e4f",
    "type": "function",
    "z": "195d616b1d9b4582",
    "name": "function 13",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 55,
    "y": 360,
    "wires": [
      [
        "5924db66a8caf683",
        "429396d760045066",
        "3642806290064833",
        "33a2515ae062d71f",
        "109d1a9d496b6932",
        "5fca6e23a752d813",
        "c26b1f0cb8cf6462",
        "84ce3b65a2dc0550",
        "b88c035382a4c16b",
        "ba40acf5ba22a41d",
        "8ea70833cc501157"
      ]
    ],
    "l": false
  },
  {
    "id": "429396d760045066",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.20:1880/20/data?key=Request_20",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 240,
    "y": 480,
    "wires": [
      [
        "7b1207bd98953203",
        "46c6b297d59f506c"
      ]
    ]
  },
  {
    "id": "7b1207bd98953203",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 14",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 440,
    "y": 480,
    "wires": []
  },
  {
    "id": "46c6b297d59f506c",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 430,
    "y": 440,
    "wires": [
      [
        "b48e82b542fa2639"
      ]
    ]
  },
  {
    "id": "b48e82b542fa2639",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "Request_20",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "3642806290064833",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.20:1880/30/data?key=Request_30",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 240,
    "y": 560,
    "wires": [
      [
        "19124bd904cc03eb",
        "dfdf22bc40370fd0"
      ]
    ]
  },
  {
    "id": "19124bd904cc03eb",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 15",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 440,
    "y": 560,
    "wires": []
  },
  {
    "id": "dfdf22bc40370fd0",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 430,
    "y": 520,
    "wires": [
      [
        "28664cf5897afa25"
      ]
    ]
  },
  {
    "id": "28664cf5897afa25",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "Request_30",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "33a2515ae062d71f",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.40:1880/40/data?key=Request_40",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 240,
    "y": 640,
    "wires": [
      [
        "128924ae004a1f2d",
        "be7906eb459cca82"
      ]
    ]
  },
  {
    "id": "128924ae004a1f2d",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 16",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 440,
    "y": 640,
    "wires": []
  },
  {
    "id": "be7906eb459cca82",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 430,
    "y": 600,
    "wires": [
      [
        "9eeaa6e1df010376"
      ]
    ]
  },
  {
    "id": "9eeaa6e1df010376",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "Request_40",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "b88c035382a4c16b",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.50:1880/50/data?key=Request_50",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 240,
    "y": 720,
    "wires": [
      [
        "984660a45bc9014a",
        "a7b2a9372a537f44"
      ]
    ]
  },
  {
    "id": "984660a45bc9014a",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 17",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 440,
    "y": 720,
    "wires": []
  },
  {
    "id": "a7b2a9372a537f44",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 430,
    "y": 680,
    "wires": [
      [
        "097338ae5dc09ce8"
      ]
    ]
  },
  {
    "id": "097338ae5dc09ce8",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "Request_50",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "ba40acf5ba22a41d",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.60:1880/60/data?key=Request_60",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 240,
    "y": 800,
    "wires": [
      [
        "e82cda030604646c",
        "12080f5c6833236f"
      ]
    ]
  },
  {
    "id": "e82cda030604646c",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 18",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 440,
    "y": 800,
    "wires": []
  },
  {
    "id": "12080f5c6833236f",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 430,
    "y": 760,
    "wires": [
      [
        "cd3650894026e395"
      ]
    ]
  },
  {
    "id": "cd3650894026e395",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "Request_60",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 760,
    "wires": [
      []
    ]
  },
  {
    "id": "c26b1f0cb8cf6462",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.70:1880/70/data?key=Request_70",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 240,
    "y": 880,
    "wires": [
      [
        "4766d04a647af95d",
        "656028c95f4dc347"
      ]
    ]
  },
  {
    "id": "4766d04a647af95d",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 19",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 440,
    "y": 880,
    "wires": []
  },
  {
    "id": "656028c95f4dc347",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 430,
    "y": 840,
    "wires": [
      [
        "132a91ab4b263d25"
      ]
    ]
  },
  {
    "id": "132a91ab4b263d25",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "Request_70",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 840,
    "wires": [
      []
    ]
  },
  {
    "id": "84ce3b65a2dc0550",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.80:1880/80/data?key=Request_80",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 240,
    "y": 960,
    "wires": [
      [
        "1647e7c7bb09a708",
        "05a78597bfcd1c22"
      ]
    ]
  },
  {
    "id": "1647e7c7bb09a708",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 20",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 440,
    "y": 960,
    "wires": []
  },
  {
    "id": "05a78597bfcd1c22",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 430,
    "y": 920,
    "wires": [
      [
        "33081dc34e4465c7"
      ]
    ]
  },
  {
    "id": "33081dc34e4465c7",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "Request_80",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 920,
    "wires": [
      []
    ]
  },
  {
    "id": "5fca6e23a752d813",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.90:1880/90/data?key=Request_90",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 240,
    "y": 1040,
    "wires": [
      [
        "f354e9c8a0a1ba2a",
        "26f742c669d03a4c"
      ]
    ]
  },
  {
    "id": "f354e9c8a0a1ba2a",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 21",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 440,
    "y": 1040,
    "wires": []
  },
  {
    "id": "26f742c669d03a4c",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 430,
    "y": 1000,
    "wires": [
      [
        "50e15f65e3ab0ffa"
      ]
    ]
  },
  {
    "id": "50e15f65e3ab0ffa",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "Request_90",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 1000,
    "wires": [
      []
    ]
  },
  {
    "id": "109d1a9d496b6932",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.100:1880/100/data?key=Request_100",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 240,
    "y": 1120,
    "wires": [
      [
        "a7ec17497b3dcd3a",
        "89662a447b6b2883"
      ]
    ]
  },
  {
    "id": "a7ec17497b3dcd3a",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 22",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 440,
    "y": 1120,
    "wires": []
  },
  {
    "id": "89662a447b6b2883",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 430,
    "y": 1080,
    "wires": [
      [
        "7cba15791d38e848"
      ]
    ]
  },
  {
    "id": "7cba15791d38e848",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "Request_100",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 1080,
    "wires": [
      []
    ]
  },
  {
    "id": "1677ba05b6cd5762",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.10:1880/10/data?key=tray2",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 900,
    "y": 1060,
    "wires": [
      [
        "c9720a706e0f0193",
        "e086ec85d07112ed"
      ]
    ]
  },
  {
    "id": "c9720a706e0f0193",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 11",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1100,
    "y": 1060,
    "wires": []
  },
  {
    "id": "e086ec85d07112ed",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1090,
    "y": 1020,
    "wires": [
      [
        "7b0e0d15a4fd8515"
      ]
    ]
  },
  {
    "id": "7b0e0d15a4fd8515",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "tray_10_2",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1300,
    "y": 1020,
    "wires": [
      []
    ]
  },
  {
    "id": "ac072a4f7e9fc01a",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.100:1880/100/data?key=tray2",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 900,
    "y": 1260,
    "wires": [
      [
        "aeb821ee9c39196d",
        "1f1959f88adef0dd"
      ]
    ]
  },
  {
    "id": "aeb821ee9c39196d",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 12",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1100,
    "y": 1260,
    "wires": []
  },
  {
    "id": "1f1959f88adef0dd",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 1090,
    "y": 1220,
    "wires": [
      [
        "a3aa5c649d16adb8"
      ]
    ]
  },
  {
    "id": "a3aa5c649d16adb8",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "tray_100_2",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1300,
    "y": 1220,
    "wires": [
      []
    ]
  },
  {
    "id": "7ea29ba30d049743",
    "type": "json",
    "z": "195d616b1d9b4582",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 430,
    "y": 1180,
    "wires": [
      [
        "5a8479119367ffcd"
      ]
    ]
  },
  {
    "id": "8ea70833cc501157",
    "type": "http request",
    "z": "195d616b1d9b4582",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.110.40:1880/40/data?key=Request_41",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 240,
    "y": 1220,
    "wires": [
      [
        "4e4291bc6a784853",
        "7ea29ba30d049743"
      ]
    ]
  },
  {
    "id": "5a8479119367ffcd",
    "type": "change",
    "z": "195d616b1d9b4582",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "Request_41",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 1180,
    "wires": [
      []
    ]
  },
  {
    "id": "4e4291bc6a784853",
    "type": "debug",
    "z": "195d616b1d9b4582",
    "name": "debug 37",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 440,
    "y": 1220,
    "wires": []
  }
]