flow_all.json
[
    {
        "id": "195d616b1d9b4582",
        "type": "tab",
        "label": "read",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a4aea46367a594a",
        "type": "tab",
        "label": "line",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc2c1ad2d5df947f",
        "type": "tab",
        "label": "OP10",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eea2dd8802784bed",
        "type": "tab",
        "label": "reset",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0feb82a2b5c0345a",
        "type": "ui_tab",
        "name": "华电-电液阀-线体总览",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "70a9d0aba01b2916",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 3,
                "gy": 3,
                "cx": 3,
                "cy": 3,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6a9bf0ddc6321c2c",
        "type": "ui_group",
        "name": "ALL",
        "tab": "0feb82a2b5c0345a",
        "order": 1,
        "disp": false,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "90a5e4513f523743",
        "type": "ui_tab",
        "name": "OP10",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c570207316879f0",
        "type": "ui_group",
        "name": "ALL2",
        "tab": "90a5e4513f523743",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8319e152e50579ad",
        "type": "ui_spacer",
        "z": "1a4aea46367a594a",
        "name": "spacer",
        "group": "6a9bf0ddc6321c2c",
        "order": 41,
        "width": 7,
        "height": 1
    },
    {
        "id": "0a4689ade940e4d9",
        "type": "inject",
        "z": "195d616b1d9b4582",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 160,
        "wires": [
            [
                "5ffc1943b960a444"
            ]
        ]
    },
    {
        "id": "5ffc1943b960a444",
        "type": "trigger",
        "z": "195d616b1d9b4582",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 640,
        "y": 220,
        "wires": [
            [
                "033f67d01ddddbb2",
                "af324fcd94153a09",
                "b245b4b03bbd8a19",
                "db441cb52bec5b14",
                "14e2527aee25d05f",
                "6fa933d44b4d77a5",
                "bd54ea8d6c2304bb",
                "67f5e3302b43de19",
                "b56e21498eafb7f4",
                "4b68e63f9c616a39",
                "832209938930161c",
                "50e3d55489643e4f",
                "f193b3a272ccc461"
            ]
        ]
    },
    {
        "id": "033f67d01ddddbb2",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.20:1880/20/data?key=IO_20",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 900,
        "y": 220,
        "wires": [
            [
                "3c9ca46f3726f188",
                "b9cdf29a8b8c1b13"
            ]
        ]
    },
    {
        "id": "3c9ca46f3726f188",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 220,
        "wires": []
    },
    {
        "id": "af324fcd94153a09",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.20:1880/30/data?key=IO_30",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 900,
        "y": 300,
        "wires": [
            [
                "103eed69858d0e5b",
                "03e970870a45a05a"
            ]
        ]
    },
    {
        "id": "103eed69858d0e5b",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 300,
        "wires": []
    },
    {
        "id": "b9cdf29a8b8c1b13",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1090,
        "y": 180,
        "wires": [
            [
                "b206e81dd25a3ea4"
            ]
        ]
    },
    {
        "id": "b206e81dd25a3ea4",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_20",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "03e970870a45a05a",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1090,
        "y": 260,
        "wires": [
            [
                "68c19fe3f70e0b25"
            ]
        ]
    },
    {
        "id": "68c19fe3f70e0b25",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_30",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b245b4b03bbd8a19",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.40:1880/40/data?key=IO_40",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 900,
        "y": 380,
        "wires": [
            [
                "c171fbad9c1039ba",
                "1a81b0aa954bb413"
            ]
        ]
    },
    {
        "id": "c171fbad9c1039ba",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "1a81b0aa954bb413",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1090,
        "y": 340,
        "wires": [
            [
                "579a383dedb006f1"
            ]
        ]
    },
    {
        "id": "579a383dedb006f1",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_40",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "db441cb52bec5b14",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.50:1880/50/data?key=IO_50",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 900,
        "y": 460,
        "wires": [
            [
                "9179c08ce476b6d9",
                "2f445792f721d7f1"
            ]
        ]
    },
    {
        "id": "9179c08ce476b6d9",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 460,
        "wires": []
    },
    {
        "id": "2f445792f721d7f1",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1090,
        "y": 420,
        "wires": [
            [
                "e1fdaa03cb0f0fce"
            ]
        ]
    },
    {
        "id": "e1fdaa03cb0f0fce",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_50",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "4b68e63f9c616a39",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.60:1880/60/data?key=IO",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 900,
        "y": 540,
        "wires": [
            [
                "0858338839106e33",
                "93935d27070366c9"
            ]
        ]
    },
    {
        "id": "0858338839106e33",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 540,
        "wires": []
    },
    {
        "id": "93935d27070366c9",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1090,
        "y": 500,
        "wires": [
            [
                "05d37bae239af109"
            ]
        ]
    },
    {
        "id": "05d37bae239af109",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_60",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "14e2527aee25d05f",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.70:1880/70/data?key=IO_70",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 900,
        "y": 620,
        "wires": [
            [
                "77260ccc9634c287",
                "eeb6d1afa9926d25"
            ]
        ]
    },
    {
        "id": "77260ccc9634c287",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 620,
        "wires": []
    },
    {
        "id": "eeb6d1afa9926d25",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1090,
        "y": 580,
        "wires": [
            [
                "5e25e6c11fea5c92"
            ]
        ]
    },
    {
        "id": "5e25e6c11fea5c92",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_70",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "f193b3a272ccc461",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.80:1880/80/data?key=IO_80",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 900,
        "y": 700,
        "wires": [
            [
                "acd500ebc64a5903",
                "135765b1a5681ef1"
            ]
        ]
    },
    {
        "id": "acd500ebc64a5903",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 700,
        "wires": []
    },
    {
        "id": "135765b1a5681ef1",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1090,
        "y": 660,
        "wires": [
            [
                "992cc1aef4f44814"
            ]
        ]
    },
    {
        "id": "992cc1aef4f44814",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_80",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "6fa933d44b4d77a5",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.90:1880/90/data?key=IO_90",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 900,
        "y": 780,
        "wires": [
            [
                "d89d650c08699461",
                "13a422a5e5ddda97"
            ]
        ]
    },
    {
        "id": "d89d650c08699461",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 780,
        "wires": []
    },
    {
        "id": "13a422a5e5ddda97",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1090,
        "y": 740,
        "wires": [
            [
                "77f25ca43707da02"
            ]
        ]
    },
    {
        "id": "77f25ca43707da02",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_90",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "bd54ea8d6c2304bb",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.10:1880/10/data?key=IO_10",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 900,
        "y": 140,
        "wires": [
            [
                "cb35580373685684",
                "96a99e683a88b48d"
            ]
        ]
    },
    {
        "id": "cb35580373685684",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 140,
        "wires": []
    },
    {
        "id": "96a99e683a88b48d",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1090,
        "y": 100,
        "wires": [
            [
                "392426a8e00b3589"
            ]
        ]
    },
    {
        "id": "392426a8e00b3589",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_10",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "67f5e3302b43de19",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.100:1880/100/data?key=IO_100",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 900,
        "y": 860,
        "wires": [
            [
                "586346cb3c836402",
                "fdd141bea5cee90f"
            ]
        ]
    },
    {
        "id": "586346cb3c836402",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 860,
        "wires": []
    },
    {
        "id": "fdd141bea5cee90f",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1090,
        "y": 820,
        "wires": [
            [
                "3876e45032a70e90"
            ]
        ]
    },
    {
        "id": "3876e45032a70e90",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_100",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "b56e21498eafb7f4",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.10:1880/10/data?key=tray1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 900,
        "y": 980,
        "wires": [
            [
                "26d07cd4f599d285",
                "f260b435d7f204d0"
            ]
        ]
    },
    {
        "id": "26d07cd4f599d285",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 980,
        "wires": []
    },
    {
        "id": "f260b435d7f204d0",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1090,
        "y": 940,
        "wires": [
            [
                "3c4a4968d718bc38"
            ]
        ]
    },
    {
        "id": "3c4a4968d718bc38",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tray_10_1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "832209938930161c",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.100:1880/100/data?key=tray1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 900,
        "y": 1060,
        "wires": [
            [
                "820958da12c5cceb",
                "97a4d8dc262e9542"
            ]
        ]
    },
    {
        "id": "820958da12c5cceb",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 1060,
        "wires": []
    },
    {
        "id": "97a4d8dc262e9542",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1090,
        "y": 1020,
        "wires": [
            [
                "7c6cd937cc7329fb"
            ]
        ]
    },
    {
        "id": "7c6cd937cc7329fb",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tray_100_1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "5924db66a8caf683",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.10:1880/10/data?key=Request_10",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 400,
        "wires": [
            [
                "4d31cc7b541b0a34",
                "e00f8599d73c1ba8"
            ]
        ]
    },
    {
        "id": "4d31cc7b541b0a34",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 400,
        "wires": []
    },
    {
        "id": "e00f8599d73c1ba8",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "3d2432272d0af22c"
            ]
        ]
    },
    {
        "id": "3d2432272d0af22c",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Request_10",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "50e3d55489643e4f",
        "type": "function",
        "z": "195d616b1d9b4582",
        "name": "function 13",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 55,
        "y": 360,
        "wires": [
            [
                "5924db66a8caf683",
                "429396d760045066",
                "3642806290064833",
                "33a2515ae062d71f",
                "109d1a9d496b6932",
                "5fca6e23a752d813",
                "c26b1f0cb8cf6462",
                "84ce3b65a2dc0550",
                "b88c035382a4c16b",
                "ba40acf5ba22a41d"
            ]
        ],
        "l": false
    },
    {
        "id": "429396d760045066",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.20:1880/20/data?key=Request_20",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 480,
        "wires": [
            [
                "7b1207bd98953203",
                "46c6b297d59f506c"
            ]
        ]
    },
    {
        "id": "7b1207bd98953203",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 480,
        "wires": []
    },
    {
        "id": "46c6b297d59f506c",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 440,
        "wires": [
            [
                "b48e82b542fa2639"
            ]
        ]
    },
    {
        "id": "b48e82b542fa2639",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Request_20",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "3642806290064833",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.20:1880/30/data?key=Request_30",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 560,
        "wires": [
            [
                "19124bd904cc03eb",
                "dfdf22bc40370fd0"
            ]
        ]
    },
    {
        "id": "19124bd904cc03eb",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 560,
        "wires": []
    },
    {
        "id": "dfdf22bc40370fd0",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 520,
        "wires": [
            [
                "28664cf5897afa25"
            ]
        ]
    },
    {
        "id": "28664cf5897afa25",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Request_30",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "33a2515ae062d71f",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.40:1880/40/data?key=Request_40",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 640,
        "wires": [
            [
                "128924ae004a1f2d",
                "be7906eb459cca82"
            ]
        ]
    },
    {
        "id": "128924ae004a1f2d",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 640,
        "wires": []
    },
    {
        "id": "be7906eb459cca82",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 600,
        "wires": [
            [
                "9eeaa6e1df010376"
            ]
        ]
    },
    {
        "id": "9eeaa6e1df010376",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Request_40",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "b88c035382a4c16b",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.50:1880/50/data?key=Request_50",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 720,
        "wires": [
            [
                "984660a45bc9014a",
                "a7b2a9372a537f44"
            ]
        ]
    },
    {
        "id": "984660a45bc9014a",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 720,
        "wires": []
    },
    {
        "id": "a7b2a9372a537f44",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 680,
        "wires": [
            [
                "097338ae5dc09ce8"
            ]
        ]
    },
    {
        "id": "097338ae5dc09ce8",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Request_50",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ba40acf5ba22a41d",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.60:1880/60/data?key=Request_60",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 800,
        "wires": [
            [
                "e82cda030604646c",
                "12080f5c6833236f"
            ]
        ]
    },
    {
        "id": "e82cda030604646c",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 800,
        "wires": []
    },
    {
        "id": "12080f5c6833236f",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 760,
        "wires": [
            [
                "cd3650894026e395"
            ]
        ]
    },
    {
        "id": "cd3650894026e395",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Request_60",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "c26b1f0cb8cf6462",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.70:1880/70/data?key=Request_70",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 880,
        "wires": [
            [
                "4766d04a647af95d",
                "656028c95f4dc347"
            ]
        ]
    },
    {
        "id": "4766d04a647af95d",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 880,
        "wires": []
    },
    {
        "id": "656028c95f4dc347",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 840,
        "wires": [
            [
                "132a91ab4b263d25"
            ]
        ]
    },
    {
        "id": "132a91ab4b263d25",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Request_70",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "84ce3b65a2dc0550",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.80:1880/80/data?key=Request_80",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 960,
        "wires": [
            [
                "1647e7c7bb09a708",
                "05a78597bfcd1c22"
            ]
        ]
    },
    {
        "id": "1647e7c7bb09a708",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 960,
        "wires": []
    },
    {
        "id": "05a78597bfcd1c22",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 920,
        "wires": [
            [
                "33081dc34e4465c7"
            ]
        ]
    },
    {
        "id": "33081dc34e4465c7",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Request_80",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "5fca6e23a752d813",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.90:1880/90/data?key=Request_90",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 1040,
        "wires": [
            [
                "f354e9c8a0a1ba2a",
                "26f742c669d03a4c"
            ]
        ]
    },
    {
        "id": "f354e9c8a0a1ba2a",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1040,
        "wires": []
    },
    {
        "id": "26f742c669d03a4c",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 1000,
        "wires": [
            [
                "50e15f65e3ab0ffa"
            ]
        ]
    },
    {
        "id": "50e15f65e3ab0ffa",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Request_90",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "109d1a9d496b6932",
        "type": "http request",
        "z": "195d616b1d9b4582",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.100:1880/100/data?key=Request_100",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 1120,
        "wires": [
            [
                "a7ec17497b3dcd3a",
                "89662a447b6b2883"
            ]
        ]
    },
    {
        "id": "a7ec17497b3dcd3a",
        "type": "debug",
        "z": "195d616b1d9b4582",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1120,
        "wires": []
    },
    {
        "id": "89662a447b6b2883",
        "type": "json",
        "z": "195d616b1d9b4582",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 1080,
        "wires": [
            [
                "7cba15791d38e848"
            ]
        ]
    },
    {
        "id": "7cba15791d38e848",
        "type": "change",
        "z": "195d616b1d9b4582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Request_100",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "bce870d2d9da6c30",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "20",
        "group": "6a9bf0ddc6321c2c",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "{{msg.payload}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3e9cb0efbc2bce17",
        "type": "ui_template",
        "z": "1a4aea46367a594a",
        "group": "6a9bf0ddc6321c2c",
        "name": "",
        "order": 42,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .rr_running{\n        background-color:green;\n    }\n    .rr_wait{\n        background-color:yellow;\n    }    \n    .br1 {\n  display: block;\n  margin-bottom: 2px;\n  font-size:2px;\n  line-height: 2px;\n}\n.line18{\n    line-height:18px;\n}\nbutton span{\n    line-height:18px;\n}\nspan{\n    line-height:18px;\n}\n</style>\n<script>\n    \nvar f1 = function(){    \n    const element = document.documentElement; // 获取整个文档的元素\n \n    if (element.requestFullscreen) { // 标准写法\n      element.requestFullscreen();\n    } else if (element.mozRequestFullScreen) { // Firefox 浏览器\n      element.mozRequestFullScreen();\n    } else if (element.webkitRequestFullscreen) { // Chrome 和 Safari\n      element.webkitRequestFullscreen();\n    } else if (element.msRequestFullscreen) { // IE11\n      element.msRequestFullscreen();\n    }\n}\n\nvar f2 = function(){\n    if (document.exitFullscreen) { // 标准写法\n    document.exitFullscreen();\n    } else if (document.mozCancelFullScreen) { // Firefox 浏览器\n      document.mozCancelFullScreen();\n    } else if (document.webkitExitFullscreen) { // Chrome 和 Safari\n      document.webkitExitFullscreen();\n    } else if (document.msExitFullscreen) { // IE11\n      document.msExitFullscreen();\n    }\n}\n\nvar switch_full = 0;\nvar f3 = function(){\n    if(switch_full==0){\n        f1();\n        switch_full = 1;\n    }\n    else{\n        f2();\n        switch_full = 0;\n    }\n}\n    \n</script>\n<button onclick=\"f3()\">全屏</button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 220,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "942104f4ba824830",
        "type": "inject",
        "z": "1a4aea46367a594a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "c1fc61d6ee24a977"
            ]
        ]
    },
    {
        "id": "06722c33485f2b1d",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 1",
        "func": "var IO = global.get(\"IO_10\");\nvar color = \"black\";\nvar background = \"green\";\nif(IO.AI.status==30){\n    background = \"green\";\n}\nelse if(IO.AI.status==4){\n    background = \"yellow\";\n}\nmsg.color = color;\nmsg.background = background;\nvar tray_10_1 = global.get(\"tray_10_1\");\nmsg.payload = \"OP10:&nbsp;\"+IO.AI.status+\"<br/>请求:\"+IO.AI_LCS.request + \",反馈:\"+IO.AI.response+\",托盘:\"+tray_10_1[0]+\",\"+tray_10_1[1]+\",\"+tray_10_1[2];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 260,
        "wires": [
            [
                "23ef358f72a4c293"
            ]
        ]
    },
    {
        "id": "c1fc61d6ee24a977",
        "type": "trigger",
        "z": "1a4aea46367a594a",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "06722c33485f2b1d",
                "639bb9e55e8aaa1c",
                "c2d2ddc1b68f6a48",
                "cdd6c94ef806f04b",
                "28c76f0e3047817d",
                "e579cbfaa6d7a26f",
                "b047cfb70f93e40a",
                "f06971ed8034a152",
                "e41c6fc55ec54c02",
                "1b2c5f9e312f7a6f",
                "a60c3a900faa30dd"
            ]
        ]
    },
    {
        "id": "f791e12097f82b34",
        "type": "ui_audio",
        "z": "1a4aea46367a594a",
        "name": "",
        "group": "6a9bf0ddc6321c2c",
        "voice": "Microsoft Huihui - Chinese (Simplified, PRC)",
        "always": "",
        "x": 560,
        "y": 780,
        "wires": []
    },
    {
        "id": "5408bbbb21b7bbbd",
        "type": "inject",
        "z": "1a4aea46367a594a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SADFASDFASDF",
        "payloadType": "str",
        "x": 360,
        "y": 780,
        "wires": [
            [
                "f791e12097f82b34"
            ]
        ]
    },
    {
        "id": "639bb9e55e8aaa1c",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 2",
        "func": "var IO = global.get(\"IO_20\");\nvar Request = global.get(\"Request_20\");\nvar color = \"black\";\nvar background = \"green\";\nif(IO.AI.status==30){\n    background = \"green\";\n}\nelse if(IO.AI.status==4){\n    background = \"yellow\";\n}\nmsg.color = color;\nmsg.background = background;\nmsg.payload = \"OP20:&nbsp;\"+IO.AI.status+\"<br/>条码:\"+Request.barcode;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 300,
        "wires": [
            [
                "bce870d2d9da6c30"
            ]
        ]
    },
    {
        "id": "23ef358f72a4c293",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "10",
        "group": "6a9bf0ddc6321c2c",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "{{msg.payload}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "line18",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "dcbb3b9b1014d7cf",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "40",
        "group": "6a9bf0ddc6321c2c",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "{{msg.payload}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c2d2ddc1b68f6a48",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 3",
        "func": "var IO = global.get(\"IO_30\");\nvar color = \"black\";\nvar background = \"green\";\nif(IO.AI.status==30){\n    background = \"green\";\n}\nelse if(IO.AI.status==4){\n    background = \"yellow\";\n}\nmsg.color = color;\nmsg.background = background;\nmsg.payload = \"OP30:&nbsp;\"+IO.AI.status;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 340,
        "wires": [
            [
                "be44034bae5e1f23"
            ]
        ]
    },
    {
        "id": "cdd6c94ef806f04b",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 4",
        "func": "var IO = global.get(\"IO_40\");\nvar color = \"black\";\nvar background = \"green\";\nif(IO.AI.status==30){\n    background = \"green\";\n}\nelse if(IO.AI.status==4){\n    background = \"yellow\";\n}\nmsg.color = color;\nmsg.background = background;\nmsg.payload = \"OP40:&nbsp;\"+IO.AI.status+ \",工位:\"+IO.AI.response+ \",左机:\"+IO.AI_SCARA_L.response+ \",右机:\"+IO.AI_SCARA_R.response;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 380,
        "wires": [
            [
                "dcbb3b9b1014d7cf"
            ]
        ]
    },
    {
        "id": "be44034bae5e1f23",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "30",
        "group": "6a9bf0ddc6321c2c",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "{{msg.payload}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "28c76f0e3047817d",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 5",
        "func": "var IO = global.get(\"IO_50\");\nvar color = \"black\";\nvar background = \"green\";\nif(IO.AI.status==30){\n    background = \"green\";\n}\nelse if(IO.AI.status==4){\n    background = \"yellow\";\n}\nmsg.color = color;\nmsg.background = background;\nmsg.payload = \"OP50:&nbsp;\"+IO.AI.status;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 420,
        "wires": [
            [
                "487aba661ecaca06"
            ]
        ]
    },
    {
        "id": "487aba661ecaca06",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "50",
        "group": "6a9bf0ddc6321c2c",
        "order": 17,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "{{msg.payload}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e579cbfaa6d7a26f",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 6",
        "func": "var IO = global.get(\"IO_60\");\nvar color = \"black\";\nvar background = \"green\";\nif(IO.AO.status==30){\n    background = \"green\";\n}\nelse if(IO.AO.status==4){\n    background = \"yellow\";\n}\nmsg.color = color;\nmsg.background = background;\nmsg.payload = \"OP60:&nbsp;\"+IO.AO.status;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 460,
        "wires": [
            [
                "41a9a5416926b48c"
            ]
        ]
    },
    {
        "id": "41a9a5416926b48c",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "60",
        "group": "6a9bf0ddc6321c2c",
        "order": 21,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "{{msg.payload}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "b047cfb70f93e40a",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 7",
        "func": "var IO = global.get(\"IO_70\");\nvar color = \"black\";\nvar background = \"green\";\nif(IO.AI.status==30){\n    background = \"green\";\n}\nelse if(IO.AI.status==4){\n    background = \"yellow\";\n}\nmsg.color = color;\nmsg.background = background;\nmsg.payload = \"OP70:&nbsp;\"+IO.AI.status;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 500,
        "wires": [
            [
                "4ab84cf8214c65cf"
            ]
        ]
    },
    {
        "id": "4ab84cf8214c65cf",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "70",
        "group": "6a9bf0ddc6321c2c",
        "order": 25,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "{{msg.payload}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "1b2c5f9e312f7a6f",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 8",
        "func": "var IO = global.get(\"IO_80\");\nvar color = \"black\";\nvar background = \"green\";\nif(IO.AI.status==30){\n    background = \"green\";\n}\nelse if(IO.AI.status==4){\n    background = \"yellow\";\n}\nmsg.color = color;\nmsg.background = background;\nmsg.payload = \"OP80:&nbsp;\"+IO.AI.status+ \",工位:\"+IO.AI.response+ \",6轴:\"+IO.AI_6axes.response+\",装配:\"+IO.AO_6axes.index_top_tray;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 540,
        "wires": [
            [
                "c2a1dd566e52ed5b"
            ]
        ]
    },
    {
        "id": "c2a1dd566e52ed5b",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "80",
        "group": "6a9bf0ddc6321c2c",
        "order": 29,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "{{msg.payload}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "f06971ed8034a152",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 9",
        "func": "var IO = global.get(\"IO_90\");\nvar color = \"black\";\nvar background = \"green\";\nif(IO.AI.status==30){\n    background = \"green\";\n}\nelse if(IO.AI.status==4){\n    background = \"yellow\";\n}\nmsg.color = color;\nmsg.background = background;\nmsg.payload = \"OP90:&nbsp;\"+IO.AI.status+ \",工位:\"+IO.AI.response+ \",6轴:\"+IO.AI_6axes.response;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 580,
        "wires": [
            [
                "233190948f1c55a2"
            ]
        ]
    },
    {
        "id": "233190948f1c55a2",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "90",
        "group": "6a9bf0ddc6321c2c",
        "order": 33,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "{{msg.payload}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "e41c6fc55ec54c02",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 10",
        "func": "var IO = global.get(\"IO_100\");\nvar color = \"black\";\nvar background = \"green\";\nif(IO.AI.status==30){\n    background = \"green\";\n}\nelse if(IO.AI.status==4){\n    background = \"yellow\";\n}\nmsg.color = color;\nmsg.background = background;\nvar tray_1 = global.get(\"tray_100_1\");\nmsg.payload = \"OP100:&nbsp;\"+IO.AI.status+\",请求:\"+IO.AI_LCS.request + \",反馈:\"+IO.AI.response+\",托盘:\"+tray_1[0]+\",\"+tray_1[1]+\",\"+tray_1[2];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 620,
        "wires": [
            [
                "7bebf4c5e8dc6761"
            ]
        ]
    },
    {
        "id": "7bebf4c5e8dc6761",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "100",
        "group": "6a9bf0ddc6321c2c",
        "order": 37,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "{{msg.payload}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "80d88058cf64fd3e",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 25",
        "func": "node.send([  , {payload:2} ]);",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1040,
        "wires": [
            [
                "933409166ff6af1d"
            ],
            [
                "8e108689d4a53041"
            ]
        ]
    },
    {
        "id": "03d2eb2ecfe07d60",
        "type": "inject",
        "z": "1a4aea46367a594a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 1000,
        "wires": [
            [
                "80d88058cf64fd3e"
            ]
        ]
    },
    {
        "id": "933409166ff6af1d",
        "type": "debug",
        "z": "1a4aea46367a594a",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 1000,
        "wires": []
    },
    {
        "id": "8e108689d4a53041",
        "type": "debug",
        "z": "1a4aea46367a594a",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 1060,
        "wires": []
    },
    {
        "id": "1f838530f791464f",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "20-拿",
        "group": "6a9bf0ddc6321c2c",
        "order": 8,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "拿",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 720,
        "wires": [
            [
                "8f9646671ee439ba"
            ]
        ]
    },
    {
        "id": "113ce935dd275cf7",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "20-放",
        "group": "6a9bf0ddc6321c2c",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "放",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 760,
        "wires": [
            [
                "61998d8d835c2e74"
            ]
        ]
    },
    {
        "id": "0ba48f19174e0b03",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "30-拿",
        "group": "6a9bf0ddc6321c2c",
        "order": 12,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "拿",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 800,
        "wires": [
            [
                "3023c33eef527971"
            ]
        ]
    },
    {
        "id": "552a00e455218c16",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "30-放",
        "group": "6a9bf0ddc6321c2c",
        "order": 10,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "放",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 840,
        "wires": [
            [
                "d7c50134c70b173e"
            ]
        ]
    },
    {
        "id": "b65a6da6aee643cb",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "40-拿",
        "group": "6a9bf0ddc6321c2c",
        "order": 16,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "拿",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 880,
        "wires": [
            [
                "33cf4529e283c5b5"
            ]
        ]
    },
    {
        "id": "971903d29dfdc538",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "40-放",
        "group": "6a9bf0ddc6321c2c",
        "order": 14,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "放",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 920,
        "wires": [
            [
                "9e2770d1bac1a953"
            ]
        ]
    },
    {
        "id": "7a26cf531807c893",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "50-拿",
        "group": "6a9bf0ddc6321c2c",
        "order": 20,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "拿",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 960,
        "wires": [
            [
                "bff7b349e356b009"
            ]
        ]
    },
    {
        "id": "19d12537f0c5e894",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "50-放",
        "group": "6a9bf0ddc6321c2c",
        "order": 18,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "放",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 1000,
        "wires": [
            [
                "5d974f5374e467bc"
            ]
        ]
    },
    {
        "id": "af00684b24cdf19b",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "60-拿",
        "group": "6a9bf0ddc6321c2c",
        "order": 24,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "拿",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 1040,
        "wires": [
            [
                "e64dd0e73bac409d"
            ]
        ]
    },
    {
        "id": "3ccbc2a53bbfbddd",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "60-放",
        "group": "6a9bf0ddc6321c2c",
        "order": 22,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "放",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 1080,
        "wires": [
            [
                "40e16e0e6df81510"
            ]
        ]
    },
    {
        "id": "fd01c6a5190b32b5",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "70-拿",
        "group": "6a9bf0ddc6321c2c",
        "order": 28,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "拿",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 1120,
        "wires": [
            [
                "8f173eaf58552711"
            ]
        ]
    },
    {
        "id": "f8a717bb8ed5a900",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "70-放",
        "group": "6a9bf0ddc6321c2c",
        "order": 26,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "放",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 1160,
        "wires": [
            [
                "a031f0e5d2376890"
            ]
        ]
    },
    {
        "id": "a288c4b5b51367c5",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "80-拿",
        "group": "6a9bf0ddc6321c2c",
        "order": 32,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "拿",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 1200,
        "wires": [
            [
                "370e07a8f672b730"
            ]
        ]
    },
    {
        "id": "2c57b2051fc3333e",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "80-放",
        "group": "6a9bf0ddc6321c2c",
        "order": 30,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "放",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 1240,
        "wires": [
            [
                "05f3fdc6776dc77b"
            ]
        ]
    },
    {
        "id": "e047920d142ca7be",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "90-拿",
        "group": "6a9bf0ddc6321c2c",
        "order": 36,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "拿",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 1280,
        "wires": [
            [
                "1c9239f4dbced227"
            ]
        ]
    },
    {
        "id": "3a70c00a17dc29d1",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "90-放",
        "group": "6a9bf0ddc6321c2c",
        "order": 34,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "放",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 1320,
        "wires": [
            [
                "f17269ee589d956c"
            ]
        ]
    },
    {
        "id": "7650f50e57f59024",
        "type": "ui_toast",
        "z": "1a4aea46367a594a",
        "position": "bottom left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1450,
        "y": 880,
        "wires": []
    },
    {
        "id": "6edc6613bce0fe9f",
        "type": "http request",
        "z": "1a4aea46367a594a",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1325,
        "y": 880,
        "wires": [
            [
                "7650f50e57f59024"
            ]
        ],
        "l": false
    },
    {
        "id": "8f9646671ee439ba",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 26",
        "func": "var data = {\"RequestID\":111111,\"Value\":21,\"Address\":4010};\nvar url = \"http://192.168.110.10:1880/10/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 720,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "61998d8d835c2e74",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 27",
        "func": "var data = {\"RequestID\":111111,\"Value\":20,\"Address\":4010};\nvar url = \"http://192.168.110.10:1880/10/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 760,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "3023c33eef527971",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 28",
        "func": "var data = {\"RequestID\":111111,\"Value\":31,\"Address\":4010};\nvar url = \"http://192.168.110.10:1880/10/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 800,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "d7c50134c70b173e",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 29",
        "func": "var data = {\"RequestID\":111111,\"Value\":30,\"Address\":4010};\nvar url = \"http://192.168.110.10:1880/10/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 840,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "33cf4529e283c5b5",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 30",
        "func": "var data = {\"RequestID\":111111,\"Value\":41,\"Address\":4010};\nvar url = \"http://192.168.110.10:1880/10/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 880,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "9e2770d1bac1a953",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 31",
        "func": "var data = {\"RequestID\":111111,\"Value\":40,\"Address\":4010};\nvar url = \"http://192.168.110.10:1880/10/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 920,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "bff7b349e356b009",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 32",
        "func": "var data = {\"RequestID\":111111,\"Value\":51,\"Address\":4010};\nvar url = \"http://192.168.110.10:1880/10/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 960,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "5d974f5374e467bc",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 33",
        "func": "var data = {\"RequestID\":111111,\"Value\":50,\"Address\":4010};\nvar url = \"http://192.168.110.10:1880/10/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 1000,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "e64dd0e73bac409d",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 34",
        "func": "var data = {\"RequestID\":111111,\"Value\":61,\"Address\":4100};\nvar url = \"http://192.168.110.100:1880/100/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 1040,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "40e16e0e6df81510",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 35",
        "func": "var data = {\"RequestID\":111111,\"Value\":60,\"Address\":4010};\nvar url = \"http://192.168.110.10:1880/10/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 1080,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "8f173eaf58552711",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 36",
        "func": "var data = {\"RequestID\":111111,\"Value\":71,\"Address\":4100};\nvar url = \"http://192.168.110.100:1880/100/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 1120,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "a031f0e5d2376890",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 37",
        "func": "var data = {\"RequestID\":111111,\"Value\":70,\"Address\":4100};\nvar url = \"http://192.168.110.100:1880/100/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 1160,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "370e07a8f672b730",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 38",
        "func": "var data = {\"RequestID\":111111,\"Value\":81,\"Address\":4100};\nvar url = \"http://192.168.110.100:1880/100/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 1200,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "05f3fdc6776dc77b",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 39",
        "func": "var data = {\"RequestID\":111111,\"Value\":80,\"Address\":4100};\nvar url = \"http://192.168.110.100:1880/100/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 1240,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "1c9239f4dbced227",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 40",
        "func": "var data = {\"RequestID\":111111,\"Value\":91,\"Address\":4100};\nvar url = \"http://192.168.110.100:1880/100/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 1280,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "f17269ee589d956c",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 41",
        "func": "var data = {\"RequestID\":111111,\"Value\":90,\"Address\":4100};\nvar url = \"http://192.168.110.100:1880/100/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 1320,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "085fc688a3c836db",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "20-产",
        "group": "6a9bf0ddc6321c2c",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "产",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 990,
        "y": 1380,
        "wires": [
            [
                "c1894a83918067ea"
            ]
        ]
    },
    {
        "id": "c7643338b501d179",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "30-产",
        "group": "6a9bf0ddc6321c2c",
        "order": 11,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "产",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 990,
        "y": 1420,
        "wires": [
            [
                "db26c2869f65e1cd"
            ]
        ]
    },
    {
        "id": "cedb9776694d6785",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "40-产",
        "group": "6a9bf0ddc6321c2c",
        "order": 15,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "产",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 990,
        "y": 1460,
        "wires": [
            [
                "de904218cc035400"
            ]
        ]
    },
    {
        "id": "125cc3bdb4583e70",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "50-产",
        "group": "6a9bf0ddc6321c2c",
        "order": 19,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "产",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 990,
        "y": 1500,
        "wires": [
            [
                "f617302b838d60df"
            ]
        ]
    },
    {
        "id": "5921f27d2c48320e",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "60-产",
        "group": "6a9bf0ddc6321c2c",
        "order": 23,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "产",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 990,
        "y": 1540,
        "wires": [
            [
                "902a12a791fecf92"
            ]
        ]
    },
    {
        "id": "db0009995eae66ab",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "70-产",
        "group": "6a9bf0ddc6321c2c",
        "order": 27,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "产",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 990,
        "y": 1580,
        "wires": [
            [
                "b7c88fd67217649f"
            ]
        ]
    },
    {
        "id": "bd18dfe1573666df",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "80-产",
        "group": "6a9bf0ddc6321c2c",
        "order": 31,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "产",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 990,
        "y": 1620,
        "wires": [
            [
                "01b92358bc186a5c"
            ]
        ]
    },
    {
        "id": "2e0580508fceed1d",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "90-产",
        "group": "6a9bf0ddc6321c2c",
        "order": 35,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "产",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 990,
        "y": 1660,
        "wires": [
            [
                "6fb51d7812105446"
            ]
        ]
    },
    {
        "id": "af67f3c9f50b5b88",
        "type": "http request",
        "z": "1a4aea46367a594a",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1335,
        "y": 1520,
        "wires": [
            [
                "f64f8dc5a6396591"
            ]
        ],
        "l": false
    },
    {
        "id": "f64f8dc5a6396591",
        "type": "ui_toast",
        "z": "1a4aea46367a594a",
        "position": "bottom left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1460,
        "y": 1520,
        "wires": []
    },
    {
        "id": "c1894a83918067ea",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 42",
        "func": "var data = {\"RequestID\":111111,\"Value\":20,\"Address\":4020};\nvar url = \"http://192.168.110.20:1880/20/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 1380,
        "wires": [
            [
                "af67f3c9f50b5b88"
            ]
        ],
        "l": false
    },
    {
        "id": "db26c2869f65e1cd",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 43",
        "func": "var data = {\"RequestID\":111111,\"Value\":30,\"Address\":4030};\nvar url = \"http://192.168.110.20:1880/30/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 1420,
        "wires": [
            [
                "af67f3c9f50b5b88"
            ]
        ],
        "l": false
    },
    {
        "id": "de904218cc035400",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 44",
        "func": "var data = {\"RequestID\":111111,\"Value\":40,\"Address\":4040};\nvar url = \"http://192.168.110.40:1880/40/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 1460,
        "wires": [
            [
                "af67f3c9f50b5b88"
            ]
        ],
        "l": false
    },
    {
        "id": "f617302b838d60df",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 45",
        "func": "var data = {\"RequestID\":111111,\"Value\":50,\"Address\":4050};\nvar url = \"http://192.168.110.50:1880/50/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 1500,
        "wires": [
            [
                "af67f3c9f50b5b88"
            ]
        ],
        "l": false
    },
    {
        "id": "902a12a791fecf92",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 46",
        "func": "var data = {\"RequestID\":111111,\"Value\":60,\"Address\":4060};\nvar url = \"http://192.168.110.60:1880/60/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 1540,
        "wires": [
            [
                "af67f3c9f50b5b88"
            ]
        ],
        "l": false
    },
    {
        "id": "b7c88fd67217649f",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 47",
        "func": "var data = {\"RequestID\":111111,\"Value\":70,\"Address\":4070};\nvar url = \"http://192.168.110.70:1880/70/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 1580,
        "wires": [
            [
                "af67f3c9f50b5b88"
            ]
        ],
        "l": false
    },
    {
        "id": "01b92358bc186a5c",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 48",
        "func": "var data = {\"RequestID\":111111,\"Value\":80,\"Address\":4080};\nvar url = \"http://192.168.110.80:1880/80/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 1620,
        "wires": [
            [
                "af67f3c9f50b5b88"
            ]
        ],
        "l": false
    },
    {
        "id": "6fb51d7812105446",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 49",
        "func": "var data = {\"RequestID\":111111,\"Value\":90,\"Address\":4090};\nvar url = \"http://192.168.110.90:1880/90/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1085,
        "y": 1660,
        "wires": [
            [
                "af67f3c9f50b5b88"
            ]
        ],
        "l": false
    },
    {
        "id": "6f612a55d26eacfc",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "10-拿",
        "group": "6a9bf0ddc6321c2c",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "拿",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1270,
        "y": 720,
        "wires": [
            [
                "19fb0d06a09714ce"
            ]
        ]
    },
    {
        "id": "e8f348d2292c0d26",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "10-放",
        "group": "6a9bf0ddc6321c2c",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "放",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1270,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "19fb0d06a09714ce",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 50",
        "func": "var data = {\"RequestID\":111111,\"Value\":12,\"Address\":4010};\nvar url = \"http://192.168.110.10:1880/10/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1375,
        "y": 720,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "16fa3da43df536cc",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "10-拍",
        "group": "6a9bf0ddc6321c2c",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "拍",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1270,
        "y": 800,
        "wires": [
            [
                "ce769d04c73ecd1b"
            ]
        ]
    },
    {
        "id": "a60c3a900faa30dd",
        "type": "link out",
        "z": "1a4aea46367a594a",
        "name": "RESET",
        "mode": "link",
        "links": [
            "1c5f14b0d8c2bb46"
        ],
        "x": 425,
        "y": 120,
        "wires": []
    },
    {
        "id": "19c8c3fbef88a5b6",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "100-拿",
        "group": "6a9bf0ddc6321c2c",
        "order": 40,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "拿",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1270,
        "y": 580,
        "wires": [
            [
                "e0020aeda676549d"
            ]
        ]
    },
    {
        "id": "6f0a46d964644408",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "100-放",
        "group": "6a9bf0ddc6321c2c",
        "order": 38,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "放",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1270,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "86a730ef380ebcc0",
        "type": "ui_button",
        "z": "1a4aea46367a594a",
        "name": "100-拍",
        "group": "6a9bf0ddc6321c2c",
        "order": 39,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "拍",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1270,
        "y": 660,
        "wires": [
            [
                "fd0de67e3fe012a1"
            ]
        ]
    },
    {
        "id": "ce769d04c73ecd1b",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 54",
        "func": "var data = {\"RequestID\":111111,\"Value\":10,\"Address\":4010};\nvar url = \"http://192.168.110.10:1880/10/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1375,
        "y": 800,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "e0020aeda676549d",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 55",
        "func": "var data = {\"RequestID\":111111,\"Value\":12,\"Address\":4100};\nvar url = \"http://192.168.110.100:1880/100/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1375,
        "y": 580,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "fd0de67e3fe012a1",
        "type": "function",
        "z": "1a4aea46367a594a",
        "name": "function 56",
        "func": "var data = {\"RequestID\":111111,\"Value\":10,\"Address\":4100};\nvar url = \"http://192.168.110.100:1880/100/DoAction\";\nmsg.url = url;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1375,
        "y": 660,
        "wires": [
            [
                "6edc6613bce0fe9f"
            ]
        ],
        "l": false
    },
    {
        "id": "24c40564537e0ddb",
        "type": "ui_button",
        "z": "dc2c1ad2d5df947f",
        "name": "40",
        "group": "7c570207316879f0",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "{{msg.payload}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "fa-circle-thin",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "efa834e330d34bc9",
        "type": "function",
        "z": "dc2c1ad2d5df947f",
        "name": "function 11",
        "func": "var IO = global.get(\"IO_10\");\nvar color = \"black\";\nvar background = \"green\";\nvar val = IO.DI.DI_JiTing;\nif(val==1){\n    background = \"green\";\n}\nelse {\n    background = \"yellow\";\n}\nmsg.color = color;\nmsg.background = background;\nmsg.payload = \"DI_JiTing\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 220,
        "wires": [
            [
                "24c40564537e0ddb"
            ]
        ]
    },
    {
        "id": "56579577f7d2f10b",
        "type": "inject",
        "z": "dc2c1ad2d5df947f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "326e2c91f5accb33"
            ]
        ]
    },
    {
        "id": "326e2c91f5accb33",
        "type": "trigger",
        "z": "dc2c1ad2d5df947f",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "efa834e330d34bc9",
                "e2d7397070058578"
            ]
        ]
    },
    {
        "id": "41e7323fdf2c6f84",
        "type": "ui_button",
        "z": "dc2c1ad2d5df947f",
        "name": "40",
        "group": "7c570207316879f0",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "{{msg.payload}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "fa-exclamation-circle",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e2d7397070058578",
        "type": "function",
        "z": "dc2c1ad2d5df947f",
        "name": "function 12",
        "func": "var IO = global.get(\"IO_10\");\nvar color = \"black\";\nvar background = \"green\";\nvar val = IO.DI.DI_JiTing;\nif(val==1){\n    background = \"green\";\n}\nelse {\n    background = \"yellow\";\n}\nmsg.color = color;\nmsg.background = background;\nmsg.payload = \"DI_JiTing\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 260,
        "wires": [
            [
                "41e7323fdf2c6f84"
            ]
        ]
    },
    {
        "id": "d8eb28d81804d58a",
        "type": "function",
        "z": "eea2dd8802784bed",
        "name": "function 14",
        "func": "var Request = global.get(\"Request_10\");\nvar color = \"black\";\nvar background = \"rgb(0,148,206)\";\nif(Request.RequestID!='-'){\n    background = \"yellow\";\n}\n\nmsg.color = color;\nmsg.background = background;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 300,
        "wires": [
            [
                "6864773f671e59d3"
            ]
        ]
    },
    {
        "id": "6864773f671e59d3",
        "type": "ui_button",
        "z": "eea2dd8802784bed",
        "name": "10清",
        "group": "7c570207316879f0",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "10清",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 300,
        "wires": [
            [
                "e0db9e84c2e4ccb2"
            ]
        ]
    },
    {
        "id": "cc68bd9bec68472e",
        "type": "function",
        "z": "eea2dd8802784bed",
        "name": "function 16",
        "func": "var Request = global.get(\"Request_20\");\nvar color = \"black\";\nvar background = \"green\";\nmsg.payload = \"清\";\nif(Request.RequestID=='-'){\n    background = \"yellow\";\n}\n\nmsg.color = color;\nmsg.background = background;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 340,
        "wires": [
            [
                "98b2f0e2f7d2f48c"
            ]
        ]
    },
    {
        "id": "98b2f0e2f7d2f48c",
        "type": "ui_button",
        "z": "eea2dd8802784bed",
        "name": "20清",
        "group": "7c570207316879f0",
        "order": 57,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "20清",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 340,
        "wires": [
            [
                "9b4bf8a9459e0244"
            ]
        ]
    },
    {
        "id": "7ca1393eaef4e540",
        "type": "function",
        "z": "eea2dd8802784bed",
        "name": "function 17",
        "func": "var Request = global.get(\"Request_30\");\nvar color = \"black\";\nvar background = \"green\";\nmsg.payload = \"清\";\nif(Request.RequestID=='-'){\n    background = \"yellow\";\n}\n\nmsg.color = color;\nmsg.background = background;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 380,
        "wires": [
            [
                "f46958d3944a13d8"
            ]
        ]
    },
    {
        "id": "f46958d3944a13d8",
        "type": "ui_button",
        "z": "eea2dd8802784bed",
        "name": "30清",
        "group": "7c570207316879f0",
        "order": 14,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "30清",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 380,
        "wires": [
            [
                "dd9ee5c2596ef0bc"
            ]
        ]
    },
    {
        "id": "546958efadc899af",
        "type": "function",
        "z": "eea2dd8802784bed",
        "name": "function 18",
        "func": "var Request = global.get(\"Request_40\");\nvar color = \"black\";\nvar background = \"green\";\nmsg.payload = \"清\";\nif(Request.RequestID=='-'){\n    background = \"yellow\";\n}\n\nmsg.color = color;\nmsg.background = background;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 420,
        "wires": [
            [
                "3f73151028b808c1"
            ]
        ]
    },
    {
        "id": "3f73151028b808c1",
        "type": "ui_button",
        "z": "eea2dd8802784bed",
        "name": "40清",
        "group": "7c570207316879f0",
        "order": 23,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "40清",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 420,
        "wires": [
            [
                "747ecbbba76ae858"
            ]
        ]
    },
    {
        "id": "af043bbd5d33a8c6",
        "type": "function",
        "z": "eea2dd8802784bed",
        "name": "function 19",
        "func": "var Request = global.get(\"Request_50\");\nvar color = \"black\";\nvar background = \"green\";\nmsg.payload = \"清\";\nif(Request.RequestID=='-'){\n    background = \"yellow\";\n}\n\nmsg.color = color;\nmsg.background = background;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 460,
        "wires": [
            [
                "c6d63fb8affc3d20"
            ]
        ]
    },
    {
        "id": "c6d63fb8affc3d20",
        "type": "ui_button",
        "z": "eea2dd8802784bed",
        "name": "50清",
        "group": "7c570207316879f0",
        "order": 33,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "50清",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 460,
        "wires": [
            [
                "504acac50e81edfd"
            ]
        ]
    },
    {
        "id": "2ddbcd6bce9f4b9d",
        "type": "function",
        "z": "eea2dd8802784bed",
        "name": "function 20",
        "func": "var Request = global.get(\"Request_60\");\nvar color = \"black\";\nvar background = \"green\";\nmsg.payload = \"清\";\nif(Request.RequestID=='-'){\n    background = \"yellow\";\n}\n\nmsg.color = color;\nmsg.background = background;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 500,
        "wires": [
            [
                "12bebe530dd7a465"
            ]
        ]
    },
    {
        "id": "12bebe530dd7a465",
        "type": "ui_button",
        "z": "eea2dd8802784bed",
        "name": "60清",
        "group": "7c570207316879f0",
        "order": 45,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "60清",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 500,
        "wires": [
            [
                "78af1c27814b50c8"
            ]
        ]
    },
    {
        "id": "4e5461d97b9b41c4",
        "type": "function",
        "z": "eea2dd8802784bed",
        "name": "function 21",
        "func": "var Request = global.get(\"Request_70\");\nvar color = \"black\";\nvar background = \"green\";\nmsg.payload = \"清\";\nif(Request.RequestID=='-'){\n    background = \"yellow\";\n}\n\nmsg.color = color;\nmsg.background = background;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 540,
        "wires": [
            [
                "fb0b32ab670a1a48"
            ]
        ]
    },
    {
        "id": "fb0b32ab670a1a48",
        "type": "ui_button",
        "z": "eea2dd8802784bed",
        "name": "70清",
        "group": "7c570207316879f0",
        "order": 53,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "70清",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 540,
        "wires": [
            [
                "56d68235fd4e1b67"
            ]
        ]
    },
    {
        "id": "6ebdbb81fef59859",
        "type": "function",
        "z": "eea2dd8802784bed",
        "name": "function 22",
        "func": "var Request = global.get(\"Request_80\");\nvar color = \"black\";\nvar background = \"green\";\nmsg.payload = \"清\";\nif(Request.RequestID=='-'){\n    background = \"yellow\";\n}\n\nmsg.color = color;\nmsg.background = background;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 580,
        "wires": [
            [
                "dfd7da969dd7332b"
            ]
        ]
    },
    {
        "id": "dfd7da969dd7332b",
        "type": "ui_button",
        "z": "eea2dd8802784bed",
        "name": "80清",
        "group": "7c570207316879f0",
        "order": 63,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "80清",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 580,
        "wires": [
            [
                "a1f4fe57c466bfca"
            ]
        ]
    },
    {
        "id": "b85ee927c3796faa",
        "type": "function",
        "z": "eea2dd8802784bed",
        "name": "function 23",
        "func": "var Request = global.get(\"Request_90\");\nvar color = \"black\";\nvar background = \"green\";\nmsg.payload = \"清\";\nif(Request.RequestID=='-'){\n    background = \"yellow\";\n}\n\nmsg.color = color;\nmsg.background = background;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 620,
        "wires": [
            [
                "3135748296942b78"
            ]
        ]
    },
    {
        "id": "3135748296942b78",
        "type": "ui_button",
        "z": "eea2dd8802784bed",
        "name": "90清",
        "group": "7c570207316879f0",
        "order": 68,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "90清",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 620,
        "wires": [
            [
                "b15b86bcc06b3d14"
            ]
        ]
    },
    {
        "id": "d7782bc3c1cff928",
        "type": "function",
        "z": "eea2dd8802784bed",
        "name": "function 24",
        "func": "var Request = global.get(\"Request_100\");\nvar color = \"black\";\nvar background = \"green\";\n\nif(Request.RequestID=='-'){\n    background = \"yellow\";\n}\n\nmsg.color = color;\nmsg.background = background;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 660,
        "wires": [
            [
                "7016273c420c032f"
            ]
        ]
    },
    {
        "id": "7016273c420c032f",
        "type": "ui_button",
        "z": "eea2dd8802784bed",
        "name": "100清",
        "group": "7c570207316879f0",
        "order": 56,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "100清",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 660,
        "wires": [
            [
                "03e79e5fd566bb4f"
            ]
        ]
    },
    {
        "id": "e0db9e84c2e4ccb2",
        "type": "http request",
        "z": "eea2dd8802784bed",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.10:1880/10/RequestID",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 300,
        "wires": [
            [
                "1147b30f366b671d"
            ]
        ]
    },
    {
        "id": "1147b30f366b671d",
        "type": "debug",
        "z": "eea2dd8802784bed",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 300,
        "wires": []
    },
    {
        "id": "9b4bf8a9459e0244",
        "type": "http request",
        "z": "eea2dd8802784bed",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.20:1880/20/RequestID",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 340,
        "wires": [
            [
                "2cc165c20bb7e0f2"
            ]
        ]
    },
    {
        "id": "2cc165c20bb7e0f2",
        "type": "debug",
        "z": "eea2dd8802784bed",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 340,
        "wires": []
    },
    {
        "id": "dd9ee5c2596ef0bc",
        "type": "http request",
        "z": "eea2dd8802784bed",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.20:1880/30/RequestID",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 380,
        "wires": [
            [
                "0849c1a3562de2e0"
            ]
        ]
    },
    {
        "id": "0849c1a3562de2e0",
        "type": "debug",
        "z": "eea2dd8802784bed",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 380,
        "wires": []
    },
    {
        "id": "747ecbbba76ae858",
        "type": "http request",
        "z": "eea2dd8802784bed",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.40:1880/40/RequestID",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 420,
        "wires": [
            [
                "5c3c5b7614f322bf"
            ]
        ]
    },
    {
        "id": "5c3c5b7614f322bf",
        "type": "debug",
        "z": "eea2dd8802784bed",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 420,
        "wires": []
    },
    {
        "id": "504acac50e81edfd",
        "type": "http request",
        "z": "eea2dd8802784bed",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.50:1880/50/RequestID",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 460,
        "wires": [
            [
                "43347684a990c792"
            ]
        ]
    },
    {
        "id": "43347684a990c792",
        "type": "debug",
        "z": "eea2dd8802784bed",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 460,
        "wires": []
    },
    {
        "id": "78af1c27814b50c8",
        "type": "http request",
        "z": "eea2dd8802784bed",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.60:1880/60/RequestID",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 500,
        "wires": [
            [
                "30f602ef698685a7"
            ]
        ]
    },
    {
        "id": "30f602ef698685a7",
        "type": "debug",
        "z": "eea2dd8802784bed",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 500,
        "wires": []
    },
    {
        "id": "56d68235fd4e1b67",
        "type": "http request",
        "z": "eea2dd8802784bed",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.70:1880/70/RequestID",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 540,
        "wires": [
            [
                "b621483531d94012"
            ]
        ]
    },
    {
        "id": "b621483531d94012",
        "type": "debug",
        "z": "eea2dd8802784bed",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 540,
        "wires": []
    },
    {
        "id": "a1f4fe57c466bfca",
        "type": "http request",
        "z": "eea2dd8802784bed",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.80:1880/80/RequestID",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 580,
        "wires": [
            [
                "d40338f0eefe3b05"
            ]
        ]
    },
    {
        "id": "d40338f0eefe3b05",
        "type": "debug",
        "z": "eea2dd8802784bed",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 580,
        "wires": []
    },
    {
        "id": "b15b86bcc06b3d14",
        "type": "http request",
        "z": "eea2dd8802784bed",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.90:1880/90/RequestID",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 620,
        "wires": [
            [
                "35e9c661d0327f18"
            ]
        ]
    },
    {
        "id": "35e9c661d0327f18",
        "type": "debug",
        "z": "eea2dd8802784bed",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 620,
        "wires": []
    },
    {
        "id": "03e79e5fd566bb4f",
        "type": "http request",
        "z": "eea2dd8802784bed",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.110.100:1880/100/RequestID",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 660,
        "wires": [
            [
                "4e7e09d6e2954d5f"
            ]
        ]
    },
    {
        "id": "4e7e09d6e2954d5f",
        "type": "debug",
        "z": "eea2dd8802784bed",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 660,
        "wires": []
    },
    {
        "id": "77cadcf2be74a279",
        "type": "function",
        "z": "eea2dd8802784bed",
        "name": "function 15",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 525,
        "y": 240,
        "wires": [
            [
                "d8eb28d81804d58a",
                "cc68bd9bec68472e",
                "7ca1393eaef4e540",
                "af043bbd5d33a8c6",
                "546958efadc899af",
                "2ddbcd6bce9f4b9d",
                "4e5461d97b9b41c4",
                "b85ee927c3796faa",
                "d7782bc3c1cff928",
                "6ebdbb81fef59859"
            ]
        ],
        "l": false
    },
    {
        "id": "1c5f14b0d8c2bb46",
        "type": "link in",
        "z": "eea2dd8802784bed",
        "name": "RESET",
        "links": [
            "a60c3a900faa30dd"
        ],
        "x": 385,
        "y": 240,
        "wires": [
            [
                "77cadcf2be74a279"
            ]
        ]
    }
]