OP40/flows/feng.json
[
  {
    "id": "4745e401e91aabe4",
    "type": "tab",
    "label": "feng",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d5a551b0b471b912",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "内轨道移动到左侧拍照位",
    "env": [
      {
        "name": "request",
        "value": "210",
        "type": "num"
      }
    ],
    "x": 150,
    "y": 140,
    "wires": [
      [
        "351b555e6478f462"
      ]
    ]
  },
  {
    "id": "351b555e6478f462",
    "type": "subflow:f7971c0dbc233cfb",
    "z": "4745e401e91aabe4",
    "name": "左侧scara拍照 内轨道",
    "env": [
      {
        "name": "SCARA-L",
        "value": "100",
        "type": "num"
      },
      {
        "name": "asdf",
        "value": "100",
        "type": "num"
      },
      {
        "name": "request",
        "value": "120",
        "type": "num"
      }
    ],
    "x": 380,
    "y": 140,
    "wires": [
      [
        "331b9485feb28b32"
      ]
    ]
  },
  {
    "id": "331b9485feb28b32",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "内轨道视觉定位平移到装配位置",
    "env": [
      {
        "name": "request",
        "value": "230",
        "type": "num"
      }
    ],
    "x": 650,
    "y": 140,
    "wires": [
      [
        "078c57c22f1c0353"
      ]
    ]
  },
  {
    "id": "078c57c22f1c0353",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "左侧内轨道未装配完",
    "property": "IO_40.AO_SCARA_L.idx_in_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "IO_40.AO.left_max",
        "vt": "global"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 920,
    "y": 140,
    "wires": [
      [
        "664e3b7b40ab7150"
      ],
      []
    ]
  },
  {
    "id": "664e3b7b40ab7150",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "左侧有物料",
    "property": "IO_40.AO_SCARA_L.material_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "20",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1130,
    "y": 140,
    "wires": [
      [
        "d8147a880fb278b3"
      ],
      [
        "db92967524cc4a7f"
      ]
    ]
  },
  {
    "id": "13bd0c8b45c78cca",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "物料递减",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_L.material_left ++;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1760,
    "y": 80,
    "wires": [
      [
        "b6c73b693fe1d72a"
      ]
    ]
  },
  {
    "id": "644d44f9f78f8567",
    "type": "subflow:f7971c0dbc233cfb",
    "z": "4745e401e91aabe4",
    "name": "左侧放喷油",
    "env": [
      {
        "name": "SCARA-L",
        "value": "130",
        "type": "num"
      },
      {
        "name": "asdf",
        "value": "130",
        "type": "num"
      },
      {
        "name": "request",
        "value": "130",
        "type": "num"
      }
    ],
    "x": 1590,
    "y": 80,
    "wires": [
      [
        "13bd0c8b45c78cca"
      ]
    ]
  },
  {
    "id": "807bea7da480ce69",
    "type": "subflow:f7971c0dbc233cfb",
    "z": "4745e401e91aabe4",
    "name": "左侧取料",
    "env": [
      {
        "name": "SCARA-L",
        "value": "120",
        "type": "num"
      },
      {
        "name": "asdf",
        "value": "120",
        "type": "num"
      },
      {
        "name": "request",
        "value": "120",
        "type": "num"
      }
    ],
    "x": 1380,
    "y": 80,
    "wires": [
      [
        "1e6c6f0171d2b032"
      ]
    ]
  },
  {
    "id": "d8147a880fb278b3",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "",
    "property": "IO_40.AO_SCARA_L.material_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "btwn",
        "v": "1",
        "vt": "num",
        "v2": "20",
        "v2t": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1255,
    "y": 80,
    "wires": [
      [
        "807bea7da480ce69"
      ],
      []
    ],
    "l": false
  },
  {
    "id": "3212fde0ab1f683d",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "装配数递增",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_L.idx_in_left ++;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2730,
    "y": 80,
    "wires": [
      [
        "3d27adfc07e31a94"
      ]
    ]
  },
  {
    "id": "a1480d63665c6ff1",
    "type": "subflow:f7971c0dbc233cfb",
    "z": "4745e401e91aabe4",
    "name": "左侧内轨道装配",
    "env": [
      {
        "name": "asdf",
        "value": "170",
        "type": "num"
      },
      {
        "name": "request",
        "value": "150",
        "type": "num"
      }
    ],
    "x": 2540,
    "y": 80,
    "wires": [
      [
        "3212fde0ab1f683d"
      ]
    ]
  },
  {
    "id": "35957c8c712a4a9e",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "左喷油",
    "env": [
      {
        "name": "request",
        "value": "600",
        "type": "num"
      }
    ],
    "x": 2310,
    "y": 80,
    "wires": [
      [
        "1ed20e0b9be6a80a"
      ]
    ]
  },
  {
    "id": "1ed20e0b9be6a80a",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "",
    "property": "IO_40.AO_SCARA_L.idx_in_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "btwn",
        "v": "1",
        "vt": "num",
        "v2": "5",
        "v2t": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2415,
    "y": 80,
    "wires": [
      [
        "a1480d63665c6ff1"
      ],
      []
    ],
    "l": false
  },
  {
    "id": "3d27adfc07e31a94",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "结束",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2870,
    "y": 180,
    "wires": [
      [
        "a89baac347d3aa4e"
      ]
    ]
  },
  {
    "id": "a89baac347d3aa4e",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "左侧内轨道未装配完",
    "property": "IO_40.AO_SCARA_L.idx_in_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "5",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2920,
    "y": 280,
    "wires": [
      [
        "65018a77744ca7ea"
      ],
      [
        "bf1cde81188fadaa"
      ]
    ]
  },
  {
    "id": "65018a77744ca7ea",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "无用点",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 730,
    "y": 220,
    "wires": [
      [
        "078c57c22f1c0353"
      ]
    ]
  },
  {
    "id": "507da923bcce936f",
    "type": "change",
    "z": "4745e401e91aabe4",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_L.idx_in_left",
        "pt": "global",
        "to": "1",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_R.idx_in_right",
        "pt": "global",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 55,
    "y": 360,
    "wires": [
      [
        "d5a551b0b471b912"
      ]
    ],
    "l": false
  },
  {
    "id": "e33ad8d776a7228a",
    "type": "inject",
    "z": "4745e401e91aabe4",
    "name": "初始化",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 510,
    "y": 40,
    "wires": [
      [
        "be84ebebb1b8eb85"
      ]
    ]
  },
  {
    "id": "be84ebebb1b8eb85",
    "type": "change",
    "z": "4745e401e91aabe4",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_L.material_left",
        "pt": "global",
        "to": "1",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_L.idx_in_left",
        "pt": "global",
        "to": "1",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_R.material_right",
        "pt": "global",
        "to": "1",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_R.idx_in_right",
        "pt": "global",
        "to": "1",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO.tray_in_left",
        "pt": "global",
        "to": "3",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO.tray_out_left",
        "pt": "global",
        "to": "2",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO.tray_in_right",
        "pt": "global",
        "to": "5",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO.tray_out_right",
        "pt": "global",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 615,
    "y": 40,
    "wires": [
      [
        "e1119b9fc1804062"
      ]
    ],
    "l": false
  },
  {
    "id": "442085533ad77fcd",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "左侧料盘初始化",
    "env": [
      {
        "name": "request",
        "value": "340",
        "type": "num"
      }
    ],
    "x": 800,
    "y": 40,
    "wires": [
      [
        "50dd90cae182b0d3"
      ]
    ]
  },
  {
    "id": "3d11b1f31c12387e",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "右侧料盘初始化",
    "env": [
      {
        "name": "request",
        "value": "440",
        "type": "num"
      }
    ],
    "x": 1060,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "e1119b9fc1804062",
    "type": "delay",
    "z": "4745e401e91aabe4",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 675,
    "y": 40,
    "wires": [
      [
        "442085533ad77fcd"
      ]
    ],
    "l": false
  },
  {
    "id": "50dd90cae182b0d3",
    "type": "delay",
    "z": "4745e401e91aabe4",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 925,
    "y": 40,
    "wires": [
      [
        "3d11b1f31c12387e"
      ]
    ],
    "l": false
  },
  {
    "id": "b6c73b693fe1d72a",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "左阀串检测",
    "env": [
      {
        "name": "request",
        "value": "700",
        "type": "num"
      }
    ],
    "x": 1930,
    "y": 120,
    "wires": [
      [
        "e441be7dccb854d3"
      ]
    ]
  },
  {
    "id": "e441be7dccb854d3",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "",
    "property": "IO_40.AI.Left_visionResult",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2090,
    "y": 120,
    "wires": [
      [
        "597e936106c83611"
      ],
      [
        "04a486e00c5b7ace"
      ]
    ]
  },
  {
    "id": "bf97c302adfdf47c",
    "type": "subflow:f7971c0dbc233cfb",
    "z": "4745e401e91aabe4",
    "name": "放不良品区",
    "env": [
      {
        "name": "asdf",
        "value": "140",
        "type": "num"
      },
      {
        "name": "request",
        "value": "150",
        "type": "num"
      }
    ],
    "x": 2510,
    "y": 180,
    "wires": [
      [
        "fd271b9e3a0a6747"
      ]
    ]
  },
  {
    "id": "04a486e00c5b7ace",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "左不良品是否满",
    "property": "IO_40.AO_SCARA_L.trash_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "8",
        "vt": "num"
      },
      {
        "t": "gt",
        "v": "8",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2280,
    "y": 180,
    "wires": [
      [
        "bf97c302adfdf47c"
      ],
      []
    ]
  },
  {
    "id": "59730959beb813ac",
    "type": "link in",
    "z": "4745e401e91aabe4",
    "name": "虚拟输入 1",
    "links": [],
    "x": 2305,
    "y": 220,
    "wires": [
      [
        "bf97c302adfdf47c"
      ]
    ]
  },
  {
    "id": "fd271b9e3a0a6747",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "不良品递增",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_L.trash_left ++;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2690,
    "y": 180,
    "wires": [
      [
        "3d27adfc07e31a94"
      ]
    ]
  },
  {
    "id": "bf1cde81188fadaa",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "右侧未装配完",
    "property": "IO_40.AO_SCARA_R.idx_in_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "14",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 3180,
    "y": 280,
    "wires": [
      [
        "d32fa429ce10b238"
      ],
      []
    ]
  },
  {
    "id": "d32fa429ce10b238",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "内轨道移动到右侧",
    "env": [
      {
        "name": "request",
        "value": "220",
        "type": "num"
      }
    ],
    "x": 170,
    "y": 440,
    "wires": [
      [
        "0fe73921c1538416"
      ]
    ]
  },
  {
    "id": "0fe73921c1538416",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "内轨道右侧未装配完",
    "property": "IO_40.AO_SCARA_R.idx_in_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "IO_40.AO.right_max",
        "vt": "global"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 400,
    "y": 440,
    "wires": [
      [
        "a8d0e883bbf977cd"
      ],
      []
    ]
  },
  {
    "id": "a8d0e883bbf977cd",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "右侧有物料",
    "property": "IO_40.AO_SCARA_R.material_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "30",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 610,
    "y": 440,
    "wires": [
      [
        "ec0884946609ae06"
      ],
      [
        "9b6f4f19e2edac82"
      ]
    ]
  },
  {
    "id": "ef7665bbbcd46200",
    "type": "subflow:ea20ebf1717d3f23",
    "z": "4745e401e91aabe4",
    "name": "右侧抓料",
    "env": [
      {
        "name": "request_r",
        "value": "120",
        "type": "num"
      },
      {
        "name": "request",
        "value": "120",
        "type": "num"
      }
    ],
    "x": 880,
    "y": 440,
    "wires": [
      [
        "5f003292de288b7f"
      ]
    ]
  },
  {
    "id": "ec0884946609ae06",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "",
    "property": "IO_40.AO_SCARA_R.material_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "btwn",
        "v": "1",
        "vt": "num",
        "v2": "30",
        "v2t": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 765,
    "y": 440,
    "wires": [
      [
        "ef7665bbbcd46200"
      ],
      []
    ],
    "l": false
  },
  {
    "id": "bf1b16022e9d325e",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "物料递减",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_R.material_right++;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1280,
    "y": 440,
    "wires": [
      [
        "3ace946986e82644"
      ]
    ]
  },
  {
    "id": "4a62a18a3d0b243e",
    "type": "subflow:ea20ebf1717d3f23",
    "z": "4745e401e91aabe4",
    "name": "右侧放喷油",
    "env": [
      {
        "name": "request_r",
        "value": "130",
        "type": "num"
      },
      {
        "name": "request",
        "value": "130",
        "type": "num"
      }
    ],
    "x": 1110,
    "y": 440,
    "wires": [
      [
        "bf1b16022e9d325e"
      ]
    ]
  },
  {
    "id": "3ace946986e82644",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "右阀串检测",
    "env": [
      {
        "name": "request",
        "value": "710",
        "type": "num"
      }
    ],
    "x": 1470,
    "y": 480,
    "wires": [
      [
        "bc22a11af1d865b9"
      ]
    ]
  },
  {
    "id": "bc22a11af1d865b9",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "",
    "property": "IO_40.AI.Right_visionResult",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1670,
    "y": 480,
    "wires": [
      [
        "5549fbdfd5e1021c"
      ],
      [
        "e3d77a0bb471141b"
      ]
    ]
  },
  {
    "id": "44ddc497f333f5bc",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "装配数递增",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_R.idx_in_right ++;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2490,
    "y": 440,
    "wires": [
      [
        "e39e42f17c3fec70"
      ]
    ]
  },
  {
    "id": "785fc738ca98538c",
    "type": "subflow:ea20ebf1717d3f23",
    "z": "4745e401e91aabe4",
    "name": "右侧内轨道装配",
    "env": [
      {
        "name": "request_r",
        "value": "170",
        "type": "num"
      },
      {
        "name": "request",
        "value": "150",
        "type": "num"
      }
    ],
    "x": 2280,
    "y": 440,
    "wires": [
      [
        "44ddc497f333f5bc"
      ]
    ]
  },
  {
    "id": "8f0144d1ca573715",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "右侧喷油",
    "env": [
      {
        "name": "request",
        "value": "610",
        "type": "num"
      }
    ],
    "x": 2020,
    "y": 440,
    "wires": [
      [
        "597109d7e3de1e2e"
      ]
    ]
  },
  {
    "id": "597109d7e3de1e2e",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "",
    "property": "IO_40.AO_SCARA_R.idx_in_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "btwn",
        "v": "1",
        "vt": "num",
        "v2": "14",
        "v2t": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2145,
    "y": 440,
    "wires": [
      [
        "785fc738ca98538c"
      ],
      []
    ],
    "l": false
  },
  {
    "id": "e39e42f17c3fec70",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "结束",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2830,
    "y": 540,
    "wires": [
      [
        "13a76a3df639c635"
      ]
    ]
  },
  {
    "id": "13a76a3df639c635",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "内轨道右侧未装配完",
    "property": "IO_40.AO_SCARA_R.idx_in_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "14",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2560,
    "y": 680,
    "wires": [
      [
        "c7e38eb792ff1b9e"
      ],
      [
        "d436304005f36121"
      ]
    ]
  },
  {
    "id": "d436304005f36121",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "内轨道左侧装配完",
    "property": "IO_40.AO_SCARA_L.idx_in_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "5",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2870,
    "y": 660,
    "wires": [
      [],
      [
        "e14336359c5c1150"
      ]
    ]
  },
  {
    "id": "c7e38eb792ff1b9e",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "无用点",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 210,
    "y": 580,
    "wires": [
      [
        "0fe73921c1538416"
      ]
    ]
  },
  {
    "id": "e14336359c5c1150",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "横移到中间",
    "env": [
      {
        "name": "request",
        "value": "200",
        "type": "num"
      }
    ],
    "x": 3130,
    "y": 660,
    "wires": [
      []
    ]
  },
  {
    "id": "e3d77a0bb471141b",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "右不良品是否满",
    "property": "IO_40.AO_SCARA_R.trash_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "8",
        "vt": "num"
      },
      {
        "t": "gt",
        "v": "8",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1840,
    "y": 520,
    "wires": [
      [
        "49eb4b6c651f6399"
      ],
      []
    ]
  },
  {
    "id": "49eb4b6c651f6399",
    "type": "subflow:ea20ebf1717d3f23",
    "z": "4745e401e91aabe4",
    "name": "放不良品区",
    "env": [
      {
        "name": "request_r",
        "value": "140",
        "type": "num"
      }
    ],
    "x": 2110,
    "y": 540,
    "wires": [
      [
        "482d96f75f6be99b"
      ]
    ]
  },
  {
    "id": "482d96f75f6be99b",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "不良品递增",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_R.trash_right ++;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2310,
    "y": 540,
    "wires": [
      [
        "e39e42f17c3fec70"
      ]
    ]
  },
  {
    "id": "1e6c6f0171d2b032",
    "type": "delay",
    "z": "4745e401e91aabe4",
    "name": "",
    "pauseType": "delay",
    "timeout": "200",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1475,
    "y": 80,
    "wires": [
      [
        "644d44f9f78f8567"
      ]
    ],
    "l": false
  },
  {
    "id": "597e936106c83611",
    "type": "delay",
    "z": "4745e401e91aabe4",
    "name": "",
    "pauseType": "delay",
    "timeout": "200",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2205,
    "y": 80,
    "wires": [
      [
        "35957c8c712a4a9e"
      ]
    ],
    "l": false
  },
  {
    "id": "5549fbdfd5e1021c",
    "type": "delay",
    "z": "4745e401e91aabe4",
    "name": "",
    "pauseType": "delay",
    "timeout": "200",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1805,
    "y": 440,
    "wires": [
      [
        "8f0144d1ca573715"
      ]
    ],
    "l": false
  },
  {
    "id": "5f003292de288b7f",
    "type": "delay",
    "z": "4745e401e91aabe4",
    "name": "",
    "pauseType": "delay",
    "timeout": "200",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 995,
    "y": 440,
    "wires": [
      [
        "4a62a18a3d0b243e"
      ]
    ],
    "l": false
  },
  {
    "id": "3d053b8f5eae9481",
    "type": "comment",
    "z": "4745e401e91aabe4",
    "name": "内轨道加工",
    "info": "",
    "x": 80,
    "y": 80,
    "wires": []
  },
  {
    "id": "2fdced6d1336e9bb",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "左侧切换料盘",
    "env": [
      {
        "name": "request",
        "value": "330",
        "type": "num"
      }
    ],
    "x": 1500,
    "y": 200,
    "wires": [
      [
        "e000485a4f5dd0fb"
      ]
    ]
  },
  {
    "id": "643093bea52d6fe3",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "左侧料盘初始化",
    "env": [
      {
        "name": "request",
        "value": "340",
        "type": "num"
      }
    ],
    "x": 1740,
    "y": 200,
    "wires": [
      [
        "2e5a99064229d6fa"
      ]
    ]
  },
  {
    "id": "e000485a4f5dd0fb",
    "type": "delay",
    "z": "4745e401e91aabe4",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1625,
    "y": 200,
    "wires": [
      [
        "643093bea52d6fe3"
      ]
    ],
    "l": false
  },
  {
    "id": "2e5a99064229d6fa",
    "type": "change",
    "z": "4745e401e91aabe4",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_L.material_left",
        "pt": "global",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1875,
    "y": 200,
    "wires": [
      [
        "c2903e9cd2cf7c71"
      ]
    ],
    "l": false
  },
  {
    "id": "c2903e9cd2cf7c71",
    "type": "delay",
    "z": "4745e401e91aabe4",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1925,
    "y": 200,
    "wires": [
      [
        "d8147a880fb278b3"
      ]
    ],
    "l": false
  },
  {
    "id": "db92967524cc4a7f",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "左料不为0",
    "property": "IO_40.AO.tray_in_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "neq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1310,
    "y": 200,
    "wires": [
      [
        "2fdced6d1336e9bb"
      ],
      []
    ]
  },
  {
    "id": "9b6f4f19e2edac82",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "右侧切换料盘",
    "env": [
      {
        "name": "request",
        "value": "430",
        "type": "num"
      }
    ],
    "x": 760,
    "y": 540,
    "wires": [
      [
        "1825a5415213a5bf"
      ]
    ]
  },
  {
    "id": "629dde852d373e51",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "右侧料盘初始化",
    "env": [
      {
        "name": "request",
        "value": "440",
        "type": "num"
      }
    ],
    "x": 1000,
    "y": 540,
    "wires": [
      [
        "fb1de52fbfc880d2"
      ]
    ]
  },
  {
    "id": "1825a5415213a5bf",
    "type": "delay",
    "z": "4745e401e91aabe4",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 885,
    "y": 540,
    "wires": [
      [
        "629dde852d373e51"
      ]
    ],
    "l": false
  },
  {
    "id": "fb1de52fbfc880d2",
    "type": "change",
    "z": "4745e401e91aabe4",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_R.material_right",
        "pt": "global",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1125,
    "y": 540,
    "wires": [
      [
        "ec86d8e3a7c483dc"
      ]
    ],
    "l": false
  },
  {
    "id": "ec86d8e3a7c483dc",
    "type": "delay",
    "z": "4745e401e91aabe4",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1205,
    "y": 540,
    "wires": [
      [
        "ec0884946609ae06"
      ]
    ],
    "l": false
  },
  {
    "id": "d23d70545532fb3b",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "左侧未装配完",
    "property": "IO_40.AO_SCARA_L.idx_out_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "IO_40.AO.left_max",
        "vt": "global"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 940,
    "y": 820,
    "wires": [
      [
        "3907fd5a5862eb03"
      ],
      []
    ]
  },
  {
    "id": "18edc6e4eb5149fe",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "横移到左侧拍照位",
    "env": [
      {
        "name": "request",
        "value": "110",
        "type": "num"
      }
    ],
    "x": 230,
    "y": 820,
    "wires": [
      [
        "7a504f08d4b9b6c3"
      ]
    ]
  },
  {
    "id": "7a504f08d4b9b6c3",
    "type": "subflow:f7971c0dbc233cfb",
    "z": "4745e401e91aabe4",
    "name": "左侧scara拍照",
    "env": [
      {
        "name": "asdf",
        "value": "110",
        "type": "num"
      },
      {
        "name": "request",
        "value": "120",
        "type": "num"
      }
    ],
    "x": 460,
    "y": 820,
    "wires": [
      [
        "4c3613ea03cf212c"
      ]
    ]
  },
  {
    "id": "4c3613ea03cf212c",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "视觉定位平移到装配位置",
    "env": [
      {
        "name": "request",
        "value": "130",
        "type": "num"
      }
    ],
    "x": 690,
    "y": 820,
    "wires": [
      [
        "d23d70545532fb3b"
      ]
    ]
  },
  {
    "id": "c4fd07a95fe84579",
    "type": "comment",
    "z": "4745e401e91aabe4",
    "name": "外轨道加工",
    "info": "",
    "x": 80,
    "y": 760,
    "wires": []
  },
  {
    "id": "3907fd5a5862eb03",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "左侧有物料",
    "property": "IO_40.AO_SCARA_L.material_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "20",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1130,
    "y": 820,
    "wires": [
      [
        "4c6cf2436e1d8c13"
      ],
      [
        "770db2a1d93825a7"
      ]
    ]
  },
  {
    "id": "d70161646599aaf3",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "物料递减",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_L.material_left ++;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1840,
    "y": 800,
    "wires": [
      [
        "8003acc174d5606d"
      ]
    ]
  },
  {
    "id": "b241bb76442564aa",
    "type": "subflow:f7971c0dbc233cfb",
    "z": "4745e401e91aabe4",
    "name": "左侧放喷油",
    "env": [
      {
        "name": "asdf",
        "value": "130",
        "type": "num"
      },
      {
        "name": "request",
        "value": "130",
        "type": "num"
      }
    ],
    "x": 1670,
    "y": 800,
    "wires": [
      [
        "d70161646599aaf3"
      ]
    ]
  },
  {
    "id": "c5f8d2c555d08323",
    "type": "subflow:f7971c0dbc233cfb",
    "z": "4745e401e91aabe4",
    "name": "左侧取料",
    "env": [
      {
        "name": "asdf",
        "value": "120",
        "type": "num"
      },
      {
        "name": "request",
        "value": "120",
        "type": "num"
      }
    ],
    "x": 1520,
    "y": 800,
    "wires": [
      [
        "b241bb76442564aa"
      ]
    ]
  },
  {
    "id": "87becf9b0b128eda",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "左侧切换料盘",
    "env": [
      {
        "name": "request",
        "value": "330",
        "type": "num"
      }
    ],
    "x": 1600,
    "y": 900,
    "wires": [
      [
        "a17462c6e1ceaee5"
      ]
    ]
  },
  {
    "id": "422751084a409ade",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "左侧料盘初始化",
    "env": [
      {
        "name": "request",
        "value": "340",
        "type": "num"
      }
    ],
    "x": 1840,
    "y": 900,
    "wires": [
      [
        "1cb9358a9b0bea92"
      ]
    ]
  },
  {
    "id": "a17462c6e1ceaee5",
    "type": "delay",
    "z": "4745e401e91aabe4",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1725,
    "y": 900,
    "wires": [
      [
        "422751084a409ade"
      ]
    ],
    "l": false
  },
  {
    "id": "1cb9358a9b0bea92",
    "type": "change",
    "z": "4745e401e91aabe4",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_L.material_left",
        "pt": "global",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1955,
    "y": 900,
    "wires": [
      [
        "2bdd36512abf39d8"
      ]
    ],
    "l": false
  },
  {
    "id": "2bdd36512abf39d8",
    "type": "delay",
    "z": "4745e401e91aabe4",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2005,
    "y": 900,
    "wires": [
      [
        "4c6cf2436e1d8c13"
      ]
    ],
    "l": false
  },
  {
    "id": "4c6cf2436e1d8c13",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "",
    "property": "IO_40.AO_SCARA_L.material_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "btwn",
        "v": "1",
        "vt": "num",
        "v2": "20",
        "v2t": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1415,
    "y": 800,
    "wires": [
      [
        "c5f8d2c555d08323"
      ],
      []
    ],
    "l": false
  },
  {
    "id": "770db2a1d93825a7",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "左料不为0",
    "property": "IO_40.AO.tray_in_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "neq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1390,
    "y": 900,
    "wires": [
      [
        "87becf9b0b128eda"
      ],
      []
    ]
  },
  {
    "id": "a2b9940727d4a160",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "装配数递增",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_L.idx_out_left ++;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2790,
    "y": 800,
    "wires": [
      [
        "ffb6a59184a7f881"
      ]
    ]
  },
  {
    "id": "82d9af28b755e6dd",
    "type": "subflow:f7971c0dbc233cfb",
    "z": "4745e401e91aabe4",
    "name": "左侧装配",
    "env": [
      {
        "name": "asdf",
        "value": "150",
        "type": "num"
      },
      {
        "name": "request",
        "value": "150",
        "type": "num"
      }
    ],
    "x": 2620,
    "y": 800,
    "wires": [
      [
        "a2b9940727d4a160"
      ]
    ]
  },
  {
    "id": "66179545870d9744",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "左喷油",
    "env": [
      {
        "name": "request",
        "value": "600",
        "type": "num"
      }
    ],
    "x": 2410,
    "y": 800,
    "wires": [
      [
        "227a7477f0db7110"
      ]
    ]
  },
  {
    "id": "227a7477f0db7110",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "",
    "property": "IO_40.AO_SCARA_L.idx_out_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "btwn",
        "v": "1",
        "vt": "num",
        "v2": "5",
        "v2t": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2505,
    "y": 800,
    "wires": [
      [
        "82d9af28b755e6dd"
      ],
      []
    ],
    "l": false
  },
  {
    "id": "ffb6a59184a7f881",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "结束",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2970,
    "y": 840,
    "wires": [
      [
        "9f6021ef72b17c17"
      ]
    ]
  },
  {
    "id": "9f6021ef72b17c17",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "左侧未装配完",
    "property": "IO_40.AO_SCARA_L.idx_out_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "5",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2980,
    "y": 940,
    "wires": [
      [
        "5ce20df6a07b0593"
      ],
      [
        "df0e97bcb502af4c"
      ]
    ]
  },
  {
    "id": "df0e97bcb502af4c",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "右侧未装配完",
    "property": "IO_40.AO_SCARA_R.idx_out_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "14",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2980,
    "y": 1020,
    "wires": [
      [
        "c5d95beb1f36ce65"
      ],
      []
    ]
  },
  {
    "id": "5ce20df6a07b0593",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "无用点",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 940,
    "wires": [
      [
        "d23d70545532fb3b"
      ]
    ]
  },
  {
    "id": "95bb5d23a033fcd9",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "右侧未装配完",
    "property": "IO_40.AO_SCARA_R.idx_out_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "IO_40.AO.right_max",
        "vt": "global"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 540,
    "y": 1220,
    "wires": [
      [
        "aa27611a71cb04ce"
      ],
      []
    ]
  },
  {
    "id": "aa27611a71cb04ce",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "右侧有物料",
    "property": "IO_40.AO_SCARA_R.material_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "30",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 730,
    "y": 1220,
    "wires": [
      [
        "27e84465e1133ab9"
      ],
      [
        "7e091132ea1fb9e3"
      ]
    ]
  },
  {
    "id": "58ae945f26a1772f",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "物料递减",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_R.material_right++;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1420,
    "y": 1220,
    "wires": [
      [
        "8578ab63a87a0a69"
      ]
    ]
  },
  {
    "id": "58ec861149051cd3",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "无用点",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 290,
    "y": 1420,
    "wires": [
      [
        "95bb5d23a033fcd9"
      ]
    ]
  },
  {
    "id": "c5d95beb1f36ce65",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "横移到右侧",
    "env": [
      {
        "name": "request",
        "value": "120",
        "type": "num"
      }
    ],
    "x": 330,
    "y": 1220,
    "wires": [
      [
        "95bb5d23a033fcd9"
      ]
    ]
  },
  {
    "id": "3d16deb89bbdb3bd",
    "type": "subflow:ea20ebf1717d3f23",
    "z": "4745e401e91aabe4",
    "name": "右侧抓料",
    "env": [
      {
        "name": "request_r",
        "value": "120",
        "type": "num"
      },
      {
        "name": "request",
        "value": "120",
        "type": "num"
      }
    ],
    "x": 1040,
    "y": 1220,
    "wires": [
      [
        "8a851b04a85ef278"
      ]
    ]
  },
  {
    "id": "8a851b04a85ef278",
    "type": "subflow:ea20ebf1717d3f23",
    "z": "4745e401e91aabe4",
    "name": "右侧放喷油",
    "env": [
      {
        "name": "request_r",
        "value": "130",
        "type": "num"
      },
      {
        "name": "request",
        "value": "130",
        "type": "num"
      }
    ],
    "x": 1270,
    "y": 1220,
    "wires": [
      [
        "58ae945f26a1772f"
      ]
    ]
  },
  {
    "id": "7e091132ea1fb9e3",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "右侧切换料盘",
    "env": [
      {
        "name": "request",
        "value": "430",
        "type": "num"
      }
    ],
    "x": 940,
    "y": 1320,
    "wires": [
      [
        "7bf5b42b99e13063"
      ]
    ]
  },
  {
    "id": "5e694f470c31fc1e",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "右侧料盘初始化",
    "env": [
      {
        "name": "request",
        "value": "440",
        "type": "num"
      }
    ],
    "x": 1220,
    "y": 1320,
    "wires": [
      [
        "22b211b201af8252"
      ]
    ]
  },
  {
    "id": "7bf5b42b99e13063",
    "type": "delay",
    "z": "4745e401e91aabe4",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1085,
    "y": 1320,
    "wires": [
      [
        "5e694f470c31fc1e"
      ]
    ],
    "l": false
  },
  {
    "id": "22b211b201af8252",
    "type": "change",
    "z": "4745e401e91aabe4",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_R.material_right",
        "pt": "global",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1355,
    "y": 1320,
    "wires": [
      [
        "312a5892634c0e64"
      ]
    ],
    "l": false
  },
  {
    "id": "312a5892634c0e64",
    "type": "delay",
    "z": "4745e401e91aabe4",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1415,
    "y": 1320,
    "wires": [
      [
        "27e84465e1133ab9"
      ]
    ],
    "l": false
  },
  {
    "id": "27e84465e1133ab9",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "",
    "property": "IO_40.AO_SCARA_R.material_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "btwn",
        "v": "1",
        "vt": "num",
        "v2": "30",
        "v2t": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 925,
    "y": 1220,
    "wires": [
      [
        "3d16deb89bbdb3bd"
      ],
      []
    ],
    "l": false
  },
  {
    "id": "71e3df67d2f29b3a",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "装配数递增",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_R.idx_out_right ++;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2410,
    "y": 1220,
    "wires": [
      [
        "69c7272f8f632178"
      ]
    ]
  },
  {
    "id": "367a0701fab4efdd",
    "type": "subflow:ea20ebf1717d3f23",
    "z": "4745e401e91aabe4",
    "name": "右侧装配",
    "env": [
      {
        "name": "request_r",
        "value": "150",
        "type": "num"
      },
      {
        "name": "request",
        "value": "150",
        "type": "num"
      }
    ],
    "x": 2240,
    "y": 1220,
    "wires": [
      [
        "71e3df67d2f29b3a"
      ]
    ]
  },
  {
    "id": "caccbd66eb52c13b",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "右侧喷油",
    "env": [
      {
        "name": "request",
        "value": "610",
        "type": "num"
      }
    ],
    "x": 2000,
    "y": 1220,
    "wires": [
      [
        "586914150b924676"
      ]
    ]
  },
  {
    "id": "586914150b924676",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "",
    "property": "IO_40.AO_SCARA_R.idx_out_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "btwn",
        "v": "1",
        "vt": "num",
        "v2": "14",
        "v2t": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2125,
    "y": 1220,
    "wires": [
      [
        "367a0701fab4efdd"
      ],
      []
    ],
    "l": false
  },
  {
    "id": "69c7272f8f632178",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "结束",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2590,
    "y": 1220,
    "wires": [
      [
        "98edc504821c00ed"
      ]
    ]
  },
  {
    "id": "98edc504821c00ed",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "右侧未装配完",
    "property": "IO_40.AO_SCARA_R.idx_out_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "14",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2740,
    "y": 1340,
    "wires": [
      [
        "58ec861149051cd3"
      ],
      [
        "3c69e815de18a6d2"
      ]
    ]
  },
  {
    "id": "3c69e815de18a6d2",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "左侧装配完",
    "property": "IO_40.AO_SCARA_L.idx_out_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "5",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2950,
    "y": 1340,
    "wires": [
      [
        "5ae63c89eece24d6"
      ],
      [
        "aac2aa34678011cd"
      ]
    ]
  },
  {
    "id": "5ae63c89eece24d6",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "无用点",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2890,
    "y": 1440,
    "wires": [
      [
        "801a12dc84a02347"
      ]
    ]
  },
  {
    "id": "aac2aa34678011cd",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "横移到中间",
    "env": [
      {
        "name": "request",
        "value": "100",
        "type": "num"
      }
    ],
    "x": 3190,
    "y": 1320,
    "wires": [
      [
        "42c0dbe6170fd4e0"
      ]
    ]
  },
  {
    "id": "801a12dc84a02347",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "无用点",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 110,
    "y": 1540,
    "wires": [
      [
        "18edc6e4eb5149fe"
      ]
    ]
  },
  {
    "id": "8003acc174d5606d",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "左阀串检测",
    "env": [
      {
        "name": "request",
        "value": "700",
        "type": "num"
      }
    ],
    "x": 2030,
    "y": 820,
    "wires": [
      [
        "d8164a730ec629c9"
      ]
    ]
  },
  {
    "id": "d8164a730ec629c9",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "",
    "property": "IO_40.AI.Left_visionResult",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2190,
    "y": 820,
    "wires": [
      [
        "a4fbeba11d93dddf"
      ],
      [
        "0a8ed53070fd80df"
      ]
    ]
  },
  {
    "id": "a4fbeba11d93dddf",
    "type": "delay",
    "z": "4745e401e91aabe4",
    "name": "",
    "pauseType": "delay",
    "timeout": "200",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2305,
    "y": 800,
    "wires": [
      [
        "66179545870d9744"
      ]
    ],
    "l": false
  },
  {
    "id": "155b7e6051a61ec6",
    "type": "subflow:f7971c0dbc233cfb",
    "z": "4745e401e91aabe4",
    "name": "放不良品区",
    "env": [
      {
        "name": "asdf",
        "value": "140",
        "type": "num"
      },
      {
        "name": "request",
        "value": "150",
        "type": "num"
      }
    ],
    "x": 2590,
    "y": 880,
    "wires": [
      [
        "ab137e2c85f8ce87"
      ]
    ]
  },
  {
    "id": "0a8ed53070fd80df",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "左不良品是否满",
    "property": "IO_40.AO_SCARA_L.trash_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "8",
        "vt": "num"
      },
      {
        "t": "gt",
        "v": "8",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2360,
    "y": 880,
    "wires": [
      [
        "155b7e6051a61ec6"
      ],
      []
    ]
  },
  {
    "id": "375c4f3025a94f19",
    "type": "link in",
    "z": "4745e401e91aabe4",
    "name": "虚拟输入 2",
    "links": [],
    "x": 2385,
    "y": 920,
    "wires": [
      [
        "155b7e6051a61ec6"
      ]
    ]
  },
  {
    "id": "ab137e2c85f8ce87",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "不良品递增",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_L.trash_left ++;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2770,
    "y": 880,
    "wires": [
      [
        "ffb6a59184a7f881"
      ]
    ]
  },
  {
    "id": "8578ab63a87a0a69",
    "type": "subflow:9586c5d88dd2c881",
    "z": "4745e401e91aabe4",
    "name": "右阀串检测",
    "env": [
      {
        "name": "request",
        "value": "710",
        "type": "num"
      }
    ],
    "x": 1570,
    "y": 1280,
    "wires": [
      [
        "b60e7338a3c8f0c3"
      ]
    ]
  },
  {
    "id": "b60e7338a3c8f0c3",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "",
    "property": "IO_40.AI.Right_visionResult",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1730,
    "y": 1280,
    "wires": [
      [
        "aed11dde97ce96bb"
      ],
      [
        "ffbfe95fe5ddeb68"
      ]
    ]
  },
  {
    "id": "ffbfe95fe5ddeb68",
    "type": "switch",
    "z": "4745e401e91aabe4",
    "name": "右不良品是否满",
    "property": "IO_40.AO_SCARA_R.trash_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "8",
        "vt": "num"
      },
      {
        "t": "gt",
        "v": "8",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1940,
    "y": 1320,
    "wires": [
      [
        "45b13ef183b9f4e7"
      ],
      []
    ]
  },
  {
    "id": "aed11dde97ce96bb",
    "type": "delay",
    "z": "4745e401e91aabe4",
    "name": "",
    "pauseType": "delay",
    "timeout": "200",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1885,
    "y": 1220,
    "wires": [
      [
        "caccbd66eb52c13b"
      ]
    ],
    "l": false
  },
  {
    "id": "45b13ef183b9f4e7",
    "type": "subflow:ea20ebf1717d3f23",
    "z": "4745e401e91aabe4",
    "name": "放不良品区",
    "env": [
      {
        "name": "request_r",
        "value": "140",
        "type": "num"
      }
    ],
    "x": 2130,
    "y": 1320,
    "wires": [
      [
        "208472459191eda4"
      ]
    ]
  },
  {
    "id": "208472459191eda4",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "不良品递增",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_R.trash_right ++;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2330,
    "y": 1320,
    "wires": [
      [
        "69c7272f8f632178"
      ]
    ]
  },
  {
    "id": "f4d31865c6868d1a",
    "type": "change",
    "z": "4745e401e91aabe4",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_L.idx_out_left",
        "pt": "global",
        "to": "1",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_R.idx_out_right",
        "pt": "global",
        "to": "1",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_L.trash_left",
        "pt": "global",
        "to": "1",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_R.trash_right",
        "pt": "global",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 385,
    "y": 760,
    "wires": [
      [
        "18edc6e4eb5149fe"
      ]
    ],
    "l": false
  },
  {
    "id": "ed669d3c78af9cb3",
    "type": "inject",
    "z": "4745e401e91aabe4",
    "name": "启动",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 270,
    "y": 760,
    "wires": [
      [
        "f4d31865c6868d1a"
      ]
    ]
  },
  {
    "id": "43ea8d9714cf95ba",
    "type": "delay",
    "z": "4745e401e91aabe4",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 55,
    "y": 680,
    "wires": [
      [
        "507da923bcce936f"
      ]
    ],
    "l": false
  },
  {
    "id": "42c0dbe6170fd4e0",
    "type": "function",
    "z": "4745e401e91aabe4",
    "name": "无用点",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3370,
    "y": 740,
    "wires": [
      [
        "43ea8d9714cf95ba"
      ]
    ]
  }
]