OP40/flows/logic-40.json
[
  {
    "id": "6b25f2664a9c5aec",
    "type": "tab",
    "label": "logic-40",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "65170c2cae5b9a08",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 160,
    "wires": [
      [
        "1f7e1367f1d6305e"
      ]
    ]
  },
  {
    "id": "1f7e1367f1d6305e",
    "type": "trigger",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 190,
    "y": 260,
    "wires": [
      [
        "8582aa996219f85a"
      ]
    ]
  },
  {
    "id": "3dda43d271b988b3",
    "type": "rbe",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "topi": "topic",
    "x": 495,
    "y": 100,
    "wires": [
      [
        "046e0bc36ff0affc"
      ]
    ],
    "l": false
  },
  {
    "id": "42dd2d5ea4f6ee70",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "调度器命令变化",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "IO_40.AI_LCS.request",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 360,
    "y": 100,
    "wires": [
      [
        "3dda43d271b988b3"
      ]
    ]
  },
  {
    "id": "046e0bc36ff0affc",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "property": "IO_40.AI_LCS.request",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.LCS_ENABLE",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "Enum.LCS_DISABLE",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "Enum.LCS_PAUSE",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "Enum.LCS_RUN",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "Enum.LCS_PRODUCE",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "Enum.LCS_PRODUCE_INNER",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 6,
    "x": 670,
    "y": 100,
    "wires": [
      [
        "d92662f191272585",
        "6f8a9dbdaf0545fc"
      ],
      [
        "d92662f191272585",
        "6f8a9dbdaf0545fc"
      ],
      [
        "d92662f191272585",
        "6f8a9dbdaf0545fc"
      ],
      [
        "d92662f191272585",
        "6f8a9dbdaf0545fc"
      ],
      [
        "d92662f191272585",
        "6f8a9dbdaf0545fc",
        "c5df9c388576bd62"
      ],
      [
        "063d6840e4176af1"
      ]
    ]
  },
  {
    "id": "d9371762dde341c3",
    "type": "comment",
    "z": "6b25f2664a9c5aec",
    "name": "主流程",
    "info": "",
    "x": 830,
    "y": 280,
    "wires": []
  },
  {
    "id": "d92662f191272585",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_90.AO.LCS",
        "pt": "global",
        "to": "IO_90.AI_LCS.request",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 875,
    "y": 20,
    "wires": [
      []
    ],
    "l": false
  },
  {
    "id": "6f8a9dbdaf0545fc",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_90.AO_6axes.LCS",
        "pt": "global",
        "to": "IO_90.AI_LCS.request",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 875,
    "y": 60,
    "wires": [
      []
    ],
    "l": false
  },
  {
    "id": "080be8aeae8e5fe7",
    "type": "file in",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "filename": "d:/OP90.json",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 350,
    "y": 40,
    "wires": [
      [
        "6fb977a0a1f4c97a"
      ]
    ]
  },
  {
    "id": "6fb977a0a1f4c97a",
    "type": "json",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 530,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "c5df9c388576bd62",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "泛在控制器-等待中",
    "property": "IO_40.AO.request",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.DEFAULT",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 950,
    "y": 140,
    "wires": [
      [
        "6f0952b972c0a18a"
      ]
    ]
  },
  {
    "id": "b987def6a8331f9f",
    "type": "comment",
    "z": "6b25f2664a9c5aec",
    "name": "外轨道加工",
    "info": "",
    "x": 920,
    "y": 100,
    "wires": []
  },
  {
    "id": "15744d72ef9c2694",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "左侧未装配完",
    "property": "IO_40.AO_SCARA_L.idx_out_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "IO_40.AO.left_max",
        "vt": "global"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2120,
    "y": 140,
    "wires": [
      [
        "1c9eea7ec38dbf80"
      ],
      []
    ]
  },
  {
    "id": "1c9eea7ec38dbf80",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "左侧有物料",
    "property": "IO_40.AO_SCARA_L.material_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "20",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2310,
    "y": 140,
    "wires": [
      [
        "35a6fd93e30c4aa9"
      ],
      [
        "23d2b4ac6ebe6a93"
      ]
    ]
  },
  {
    "id": "c9a104062b5c0479",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "根据检测结果",
    "property": "Vision_40.v3.result",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.VISION_SUCCESS",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "Enum.VISION_FAIL",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 3500,
    "y": 140,
    "wires": [
      [],
      [
        "e1e1465d22825451"
      ]
    ]
  },
  {
    "id": "b42b300ca3b599b1",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "装配数递增",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_L.idx_out_left ++;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4090,
    "y": 100,
    "wires": [
      [
        "e72fc03d54d71595"
      ]
    ]
  },
  {
    "id": "5f9c9072addb8a41",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "不良品递增",
    "func": "var AO_SCARA_L = global.get(\"AO_SCARA_L\");\nAO_SCARA_L.trash_left ++;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4090,
    "y": 160,
    "wires": [
      [
        "e72fc03d54d71595"
      ]
    ]
  },
  {
    "id": "dcaee5ac20ded5e5",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "物料递减",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_L.material_left ++;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3080,
    "y": 100,
    "wires": [
      [
        "d91888bbac5b0cdd"
      ]
    ]
  },
  {
    "id": "e72fc03d54d71595",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "结束",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4290,
    "y": 140,
    "wires": [
      [
        "a16f745ff7de3bc1"
      ]
    ]
  },
  {
    "id": "bf3f02d44075a495",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "无用点",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1910,
    "y": 220,
    "wires": [
      [
        "15744d72ef9c2694"
      ]
    ]
  },
  {
    "id": "906037fee0a019aa",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "右侧未装配完",
    "property": "IO_40.AO_SCARA_R.idx_out_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "IO_40.AO.right_max",
        "vt": "global"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1900,
    "y": 480,
    "wires": [
      [
        "bf4dd4c670467ae7"
      ],
      []
    ]
  },
  {
    "id": "bf4dd4c670467ae7",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "右侧有物料",
    "property": "IO_40.AO_SCARA_R.material_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "30",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2090,
    "y": 480,
    "wires": [
      [
        "598eb6247f1d91f2"
      ],
      [
        "de1f874b06e9686a"
      ]
    ]
  },
  {
    "id": "d8e778f90d6427c5",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "物料递减",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_R.material_right++;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2920,
    "y": 480,
    "wires": [
      [
        "f790ddc61adabd20"
      ]
    ]
  },
  {
    "id": "49e217ee1130a662",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "装配数递增",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_R.idx_out_right ++;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3610,
    "y": 420,
    "wires": [
      [
        "31f4c78e202d1109"
      ]
    ]
  },
  {
    "id": "18b6fabd99534133",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "不良品递增",
    "func": "var AO_SCARA_R = global.get(\"AO_SCARA_R\");\nAO_SCARA_R.trash_right ++;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3610,
    "y": 480,
    "wires": [
      [
        "31f4c78e202d1109"
      ]
    ]
  },
  {
    "id": "a16f745ff7de3bc1",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "左侧未装配完",
    "property": "IO_40.AO_SCARA_L.idx_out_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "5",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 4460,
    "y": 220,
    "wires": [
      [
        "bf3f02d44075a495"
      ],
      [
        "6e2503072f442c0b"
      ]
    ]
  },
  {
    "id": "6e2503072f442c0b",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "右侧未装配完",
    "property": "IO_40.AO_SCARA_R.idx_out_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "14",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 4680,
    "y": 220,
    "wires": [
      [
        "4fd74f1e48fb9a4e"
      ],
      []
    ]
  },
  {
    "id": "31f4c78e202d1109",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "结束",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4290,
    "y": 480,
    "wires": [
      [
        "a8c516f1f1a3453a"
      ]
    ]
  },
  {
    "id": "a8c516f1f1a3453a",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "右侧未装配完",
    "property": "IO_40.AO_SCARA_R.idx_out_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "14",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 4460,
    "y": 560,
    "wires": [
      [
        "074d366a0822f5a4"
      ],
      [
        "eb178ae61e518cae"
      ]
    ]
  },
  {
    "id": "eb178ae61e518cae",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "左侧装配完",
    "property": "IO_40.AO_SCARA_L.idx_out_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "lte",
        "v": "5",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 4670,
    "y": 560,
    "wires": [
      [
        "d44769f13d49b4ce"
      ],
      [
        "d1bb013d8560aaac"
      ]
    ]
  },
  {
    "id": "074d366a0822f5a4",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "无用点",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1750,
    "y": 560,
    "wires": [
      [
        "906037fee0a019aa"
      ]
    ]
  },
  {
    "id": "d44769f13d49b4ce",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "无用点",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4850,
    "y": 580,
    "wires": [
      [
        "d5f17c0b439d2495"
      ]
    ]
  },
  {
    "id": "d5f17c0b439d2495",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "无用点",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 850,
    "y": 580,
    "wires": [
      [
        "3fc45cf120d6e5f6"
      ]
    ]
  },
  {
    "id": "063d6840e4176af1",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "泛在控制器-等待中",
    "property": "IO_40.AO.request",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.DEFAULT",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 970,
    "y": 760,
    "wires": [
      [
        "0729409029df0866"
      ]
    ]
  },
  {
    "id": "3ace0e65d119d77d",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2615,
    "y": 760,
    "wires": [
      [
        "b86431b794a78c8d",
        "c8a44eda44816dd7"
      ]
    ],
    "l": false
  },
  {
    "id": "4fd3b1055aadf080",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "左侧SCARA-抓料-放喷油",
    "property": "IO_40.AI_SCARA_L.response",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.SCARA_LEFT_PANEL_TO_OIL_DONE",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2440,
    "y": 760,
    "wires": [
      [
        "3ace0e65d119d77d"
      ]
    ]
  },
  {
    "id": "b86431b794a78c8d",
    "type": "trigger",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "op1": "IO_40.AI_SCARA_L.response",
    "op2": "0",
    "op1type": "global",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2275,
    "y": 760,
    "wires": [
      [
        "4fd3b1055aadf080",
        "cfec5c9f42bf1c5a"
      ]
    ],
    "l": false
  },
  {
    "id": "756caf2651d03a9f",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_L.request",
        "pt": "global",
        "to": "Enum.SCARA_LEFT_PANEL_TO_OIL",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2215,
    "y": 760,
    "wires": [
      [
        "b86431b794a78c8d"
      ]
    ],
    "l": false
  },
  {
    "id": "cfec5c9f42bf1c5a",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "debug 48",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 2355,
    "y": 720,
    "wires": [],
    "l": false
  },
  {
    "id": "0729409029df0866",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "先判断左侧SCARA是否空闲",
    "property": "IO_40.AO_SCARA_L.request",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.DEFAULT",
        "vt": "global"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1200,
    "y": 760,
    "wires": [
      [
        "c4cdc32e0a130a0b"
      ],
      []
    ]
  },
  {
    "id": "1a3cc8b81ae22647",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "左侧未装配完",
    "property": "IO_40.AO_SCARA_L.idx_out_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "lt",
        "v": "AO.left_max",
        "vt": "global"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1900,
    "y": 760,
    "wires": [
      [
        "6ddcfbfa47698651"
      ],
      []
    ]
  },
  {
    "id": "6ddcfbfa47698651",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "左侧有物料",
    "property": "IO_40.AO_SCARA_L.material_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "gt",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2090,
    "y": 760,
    "wires": [
      [
        "756caf2651d03a9f"
      ]
    ]
  },
  {
    "id": "0081dfffd485c2cc",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3275,
    "y": 760,
    "wires": [
      [
        "9c4df3dfd7c85359",
        "fce616bbd9fb500b"
      ]
    ],
    "l": false
  },
  {
    "id": "f6ef7f499ea7b25e",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "左侧-喷油处-检测密封圈",
    "property": "IO_40.AI_vision.response",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.LEFT_CHECK_RING_DONE",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 3110,
    "y": 760,
    "wires": [
      [
        "0081dfffd485c2cc"
      ]
    ]
  },
  {
    "id": "9c4df3dfd7c85359",
    "type": "trigger",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "op1": "IO_40.AI_vision.response",
    "op2": "0",
    "op1type": "global",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2945,
    "y": 760,
    "wires": [
      [
        "f6ef7f499ea7b25e",
        "b65a38d498866ae6"
      ]
    ],
    "l": false
  },
  {
    "id": "fc10b286e775ac76",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_vision.request",
        "pt": "global",
        "to": "Enum.LEFT_CHECK_RING",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2885,
    "y": 760,
    "wires": [
      [
        "9c4df3dfd7c85359"
      ]
    ],
    "l": false
  },
  {
    "id": "b65a38d498866ae6",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "debug 49",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 3025,
    "y": 720,
    "wires": [],
    "l": false
  },
  {
    "id": "fce616bbd9fb500b",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "根据检测结果",
    "property": "Vision_40.v3.result",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.VISION_SUCCESS",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "Enum.VISION_FAIL",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 3450,
    "y": 760,
    "wires": [
      [
        "c0c8e448a954cc7b"
      ],
      [
        "6ee7dc925d97e86b"
      ]
    ]
  },
  {
    "id": "d080187d4a7fae09",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4515,
    "y": 700,
    "wires": [
      [
        "c9ddbf3082d59fb5",
        "28ca2316d295e361"
      ]
    ],
    "l": false
  },
  {
    "id": "272d5f45b22eb4e2",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "左侧-拿起-执行装配",
    "property": "IO_40.AI_SCARA_L.response",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.SCARA_LEFT_OIL_TO_PRODUCT_DONE",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 4320,
    "y": 700,
    "wires": [
      [
        "d080187d4a7fae09"
      ]
    ]
  },
  {
    "id": "c9ddbf3082d59fb5",
    "type": "trigger",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "op1": "IO_40.AI_SCARA_L.response",
    "op2": "0",
    "op1type": "global",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 4175,
    "y": 700,
    "wires": [
      [
        "272d5f45b22eb4e2",
        "0b724e4a13e7ee61"
      ]
    ],
    "l": false
  },
  {
    "id": "f20d393fb6682058",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_L.request",
        "pt": "global",
        "to": "Enum.SCARA_LEFT_OIL_TO_PRODUCT",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4115,
    "y": 700,
    "wires": [
      [
        "c9ddbf3082d59fb5"
      ]
    ],
    "l": false
  },
  {
    "id": "0b724e4a13e7ee61",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "debug 50",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 4255,
    "y": 660,
    "wires": [],
    "l": false
  },
  {
    "id": "6a0f989abac5d16d",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3955,
    "y": 700,
    "wires": [
      [
        "51265740dc263918",
        "f20d393fb6682058"
      ]
    ],
    "l": false
  },
  {
    "id": "fd1f6f16a35bd9a9",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "左侧-关盒子-喷油",
    "property": "IO_40.AI.response",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.OIL_LEFT_DONE",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 3820,
    "y": 700,
    "wires": [
      [
        "6a0f989abac5d16d"
      ]
    ]
  },
  {
    "id": "51265740dc263918",
    "type": "trigger",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "op1": "IO_40.AI.response",
    "op2": "0",
    "op1type": "global",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 3675,
    "y": 700,
    "wires": [
      [
        "fd1f6f16a35bd9a9",
        "a3bfc534650fe187"
      ]
    ],
    "l": false
  },
  {
    "id": "c0c8e448a954cc7b",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO.request",
        "pt": "global",
        "to": "Enum.OIL_LEFT",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3615,
    "y": 700,
    "wires": [
      [
        "51265740dc263918"
      ]
    ],
    "l": false
  },
  {
    "id": "a3bfc534650fe187",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "debug 51",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 3755,
    "y": 660,
    "wires": [],
    "l": false
  },
  {
    "id": "28ca2316d295e361",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "装配数递增",
    "func": "var AO_SCARA_L = global.get(\"AO_SCARA_L\");\nAO_SCARA_L.idx_out_left ++;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4690,
    "y": 700,
    "wires": [
      [
        "a1bfb4e38a8d7fc5"
      ]
    ]
  },
  {
    "id": "719713dcca0f72a1",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3995,
    "y": 800,
    "wires": [
      [
        "b0c1c4e5d0b69613",
        "6f796b5e4a6bd5b6"
      ]
    ],
    "l": false
  },
  {
    "id": "aecd0c6875b814d3",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "左侧-拿起-放不良品",
    "property": "IO_40.AI_SCARA_L.response",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.SCARA_LEFT_OIL_TO_TRASH_DONE",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 3800,
    "y": 800,
    "wires": [
      [
        "719713dcca0f72a1"
      ]
    ]
  },
  {
    "id": "b0c1c4e5d0b69613",
    "type": "trigger",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "op1": "IO_40.AI_SCARA_L.response",
    "op2": "0",
    "op1type": "global",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 3655,
    "y": 800,
    "wires": [
      [
        "aecd0c6875b814d3",
        "05c8987815d96dbd"
      ]
    ],
    "l": false
  },
  {
    "id": "6ee7dc925d97e86b",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_L.request",
        "pt": "global",
        "to": "Enum.SCARA_LEFT_OIL_TO_TRASH",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3595,
    "y": 800,
    "wires": [
      [
        "b0c1c4e5d0b69613"
      ]
    ],
    "l": false
  },
  {
    "id": "05c8987815d96dbd",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "debug 52",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 3735,
    "y": 760,
    "wires": [],
    "l": false
  },
  {
    "id": "6f796b5e4a6bd5b6",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "不良品递增",
    "func": "var AO_SCARA_L = global.get(\"AO_SCARA_L\");\nAO_SCARA_L.trash_left ++;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4210,
    "y": 800,
    "wires": [
      [
        "a1bfb4e38a8d7fc5"
      ]
    ]
  },
  {
    "id": "c8a44eda44816dd7",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "物料递减",
    "func": "var AO_SCARA_L = global.get(\"AO_SCARA_L\");\nAO_SCARA_L.material_left --;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2740,
    "y": 760,
    "wires": [
      [
        "fc10b286e775ac76"
      ]
    ]
  },
  {
    "id": "a1bfb4e38a8d7fc5",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "结束",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4870,
    "y": 800,
    "wires": [
      [
        "b32a032c7c4551d0"
      ]
    ]
  },
  {
    "id": "132599f7a0e722b2",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "无用点",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1750,
    "y": 840,
    "wires": [
      [
        "1a3cc8b81ae22647"
      ]
    ]
  },
  {
    "id": "d5ce088eb700b6a1",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1725,
    "y": 760,
    "wires": [
      [
        "532442f6f93705d2",
        "1a3cc8b81ae22647",
        "055540e4168d91d2"
      ]
    ],
    "l": false
  },
  {
    "id": "fc7d91d672567f94",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "外轨道-运动到左侧",
    "property": "IO_40.AI.response",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.OUTER_TO_LEFT_DONE",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1590,
    "y": 760,
    "wires": [
      [
        "d5ce088eb700b6a1"
      ]
    ]
  },
  {
    "id": "532442f6f93705d2",
    "type": "trigger",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "op1": "IO_40.AI.response",
    "op2": "0",
    "op1type": "global",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1445,
    "y": 760,
    "wires": [
      [
        "fc7d91d672567f94",
        "d9704cbfdf597d8a"
      ]
    ],
    "l": false
  },
  {
    "id": "c4cdc32e0a130a0b",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO.request",
        "pt": "global",
        "to": "Enum.OUTER_TO_LEFT",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1385,
    "y": 760,
    "wires": [
      [
        "532442f6f93705d2"
      ]
    ],
    "l": false
  },
  {
    "id": "d9704cbfdf597d8a",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "debug 53",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1525,
    "y": 720,
    "wires": [],
    "l": false
  },
  {
    "id": "055540e4168d91d2",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "IO_40.AO_SCARA_L.idx_out_left",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "payload2",
        "pt": "msg",
        "to": "IO_40.AO_SCARA_L.material_left",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1955,
    "y": 720,
    "wires": [
      [
        "192d17e7fa024577",
        "a5e337e9c6cc1492"
      ]
    ],
    "l": false
  },
  {
    "id": "192d17e7fa024577",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "debug 54",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 2085,
    "y": 680,
    "wires": [],
    "l": false
  },
  {
    "id": "a5e337e9c6cc1492",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "debug 55",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload2",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 2085,
    "y": 720,
    "wires": [],
    "l": false
  },
  {
    "id": "1ccd79eca512af66",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "先判断右侧SCARA是否空闲",
    "property": "IO_40.AO_SCARA_R.request",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.DEFAULT",
        "vt": "global"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1180,
    "y": 1100,
    "wires": [
      [
        "e111ae3072d308bf"
      ],
      []
    ]
  },
  {
    "id": "fc4d303659842d81",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1745,
    "y": 1100,
    "wires": [
      [
        "fd27f377a6a1cfe6",
        "abb9b9f2d5987f05",
        "e22c7cd7f207b679"
      ]
    ],
    "l": false
  },
  {
    "id": "1e3e116c8f860901",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "外轨道-运动到右侧",
    "property": "IO_40.AI.response",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.OUTER_TO_RIGHT_DONE",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1610,
    "y": 1100,
    "wires": [
      [
        "fc4d303659842d81"
      ]
    ]
  },
  {
    "id": "fd27f377a6a1cfe6",
    "type": "trigger",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "op1": "IO_40.AI.response",
    "op2": "0",
    "op1type": "global",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1465,
    "y": 1100,
    "wires": [
      [
        "1e3e116c8f860901",
        "995acd93b39e9695"
      ]
    ],
    "l": false
  },
  {
    "id": "e111ae3072d308bf",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO.request",
        "pt": "global",
        "to": "Enum.OUTER_TO_RIGHT",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1405,
    "y": 1100,
    "wires": [
      [
        "fd27f377a6a1cfe6"
      ]
    ],
    "l": false
  },
  {
    "id": "995acd93b39e9695",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "debug 56",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1545,
    "y": 1060,
    "wires": [],
    "l": false
  },
  {
    "id": "abb9b9f2d5987f05",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "右侧未装配完",
    "property": "IO_40.AO_SCARA_L.idx_out_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "lt",
        "v": "AO.right_max",
        "vt": "global"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1920,
    "y": 1100,
    "wires": [
      [
        "8e296979c5b27ba5"
      ],
      []
    ]
  },
  {
    "id": "8e296979c5b27ba5",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "右侧有物料",
    "property": "IO_40.AO_SCARA_L.material_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "gt",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2110,
    "y": 1100,
    "wires": [
      [
        "ad2666096020669f"
      ]
    ]
  },
  {
    "id": "e22c7cd7f207b679",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "IO_40.AO_SCARA_L.idx_out_right",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "payload2",
        "pt": "msg",
        "to": "IO_40.AO_SCARA_L.material_right",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1975,
    "y": 1060,
    "wires": [
      [
        "42401973ec66e5ff",
        "fe93f656481c2b4f"
      ]
    ],
    "l": false
  },
  {
    "id": "42401973ec66e5ff",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "debug 57",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 2105,
    "y": 1020,
    "wires": [],
    "l": false
  },
  {
    "id": "fe93f656481c2b4f",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "debug 58",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload2",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 2105,
    "y": 1060,
    "wires": [],
    "l": false
  },
  {
    "id": "91d39f5258635483",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "右侧SCARA-抓料-放喷油",
    "property": "IO_40.AI_SCARA_R.response",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.SCARA_RIGHT_PANEL_TO_OIL_DONE",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2470,
    "y": 1100,
    "wires": [
      [
        "e9222e94c22e5eb3"
      ]
    ]
  },
  {
    "id": "7c25d35b5d3bef58",
    "type": "trigger",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "op1": "IO_40.AI_SCARA_L.response",
    "op2": "0",
    "op1type": "global",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2305,
    "y": 1100,
    "wires": [
      [
        "91d39f5258635483",
        "d90e4b2cafffa745"
      ]
    ],
    "l": false
  },
  {
    "id": "ad2666096020669f",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_R.request",
        "pt": "global",
        "to": "Enum.SCARA_RIGHT_PANEL_TO_OIL",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2245,
    "y": 1100,
    "wires": [
      [
        "7c25d35b5d3bef58"
      ]
    ],
    "l": false
  },
  {
    "id": "d90e4b2cafffa745",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "debug 59",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 2385,
    "y": 1060,
    "wires": [],
    "l": false
  },
  {
    "id": "e9222e94c22e5eb3",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2625,
    "y": 1100,
    "wires": [
      [
        "7c25d35b5d3bef58",
        "f4f76c3878f3c1b5"
      ]
    ],
    "l": false
  },
  {
    "id": "f4f76c3878f3c1b5",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "物料递减",
    "func": "var AO_SCARA_R = global.get(\"AO_SCARA_R\");\nAO_SCARA_R.material_right --;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2740,
    "y": 1100,
    "wires": [
      [
        "87d460f37e26cb88"
      ]
    ]
  },
  {
    "id": "27f7c9cf0756dcb5",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3285,
    "y": 1100,
    "wires": [
      [
        "76ba39b995c240ca",
        "b34f1fa1506c5a80"
      ]
    ],
    "l": false
  },
  {
    "id": "c9333fbcfed8606e",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "右侧-喷油处-检测密封圈",
    "property": "IO_40.AI_vision.response",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.RIGHT_CHECK_RING_DONE",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 3120,
    "y": 1100,
    "wires": [
      [
        "27f7c9cf0756dcb5"
      ]
    ]
  },
  {
    "id": "76ba39b995c240ca",
    "type": "trigger",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "op1": "IO_40.AI_vision.response",
    "op2": "0",
    "op1type": "global",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2955,
    "y": 1100,
    "wires": [
      [
        "c9333fbcfed8606e",
        "09bc1b1385623dcd"
      ]
    ],
    "l": false
  },
  {
    "id": "87d460f37e26cb88",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_vision.request",
        "pt": "global",
        "to": "Enum.RIGHT_CHECK_RING",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2895,
    "y": 1100,
    "wires": [
      [
        "76ba39b995c240ca"
      ]
    ],
    "l": false
  },
  {
    "id": "09bc1b1385623dcd",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "debug 60",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 3035,
    "y": 1060,
    "wires": [],
    "l": false
  },
  {
    "id": "b34f1fa1506c5a80",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "根据检测结果",
    "property": "Vision_40.v4.result",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.VISION_SUCCESS",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "Enum.VISION_FAIL",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 3460,
    "y": 1100,
    "wires": [
      [
        "6a39cb0c11a85ad7"
      ],
      [
        "a501763149614141"
      ]
    ]
  },
  {
    "id": "eb161b565f7407dd",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4545,
    "y": 1040,
    "wires": [
      [
        "e4c83d0c1b92201e",
        "e9a48e39bc626011"
      ]
    ],
    "l": false
  },
  {
    "id": "5429e5863921e61a",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "左侧-拿起-执行装配",
    "property": "IO_40.AI_SCARA_R.response",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.SCARA_RIGHT_OIL_TO_PRODUCT_DONE",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 4350,
    "y": 1040,
    "wires": [
      [
        "eb161b565f7407dd"
      ]
    ]
  },
  {
    "id": "e4c83d0c1b92201e",
    "type": "trigger",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "op1": "IO_40.AI_SCARA_L.response",
    "op2": "0",
    "op1type": "global",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 4205,
    "y": 1040,
    "wires": [
      [
        "5429e5863921e61a",
        "b37a36ec85fcfc37"
      ]
    ],
    "l": false
  },
  {
    "id": "0e05e10775b5cdf7",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_R.request",
        "pt": "global",
        "to": "Enum.SCARA_RIGHT_OIL_TO_PRODUCT",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4145,
    "y": 1040,
    "wires": [
      [
        "e4c83d0c1b92201e"
      ]
    ],
    "l": false
  },
  {
    "id": "b37a36ec85fcfc37",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "debug 61",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 4285,
    "y": 1000,
    "wires": [],
    "l": false
  },
  {
    "id": "31bae4805eebe277",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3985,
    "y": 1040,
    "wires": [
      [
        "46e0eccdc61a5f06",
        "0e05e10775b5cdf7"
      ]
    ],
    "l": false
  },
  {
    "id": "eb29ed9a13b31751",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "右侧-关盒子-喷油",
    "property": "IO_40.AI.response",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.OIL_RIGHT_DONE",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 3850,
    "y": 1040,
    "wires": [
      [
        "31bae4805eebe277"
      ]
    ]
  },
  {
    "id": "46e0eccdc61a5f06",
    "type": "trigger",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "op1": "IO_40.AI.response",
    "op2": "0",
    "op1type": "global",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 3705,
    "y": 1040,
    "wires": [
      [
        "eb29ed9a13b31751",
        "40f4926b56bc452a"
      ]
    ],
    "l": false
  },
  {
    "id": "6a39cb0c11a85ad7",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO.request",
        "pt": "global",
        "to": "Enum.OIL_RIGHT",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3645,
    "y": 1040,
    "wires": [
      [
        "46e0eccdc61a5f06"
      ]
    ],
    "l": false
  },
  {
    "id": "40f4926b56bc452a",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "debug 62",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 3785,
    "y": 1000,
    "wires": [],
    "l": false
  },
  {
    "id": "e9a48e39bc626011",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "装配数递增",
    "func": "var AO_SCARA_R = global.get(\"AO_SCARA_R\");\nAO_SCARA_R.idx_out_right ++;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4720,
    "y": 1040,
    "wires": [
      [
        "ac251fb0178ba32f"
      ]
    ]
  },
  {
    "id": "0b8eabf4aeec799d",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4025,
    "y": 1140,
    "wires": [
      [
        "7788cbe1b43d8720",
        "52cf13a1ec1fc3f2"
      ]
    ],
    "l": false
  },
  {
    "id": "54c8f7c0c0347b68",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "右侧-拿起-放不良品",
    "property": "IO_40.AI_SCARA_R.response",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.SCARA_RIGHT_OIL_TO_TRASH_DONE",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 3830,
    "y": 1140,
    "wires": [
      [
        "0b8eabf4aeec799d"
      ]
    ]
  },
  {
    "id": "7788cbe1b43d8720",
    "type": "trigger",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "op1": "IO_40.AI_SCARA_L.response",
    "op2": "0",
    "op1type": "global",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 3685,
    "y": 1140,
    "wires": [
      [
        "54c8f7c0c0347b68",
        "9ea4eebda34c2f94"
      ]
    ],
    "l": false
  },
  {
    "id": "a501763149614141",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_R.request",
        "pt": "global",
        "to": "Enum.SCARA_RIGHT_OIL_TO_TRASH",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3625,
    "y": 1140,
    "wires": [
      [
        "7788cbe1b43d8720"
      ]
    ],
    "l": false
  },
  {
    "id": "9ea4eebda34c2f94",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "debug 63",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 3765,
    "y": 1100,
    "wires": [],
    "l": false
  },
  {
    "id": "52cf13a1ec1fc3f2",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "不良品递增",
    "func": "var AO_SCARA_R = global.get(\"AO_SCARA_R\");\nAO_SCARA_R.trash_right ++;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4210,
    "y": 1140,
    "wires": [
      [
        "ac251fb0178ba32f"
      ]
    ]
  },
  {
    "id": "b32a032c7c4551d0",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "左侧未装配完",
    "property": "IO_40.AO_SCARA_L.idx_out_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "lt",
        "v": "AO.left_max",
        "vt": "global"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 5060,
    "y": 840,
    "wires": [
      [
        "132599f7a0e722b2"
      ],
      [
        "0c2d1f585da5d6d5"
      ]
    ]
  },
  {
    "id": "0c2d1f585da5d6d5",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "右侧未装配完",
    "property": "IO_40.AO_SCARA_L.idx_out_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "lt",
        "v": "AO.right_max",
        "vt": "global"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 5280,
    "y": 840,
    "wires": [
      [
        "1ccd79eca512af66"
      ],
      []
    ]
  },
  {
    "id": "ac251fb0178ba32f",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "结束",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4890,
    "y": 1140,
    "wires": [
      [
        "71aeafd3119e63fd"
      ]
    ]
  },
  {
    "id": "71aeafd3119e63fd",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "右侧未装配完",
    "property": "IO_40.AO_SCARA_R.idx_out_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "lt",
        "v": "AO.right_max",
        "vt": "global"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 5060,
    "y": 1180,
    "wires": [
      [
        "6e61165cbafbfd6b"
      ],
      [
        "c332fd04a01a864b"
      ]
    ]
  },
  {
    "id": "c332fd04a01a864b",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "左侧装配完",
    "property": "IO_40.AO_SCARA_L.idx_out_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "lt",
        "v": "AO.left_max",
        "vt": "global"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 5270,
    "y": 1180,
    "wires": [
      [
        "99e9491c9393a1bf"
      ],
      []
    ]
  },
  {
    "id": "6e61165cbafbfd6b",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "无用点",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1770,
    "y": 1180,
    "wires": [
      [
        "abb9b9f2d5987f05"
      ]
    ]
  },
  {
    "id": "99e9491c9393a1bf",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "无用点",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 5450,
    "y": 1200,
    "wires": [
      [
        "fd66a4d0dea986c6"
      ]
    ]
  },
  {
    "id": "fd66a4d0dea986c6",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "无用点",
    "func": "\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 870,
    "y": 1200,
    "wires": [
      [
        "0729409029df0866"
      ]
    ]
  },
  {
    "id": "d2d568143cb00403",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "临时测试-0822",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1600,
    "y": 40,
    "wires": [
      [
        "bcc6bb12bde69748"
      ]
    ]
  },
  {
    "id": "bcc6bb12bde69748",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_L.material_left",
        "pt": "global",
        "to": "1",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_L.idx_out_left",
        "pt": "global",
        "to": "1",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_R.material_right",
        "pt": "global",
        "to": "27",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_R.idx_out_right",
        "pt": "global",
        "to": "1",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO.tray_in_left",
        "pt": "global",
        "to": "4",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO.tray_out_left",
        "pt": "global",
        "to": "1",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO.tray_in_right",
        "pt": "global",
        "to": "4",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO.tray_out_right",
        "pt": "global",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1715,
    "y": 40,
    "wires": [
      [
        "ef7c548a2f9013e3"
      ]
    ],
    "l": false
  },
  {
    "id": "d91888bbac5b0cdd",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "-",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3230,
    "y": 100,
    "wires": [
      [
        "4580fe82d3e816a6"
      ]
    ]
  },
  {
    "id": "0ba1f88ed57afe32",
    "type": "subflow:f7971c0dbc233cfb",
    "z": "6b25f2664a9c5aec",
    "name": "左侧放喷油",
    "env": [
      {
        "name": "asdf",
        "value": "130",
        "type": "num"
      },
      {
        "name": "request",
        "value": "130",
        "type": "num"
      }
    ],
    "x": 2910,
    "y": 100,
    "wires": [
      [
        "dcaee5ac20ded5e5"
      ]
    ]
  },
  {
    "id": "b55b3e5c7e483881",
    "type": "subflow:f7971c0dbc233cfb",
    "z": "6b25f2664a9c5aec",
    "name": "左侧取料",
    "env": [
      {
        "name": "asdf",
        "value": "120",
        "type": "num"
      },
      {
        "name": "request",
        "value": "120",
        "type": "num"
      }
    ],
    "x": 2760,
    "y": 100,
    "wires": [
      [
        "0ba1f88ed57afe32"
      ]
    ]
  },
  {
    "id": "035121208ce3dad8",
    "type": "subflow:f7971c0dbc233cfb",
    "z": "6b25f2664a9c5aec",
    "name": "左侧装配",
    "env": [
      {
        "name": "asdf",
        "value": "150",
        "type": "num"
      },
      {
        "name": "request",
        "value": "150",
        "type": "num"
      }
    ],
    "x": 3940,
    "y": 100,
    "wires": [
      [
        "b42b300ca3b599b1"
      ]
    ]
  },
  {
    "id": "406b96a0e6ae199f",
    "type": "subflow:f7971c0dbc233cfb",
    "z": "6b25f2664a9c5aec",
    "name": "左侧放废料",
    "env": [
      {
        "name": "asdf",
        "value": "140",
        "type": "num"
      },
      {
        "name": "request",
        "value": "140",
        "type": "num"
      }
    ],
    "x": 3910,
    "y": 160,
    "wires": [
      [
        "5f9c9072addb8a41"
      ]
    ]
  },
  {
    "id": "3fc45cf120d6e5f6",
    "type": "subflow:9586c5d88dd2c881",
    "z": "6b25f2664a9c5aec",
    "name": "横移到左侧拍照位",
    "env": [
      {
        "name": "request",
        "value": "110",
        "type": "num"
      }
    ],
    "x": 1430,
    "y": 140,
    "wires": [
      [
        "2347d750bc4082ec"
      ]
    ]
  },
  {
    "id": "4fd74f1e48fb9a4e",
    "type": "subflow:9586c5d88dd2c881",
    "z": "6b25f2664a9c5aec",
    "name": "横移到右侧",
    "env": [
      {
        "name": "request",
        "value": "120",
        "type": "num"
      }
    ],
    "x": 1520,
    "y": 480,
    "wires": [
      [
        "906037fee0a019aa"
      ]
    ]
  },
  {
    "id": "ae1a6d66896f5c8a",
    "type": "subflow:ea20ebf1717d3f23",
    "z": "6b25f2664a9c5aec",
    "name": "右侧抓料",
    "env": [
      {
        "name": "request_r",
        "value": "120",
        "type": "num"
      },
      {
        "name": "request",
        "value": "120",
        "type": "num"
      }
    ],
    "x": 2400,
    "y": 480,
    "wires": [
      [
        "591d8bd7a9f67a8d"
      ]
    ]
  },
  {
    "id": "9c6cf3fa98638728",
    "type": "subflow:ea20ebf1717d3f23",
    "z": "6b25f2664a9c5aec",
    "name": "右侧装配",
    "env": [
      {
        "name": "request_r",
        "value": "150",
        "type": "num"
      },
      {
        "name": "request",
        "value": "150",
        "type": "num"
      }
    ],
    "x": 3440,
    "y": 420,
    "wires": [
      [
        "49e217ee1130a662"
      ]
    ]
  },
  {
    "id": "591d8bd7a9f67a8d",
    "type": "subflow:ea20ebf1717d3f23",
    "z": "6b25f2664a9c5aec",
    "name": "右侧放喷油",
    "env": [
      {
        "name": "request_r",
        "value": "130",
        "type": "num"
      },
      {
        "name": "request",
        "value": "130",
        "type": "num"
      }
    ],
    "x": 2770,
    "y": 480,
    "wires": [
      [
        "d8e778f90d6427c5"
      ]
    ]
  },
  {
    "id": "f790ddc61adabd20",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "-",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3070,
    "y": 420,
    "wires": [
      [
        "c8530c778cbd7a9d"
      ]
    ]
  },
  {
    "id": "28d6e8ade7c56fc6",
    "type": "subflow:ea20ebf1717d3f23",
    "z": "6b25f2664a9c5aec",
    "name": "右侧放废料",
    "env": [
      {
        "name": "request_r",
        "value": "140",
        "type": "num"
      },
      {
        "name": "request",
        "value": "150",
        "type": "num"
      }
    ],
    "x": 3430,
    "y": 480,
    "wires": [
      [
        "18b6fabd99534133"
      ]
    ]
  },
  {
    "id": "e1e1465d22825451",
    "type": "subflow:dfa3db885e16c622",
    "z": "6b25f2664a9c5aec",
    "name": "右侧干涉",
    "x": 3740,
    "y": 160,
    "wires": [
      [
        "406b96a0e6ae199f"
      ]
    ]
  },
  {
    "id": "6f0952b972c0a18a",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "先判断左侧SCARA是否空闲",
    "property": "IO_40.AO_SCARA_L.request",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.DEFAULT",
        "vt": "global"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1180,
    "y": 140,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "2347d750bc4082ec",
    "type": "subflow:f7971c0dbc233cfb",
    "z": "6b25f2664a9c5aec",
    "name": "左侧scara拍照",
    "env": [
      {
        "name": "asdf",
        "value": "110",
        "type": "num"
      },
      {
        "name": "request",
        "value": "120",
        "type": "num"
      }
    ],
    "x": 1620,
    "y": 140,
    "wires": [
      [
        "a59715291b2e564b"
      ]
    ]
  },
  {
    "id": "a59715291b2e564b",
    "type": "subflow:9586c5d88dd2c881",
    "z": "6b25f2664a9c5aec",
    "name": "视觉定位平移到装配位置",
    "env": [
      {
        "name": "request",
        "value": "130",
        "type": "num"
      }
    ],
    "x": 1870,
    "y": 140,
    "wires": [
      [
        "15744d72ef9c2694"
      ]
    ]
  },
  {
    "id": "4580fe82d3e816a6",
    "type": "subflow:9586c5d88dd2c881",
    "z": "6b25f2664a9c5aec",
    "name": "左喷油",
    "env": [
      {
        "name": "request",
        "value": "600",
        "type": "num"
      }
    ],
    "x": 3650,
    "y": 100,
    "wires": [
      [
        "e49fa3d260a67ee8"
      ]
    ]
  },
  {
    "id": "c8530c778cbd7a9d",
    "type": "subflow:9586c5d88dd2c881",
    "z": "6b25f2664a9c5aec",
    "name": "右侧喷油",
    "env": [
      {
        "name": "request",
        "value": "610",
        "type": "num"
      }
    ],
    "x": 3200,
    "y": 420,
    "wires": [
      [
        "638bbc8b52add38f"
      ]
    ]
  },
  {
    "id": "d1bb013d8560aaac",
    "type": "subflow:9586c5d88dd2c881",
    "z": "6b25f2664a9c5aec",
    "name": "横移到中间",
    "env": [
      {
        "name": "request",
        "value": "100",
        "type": "num"
      }
    ],
    "x": 4910,
    "y": 540,
    "wires": [
      [
        "1a74721d6acdbba3"
      ]
    ]
  },
  {
    "id": "a0a37cf34d6991f1",
    "type": "http request",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 5360,
    "y": 540,
    "wires": [
      [
        "a12456222f7cecfc",
        "b1e9dd4e8f91a4a7"
      ]
    ]
  },
  {
    "id": "a12456222f7cecfc",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "调试 23",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 5520,
    "y": 540,
    "wires": []
  },
  {
    "id": "1a74721d6acdbba3",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "告诉调度器-生产完成",
    "func": "const t = (new Date()).toISOString();\nvar Request = global.get(\"Request_40\");\nRequest.EndTime = t;\n\nmsg.payload = Request;\nmsg.url = global.get(\"LCS\")+\"actionCompletedSignal\";\n//msg.method = \"POST\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 5140,
    "y": 540,
    "wires": [
      [
        "a0a37cf34d6991f1"
      ]
    ]
  },
  {
    "id": "b1e9dd4e8f91a4a7",
    "type": "delay",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 5540,
    "y": 580,
    "wires": [
      [
        "366db6dd22a1471c"
      ]
    ]
  },
  {
    "id": "366db6dd22a1471c",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "Request_40.RequestID",
        "pt": "global",
        "to": "-",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "Request_40.RequestID_",
        "pt": "global",
        "to": "-",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5700,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "2a5553567694f0f1",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_L.idx_out_left",
        "pt": "global",
        "to": "1",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_R.idx_out_right",
        "pt": "global",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1455,
    "y": 80,
    "wires": [
      [
        "3fc45cf120d6e5f6"
      ]
    ],
    "l": false
  },
  {
    "id": "ec22199355971953",
    "type": "subflow:9586c5d88dd2c881",
    "z": "6b25f2664a9c5aec",
    "name": "左侧切换料盘",
    "env": [
      {
        "name": "request",
        "value": "330",
        "type": "num"
      }
    ],
    "x": 2860,
    "y": 160,
    "wires": [
      [
        "ee0c367ceddb3117"
      ]
    ]
  },
  {
    "id": "128f45ef7aece77b",
    "type": "subflow:9586c5d88dd2c881",
    "z": "6b25f2664a9c5aec",
    "name": "左侧料盘初始化",
    "env": [
      {
        "name": "request",
        "value": "340",
        "type": "num"
      }
    ],
    "x": 1900,
    "y": 40,
    "wires": [
      [
        "020c61af059e132f"
      ]
    ]
  },
  {
    "id": "30a0994356659b12",
    "type": "subflow:9586c5d88dd2c881",
    "z": "6b25f2664a9c5aec",
    "name": "右侧料盘初始化",
    "env": [
      {
        "name": "request",
        "value": "440",
        "type": "num"
      }
    ],
    "x": 2160,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "ef7c548a2f9013e3",
    "type": "delay",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1775,
    "y": 40,
    "wires": [
      [
        "128f45ef7aece77b"
      ]
    ],
    "l": false
  },
  {
    "id": "66c24b774f73e5f2",
    "type": "subflow:9586c5d88dd2c881",
    "z": "6b25f2664a9c5aec",
    "name": "左侧料盘初始化",
    "env": [
      {
        "name": "request",
        "value": "340",
        "type": "num"
      }
    ],
    "x": 3100,
    "y": 160,
    "wires": [
      [
        "d7e7618f3faae939"
      ]
    ]
  },
  {
    "id": "ee0c367ceddb3117",
    "type": "delay",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2985,
    "y": 160,
    "wires": [
      [
        "66c24b774f73e5f2"
      ]
    ],
    "l": false
  },
  {
    "id": "de1f874b06e9686a",
    "type": "subflow:9586c5d88dd2c881",
    "z": "6b25f2664a9c5aec",
    "name": "右侧切换料盘",
    "env": [
      {
        "name": "request",
        "value": "430",
        "type": "num"
      }
    ],
    "x": 2260,
    "y": 540,
    "wires": [
      [
        "d271514c3fcafd1f"
      ]
    ]
  },
  {
    "id": "8230031e9c05b9db",
    "type": "subflow:9586c5d88dd2c881",
    "z": "6b25f2664a9c5aec",
    "name": "右侧料盘初始化",
    "env": [
      {
        "name": "request",
        "value": "440",
        "type": "num"
      }
    ],
    "x": 2640,
    "y": 540,
    "wires": [
      [
        "af48ea7ec9f5b5bc"
      ]
    ]
  },
  {
    "id": "d271514c3fcafd1f",
    "type": "delay",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2525,
    "y": 540,
    "wires": [
      [
        "8230031e9c05b9db"
      ]
    ],
    "l": false
  },
  {
    "id": "51eeeb91e8cd3b09",
    "type": "inject",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1350,
    "y": 40,
    "wires": [
      [
        "2a5553567694f0f1"
      ]
    ]
  },
  {
    "id": "d7e7618f3faae939",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_L.material_left",
        "pt": "global",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3215,
    "y": 160,
    "wires": [
      [
        "f0b8a2a1f1b3f0cf"
      ]
    ],
    "l": false
  },
  {
    "id": "f0b8a2a1f1b3f0cf",
    "type": "delay",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 3265,
    "y": 160,
    "wires": [
      [
        "35a6fd93e30c4aa9"
      ]
    ],
    "l": false
  },
  {
    "id": "af48ea7ec9f5b5bc",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_40.AO_SCARA_R.material_right",
        "pt": "global",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2795,
    "y": 540,
    "wires": [
      [
        "e1197d73221b41a0"
      ]
    ],
    "l": false
  },
  {
    "id": "e1197d73221b41a0",
    "type": "delay",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2855,
    "y": 540,
    "wires": [
      [
        "598eb6247f1d91f2"
      ]
    ],
    "l": false
  },
  {
    "id": "e49fa3d260a67ee8",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "property": "IO_40.AO_SCARA_L.idx_out_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "btwn",
        "v": "1",
        "vt": "num",
        "v2": "5",
        "v2t": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 3755,
    "y": 100,
    "wires": [
      [
        "035121208ce3dad8"
      ],
      []
    ],
    "l": false
  },
  {
    "id": "638bbc8b52add38f",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "property": "IO_40.AO_SCARA_R.idx_out_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "btwn",
        "v": "1",
        "vt": "num",
        "v2": "14",
        "v2t": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 3325,
    "y": 420,
    "wires": [
      [
        "9c6cf3fa98638728"
      ],
      []
    ],
    "l": false
  },
  {
    "id": "35a6fd93e30c4aa9",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "property": "IO_40.AO_SCARA_L.material_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "btwn",
        "v": "1",
        "vt": "num",
        "v2": "20",
        "v2t": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2655,
    "y": 100,
    "wires": [
      [
        "b55b3e5c7e483881"
      ],
      []
    ],
    "l": false
  },
  {
    "id": "598eb6247f1d91f2",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "property": "IO_40.AO_SCARA_R.material_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "btwn",
        "v": "1",
        "vt": "num",
        "v2": "30",
        "v2t": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2285,
    "y": 480,
    "wires": [
      [
        "ae1a6d66896f5c8a"
      ],
      []
    ],
    "l": false
  },
  {
    "id": "8582aa996219f85a",
    "type": "change",
    "z": "6b25f2664a9c5aec",
    "name": "托盘移动",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "IO_40.AI.response",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 360,
    "y": 2020,
    "wires": [
      [
        "fdfb1729b3ffc25d"
      ]
    ]
  },
  {
    "id": "fdfb1729b3ffc25d",
    "type": "rbe",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "func": "rbei",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "topi": "topic",
    "x": 475,
    "y": 2020,
    "wires": [
      [
        "0629017a099165a7",
        "85ecdb1089fce9d8"
      ]
    ],
    "l": false
  },
  {
    "id": "0629017a099165a7",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "property": "IO_40.AI.response",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "Enum.BUNK_LEFT_SHIFT_DONE",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "Enum.BUNK_RIGHT_SHIFT_DONE",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 545,
    "y": 2020,
    "wires": [
      [
        "f42b1f6219a128e9"
      ],
      [
        "2724a29388c847f5"
      ]
    ],
    "l": false
  },
  {
    "id": "f42b1f6219a128e9",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "托盘数变化",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO.tray_in_left --;\nIO.AO.tray_out_left ++;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 730,
    "y": 1980,
    "wires": [
      []
    ]
  },
  {
    "id": "85ecdb1089fce9d8",
    "type": "debug",
    "z": "6b25f2664a9c5aec",
    "name": "调试 18",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 540,
    "y": 1960,
    "wires": []
  },
  {
    "id": "2724a29388c847f5",
    "type": "function",
    "z": "6b25f2664a9c5aec",
    "name": "托盘数变化",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO.tray_in_right --;\nIO.AO.tray_out_right ++;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 730,
    "y": 2040,
    "wires": [
      []
    ]
  },
  {
    "id": "23d2b4ac6ebe6a93",
    "type": "switch",
    "z": "6b25f2664a9c5aec",
    "name": "左料不为0",
    "property": "IO_40.AO.tray_in_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "neq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 2510,
    "y": 160,
    "wires": [
      [
        "ec22199355971953"
      ],
      []
    ]
  },
  {
    "id": "020c61af059e132f",
    "type": "delay",
    "z": "6b25f2664a9c5aec",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2025,
    "y": 40,
    "wires": [
      [
        "30a0994356659b12"
      ]
    ],
    "l": false
  }
]