OP50/flows/screw-50-2.json
[
  {
    "id": "7d936c4dd48e0805",
    "type": "tab",
    "label": "screw-50-2",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "98413bf241d4a86e",
    "type": "modbus-read",
    "z": "7d936c4dd48e0805",
    "name": "螺丝刀-74",
    "topic": "",
    "showStatusActivities": false,
    "logIOActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "unitid": "1",
    "dataType": "HoldingRegister",
    "adr": "31",
    "quantity": "2",
    "rate": "200",
    "rateUnit": "ms",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "14734bd68505e6a2",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "x": 100,
    "y": 80,
    "wires": [
      [
        "3504b5233816a79d",
        "2ba172c52ffb2266"
      ],
      []
    ]
  },
  {
    "id": "3504b5233816a79d",
    "type": "debug",
    "z": "7d936c4dd48e0805",
    "name": "调试 1",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 250,
    "y": 80,
    "wires": []
  },
  {
    "id": "c6e4d41b923688d9",
    "type": "modbus-write",
    "z": "7d936c4dd48e0805",
    "name": "螺丝刀-控制",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "3",
    "quantity": "1",
    "server": "14734bd68505e6a2",
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 890,
    "y": 180,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "649cb08914dcd1ea",
    "type": "inject",
    "z": "7d936c4dd48e0805",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 710,
    "y": 240,
    "wires": [
      [
        "c6e4d41b923688d9"
      ]
    ]
  },
  {
    "id": "401b5f32bb15ce81",
    "type": "inject",
    "z": "7d936c4dd48e0805",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "8",
    "payloadType": "num",
    "x": 710,
    "y": 280,
    "wires": [
      [
        "c6e4d41b923688d9"
      ]
    ]
  },
  {
    "id": "dbd97785f1e04ad9",
    "type": "inject",
    "z": "7d936c4dd48e0805",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "x": 710,
    "y": 320,
    "wires": [
      [
        "c6e4d41b923688d9"
      ]
    ]
  },
  {
    "id": "62aa799ab486269b",
    "type": "trigger",
    "z": "7d936c4dd48e0805",
    "name": "",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 350,
    "y": 180,
    "wires": [
      [
        "d93a601f5fc603aa",
        "56b087b6bce4e68b"
      ]
    ]
  },
  {
    "id": "d93a601f5fc603aa",
    "type": "function",
    "z": "7d936c4dd48e0805",
    "name": "控制",
    "func": "var val = 0;\nconst IO_50 = global.get(\"IO_50\");\nif(IO_50.AO_screw2.run==1){\n    val += 1;\n}\nif (IO_50.AO_screw2.clockwise==1){\n    val += 2;\n}\nif (IO_50.AO_screw2.pause == 1) {\n    val += 4;\n}\nif (IO_50.AO_screw2.reset == 1) {\n    val += 8;\n}\nmsg.payload = val;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 180,
    "wires": [
      [
        "9dea8006c30d97d8"
      ]
    ]
  },
  {
    "id": "2ba172c52ffb2266",
    "type": "change",
    "z": "7d936c4dd48e0805",
    "name": "故障和状态",
    "rules": [
      {
        "t": "set",
        "p": "IO_50.AI_screw2.error",
        "pt": "global",
        "to": "payload[0]",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "IO_50.AI_screw2.status",
        "pt": "global",
        "to": "payload[1]",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 250,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "734390044be7a112",
    "type": "modbus-read",
    "z": "7d936c4dd48e0805",
    "name": "螺丝刀-74-扭力反馈",
    "topic": "",
    "showStatusActivities": false,
    "logIOActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "unitid": "1",
    "dataType": "HoldingRegister",
    "adr": "25",
    "quantity": "2",
    "rate": "200",
    "rateUnit": "ms",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "14734bd68505e6a2",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "x": 490,
    "y": 80,
    "wires": [
      [
        "79875e5be5a8993a"
      ],
      []
    ]
  },
  {
    "id": "79875e5be5a8993a",
    "type": "function",
    "z": "7d936c4dd48e0805",
    "name": "完成扭矩",
    "func": "var data = msg.payload[0] + msg.payload[1]*0xff;\nmsg.payload = data;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 80,
    "wires": [
      [
        "3e535365f36dd0a2"
      ]
    ]
  },
  {
    "id": "3e535365f36dd0a2",
    "type": "change",
    "z": "7d936c4dd48e0805",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "IO_50.AI_screw2.torque",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 930,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "736259a901ad711c",
    "type": "inject",
    "z": "7d936c4dd48e0805",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 180,
    "wires": [
      [
        "62aa799ab486269b"
      ]
    ]
  },
  {
    "id": "80deb340357bc41f",
    "type": "inject",
    "z": "7d936c4dd48e0805",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "4",
    "payloadType": "num",
    "x": 710,
    "y": 360,
    "wires": [
      [
        "c6e4d41b923688d9"
      ]
    ]
  },
  {
    "id": "9dea8006c30d97d8",
    "type": "rbe",
    "z": "7d936c4dd48e0805",
    "name": "",
    "func": "rbei",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "topi": "topic",
    "x": 735,
    "y": 180,
    "wires": [
      [
        "c6e4d41b923688d9",
        "4979caf924d7550d"
      ]
    ],
    "l": false
  },
  {
    "id": "ec7dbfdb90c3d57e",
    "type": "modbus-write",
    "z": "7d936c4dd48e0805",
    "name": "螺丝刀-模式",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "48",
    "quantity": "1",
    "server": "14734bd68505e6a2",
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 890,
    "y": 420,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "3f5cbf61e861ebb5",
    "type": "inject",
    "z": "7d936c4dd48e0805",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "12",
    "payloadType": "num",
    "x": 710,
    "y": 480,
    "wires": [
      [
        "ec7dbfdb90c3d57e"
      ]
    ]
  },
  {
    "id": "fbb67adba6ca9163",
    "type": "inject",
    "z": "7d936c4dd48e0805",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 710,
    "y": 520,
    "wires": [
      [
        "ec7dbfdb90c3d57e"
      ]
    ]
  },
  {
    "id": "eda15e140ba53a04",
    "type": "rbe",
    "z": "7d936c4dd48e0805",
    "name": "",
    "func": "rbei",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "topi": "topic",
    "x": 745,
    "y": 420,
    "wires": [
      [
        "ec7dbfdb90c3d57e"
      ]
    ],
    "l": false
  },
  {
    "id": "4979caf924d7550d",
    "type": "debug",
    "z": "7d936c4dd48e0805",
    "name": "调试 21",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 140,
    "wires": []
  },
  {
    "id": "56b087b6bce4e68b",
    "type": "function",
    "z": "7d936c4dd48e0805",
    "name": "模式",
    "func": "const IO_50 = global.get(\"IO_50\");\nmsg.payload = IO_50.AO_screw2.mode;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 420,
    "wires": [
      [
        "eda15e140ba53a04"
      ]
    ]
  }
]