OP50/flows/vision-50.json
[
  {
    "id": "898d86958a5cb921",
    "type": "tab",
    "label": "vision-50",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "47561ca890b23427",
    "type": "tcp in",
    "z": "898d86958a5cb921",
    "d": true,
    "name": "",
    "server": "client",
    "host": "localhost",
    "port": "1090",
    "datamode": "stream",
    "datatype": "buffer",
    "newline": "",
    "topic": "",
    "trim": false,
    "base64": false,
    "tls": "",
    "x": 110,
    "y": 120,
    "wires": [
      [
        "e1dbca2036be2385"
      ]
    ]
  },
  {
    "id": "50cc819c6bf8d907",
    "type": "tcp out",
    "z": "898d86958a5cb921",
    "d": true,
    "name": "",
    "host": "",
    "port": "",
    "beserver": "reply",
    "base64": false,
    "end": false,
    "tls": "",
    "x": 1050,
    "y": 180,
    "wires": []
  },
  {
    "id": "5e0be52bdb654ff5",
    "type": "inject",
    "z": "898d86958a5cb921",
    "name": "阀串1料盘定位 1/4",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#1",
    "payloadType": "str",
    "x": 450,
    "y": 400,
    "wires": [
      [
        "b27518de2a57a0f1"
      ]
    ]
  },
  {
    "id": "c9302598456b8a85",
    "type": "inject",
    "z": "898d86958a5cb921",
    "name": "左侧-视觉检测",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#2",
    "payloadType": "str",
    "x": 210,
    "y": 400,
    "wires": [
      [
        "b27518de2a57a0f1"
      ]
    ]
  },
  {
    "id": "2ace155097b94190",
    "type": "inject",
    "z": "898d86958a5cb921",
    "name": "右侧-视觉检测",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#3",
    "payloadType": "str",
    "x": 1050,
    "y": 400,
    "wires": [
      [
        "b27518de2a57a0f1"
      ]
    ]
  },
  {
    "id": "e1dbca2036be2385",
    "type": "function",
    "z": "898d86958a5cb921",
    "name": "视觉报文解析",
    "func": "\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 120,
    "wires": [
      [
        "167f14fc927453a5"
      ]
    ]
  },
  {
    "id": "167f14fc927453a5",
    "type": "switch",
    "z": "898d86958a5cb921",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "AGV",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "truss",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "relocate",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 490,
    "y": 120,
    "wires": [
      [
        "e5af5aed4a13802a"
      ],
      [
        "a5b47af96c629f58"
      ],
      [
        "450fe16a5540a4de"
      ]
    ]
  },
  {
    "id": "42b3a660ce7e3773",
    "type": "status",
    "z": "898d86958a5cb921",
    "name": "",
    "scope": [
      "47561ca890b23427"
    ],
    "x": 190,
    "y": 40,
    "wires": [
      [
        "fc675eccf5199059"
      ]
    ]
  },
  {
    "id": "fc675eccf5199059",
    "type": "function",
    "z": "898d86958a5cb921",
    "name": "监听视觉控制器连接",
    "func": "if(msg.status.text=='common.status.connected'){\n    var Vision_90 = global.get(\"Vision_90\");\n    Vision_90.session = msg._session.id;\n}\n\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "b27518de2a57a0f1",
    "type": "function",
    "z": "898d86958a5cb921",
    "name": "添加视觉session",
    "func": "var Vision_90 = global.get(\"Vision_90\");\nmsg._session.id = Vision_90.session;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 180,
    "wires": [
      [
        "50cc819c6bf8d907"
      ]
    ]
  },
  {
    "id": "5c7fec376aee60ee",
    "type": "change",
    "z": "898d86958a5cb921",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Vision_90.v1.request",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 490,
    "y": 180,
    "wires": [
      [
        "96c51262bea65964"
      ]
    ]
  },
  {
    "id": "96c51262bea65964",
    "type": "rbe",
    "z": "898d86958a5cb921",
    "name": "",
    "func": "rbei",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "topi": "topic",
    "x": 635,
    "y": 180,
    "wires": [
      [
        "b27518de2a57a0f1"
      ]
    ],
    "l": false
  },
  {
    "id": "e5af5aed4a13802a",
    "type": "function",
    "z": "898d86958a5cb921",
    "name": "进料盘抓取拍照读坐标反馈",
    "func": "const str = msg.payload;\nconst arr = str.split(\",\");\nconst result = arr[0];\nvar x = 0;\nvar y = 0;\nif(result == 1){\n    x = arr[1];\n    y = arr[2];\n}\nvar Vision_90 = global.get(\"Vision_90\");\nVision_90.p1.x = x;\nVision_90.p1.y = y;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "a5b47af96c629f58",
    "type": "function",
    "z": "898d86958a5cb921",
    "name": "三轴桁架打螺丝定位",
    "func": "const str = msg.payload;\nconst arr = str.split(\",\");\nconst result = arr[0];\nvar x = 0;\nvar y = 0;\nif(result == 1){\n    x = arr[1];\n    y = arr[2];\n}\nvar Vision_90 = global.get(\"Vision_90\");\nVision_90.p2.x = x;\nVision_90.p2.y = y;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 740,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "450fe16a5540a4de",
    "type": "function",
    "z": "898d86958a5cb921",
    "name": "进料盘抓取拍照读坐标反馈",
    "func": "const str = msg.payload;\nconst arr = str.split(\",\");\nconst result = arr[0];\nvar x = 0;\nvar y = 0;\nif(result == 1){\n    x = arr[1];\n    y = arr[2];\n}\nvar Vision_90 = global.get(\"Vision_90\");\nVision_90.p1.x = x;\nVision_90.p1.y = y;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "958ee8a6e9fab01b",
    "type": "change",
    "z": "898d86958a5cb921",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Vision_90.v2.request",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 490,
    "y": 240,
    "wires": [
      [
        "3a8c605f779988fe"
      ]
    ]
  },
  {
    "id": "3a8c605f779988fe",
    "type": "rbe",
    "z": "898d86958a5cb921",
    "name": "",
    "func": "rbei",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "topi": "topic",
    "x": 635,
    "y": 240,
    "wires": [
      [
        "b27518de2a57a0f1"
      ]
    ],
    "l": false
  },
  {
    "id": "34f67a6b55d96ec1",
    "type": "inject",
    "z": "898d86958a5cb921",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 50,
    "y": 240,
    "wires": [
      [
        "80b3c83afbaee1a5"
      ]
    ]
  },
  {
    "id": "80b3c83afbaee1a5",
    "type": "trigger",
    "z": "898d86958a5cb921",
    "name": "",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 250,
    "y": 240,
    "wires": [
      [
        "5c7fec376aee60ee",
        "958ee8a6e9fab01b"
      ]
    ]
  },
  {
    "id": "155144bee335cfde",
    "type": "inject",
    "z": "898d86958a5cb921",
    "name": "阀串2料盘定位 1/4",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#1",
    "payloadType": "str",
    "x": 750,
    "y": 400,
    "wires": [
      [
        "b27518de2a57a0f1"
      ]
    ]
  }
]