OP80/.flow_80.json.backup
[
    {
        "id": "3b5216fa86e84cf0",
        "type": "tab",
        "label": "dataCenter-80",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6b25f2664a9c5aec",
        "type": "tab",
        "label": "logic-80",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0ed9a07ea391dd22",
        "type": "tab",
        "label": "scheduler-80",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0aceb91922d497d0",
        "type": "tab",
        "label": "screw-80",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dce641ad0336b7ac",
        "type": "tab",
        "label": "simulater",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "54f147592a602955",
        "type": "subflow",
        "name": "6axes",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "95572ea14ecc22a6"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 140,
                "wires": [
                    {
                        "id": "c9d15a68ec85cae6",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "6axes",
                "type": "num",
                "value": "0"
            }
        ],
        "meta": {},
        "color": "#E2D96E",
        "icon": "font-awesome/fa-puzzle-piece",
        "status": {
            "x": 500,
            "y": 340,
            "wires": [
                {
                    "id": "68d49e9604c8a67f",
                    "port": 0
                },
                {
                    "id": "ad5ef292ac14a07a",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "8fe3e255cbd378f2",
        "type": "subflow",
        "name": "FanZai",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 120,
                "wires": [
                    {
                        "id": "e13a72f090db0b1f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 770,
                "y": 210,
                "wires": [
                    {
                        "id": "3c3144c82ed350c6",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "FanZai",
                "type": "num",
                "value": "0"
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 510,
            "y": 410,
            "wires": [
                {
                    "id": "d2b17a75cd2d34c8",
                    "port": 0
                },
                {
                    "id": "0e2f49849c54aedf",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "39ee57f0a4cc832c",
        "type": "subflow",
        "name": "memoMonitor",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "7c1547d530e30f55"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 700,
                "y": 100,
                "wires": [
                    {
                        "id": "2cc625c63828bea8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "toChange",
                "type": "str",
                "value": ""
            },
            {
                "name": "toMonitor",
                "type": "str",
                "value": ""
            },
            {
                "name": "changeValue",
                "type": "num",
                "value": ""
            },
            {
                "name": "targetValue",
                "type": "num",
                "value": ""
            },
            {
                "name": "toWait",
                "type": "num",
                "value": ""
            },
            {
                "name": "toReset",
                "type": "num",
                "value": ""
            }
        ],
        "meta": {
            "module": "example",
            "type": "power",
            "version": "1.1",
            "author": "wei1224hf@gmail.com",
            "desc": "asdf",
            "keywords": "power",
            "license": "BSD-3-Clause"
        },
        "color": "#DDAA99",
        "status": {
            "x": 540,
            "y": 320,
            "wires": [
                {
                    "id": "b78d024062f14b36",
                    "port": 0
                },
                {
                    "id": "2cc625c63828bea8",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "967785e4049706c4",
        "type": "modbus-client",
        "name": "6轴-84",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "193.168.110.84",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "9644a7088aaca35d",
        "type": "modbus-client",
        "name": "控制器-80",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "193.168.110.80",
        "tcpPort": "503",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "8b08ccb1dadce45a",
        "type": "modbus-client",
        "name": "虚拟modbus-10080",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "10080",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "b73080d51bca954d",
        "type": "modbus-client",
        "name": "螺丝刀-83",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "193.168.110.83",
        "tcpPort": "23",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "c2626d94b9292dc2",
        "type": "trigger",
        "z": "54f147592a602955",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 365,
        "y": 140,
        "wires": [
            [
                "23d43301c92f0e0e",
                "68d49e9604c8a67f"
            ]
        ],
        "l": false
    },
    {
        "id": "e8f0b18770c8c926",
        "type": "delay",
        "z": "54f147592a602955",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 365,
        "y": 100,
        "wires": [
            [
                "850bbfbbd321bb30"
            ]
        ],
        "l": false
    },
    {
        "id": "23d43301c92f0e0e",
        "type": "function",
        "z": "54f147592a602955",
        "name": "函数 32",
        "func": "const IO = global.get(\"IO_80\");\nif (IO.AI_6axes.response == (IO.AO_6axes.request_+100)){\n    return {reset:1};\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 425,
        "y": 140,
        "wires": [
            [
                "c2626d94b9292dc2",
                "c9d15a68ec85cae6"
            ]
        ],
        "l": false
    },
    {
        "id": "c9d15a68ec85cae6",
        "type": "function",
        "z": "54f147592a602955",
        "name": "函数 33",
        "func": "return {payload: 1}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 505,
        "y": 140,
        "wires": [
            [
                "ad5ef292ac14a07a"
            ]
        ],
        "l": false
    },
    {
        "id": "95572ea14ecc22a6",
        "type": "function",
        "z": "54f147592a602955",
        "name": "函数 34",
        "func": "var IO = global.get(\"IO_80\");\nIO.AO_6axes.request = env.get(\"6axes\");\nIO.AO_6axes.request_ = env.get(\"6axes\");\nflow.set(\"c1\",1);\nreturn {payload: 1};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 140,
        "wires": [
            [
                "c2626d94b9292dc2",
                "e8f0b18770c8c926"
            ]
        ]
    },
    {
        "id": "850bbfbbd321bb30",
        "type": "function",
        "z": "54f147592a602955",
        "name": "函数 35",
        "func": "var IO = global.get(\"IO_80\");\nIO.AO_6axes.request = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "68d49e9604c8a67f",
        "type": "function",
        "z": "54f147592a602955",
        "name": "函数 36",
        "func": "var c1 = flow.get(\"c1\");\nconst IO = global.get(\"IO_80\");\nmsg.payload = c1 + \":\" + IO.AO_6axes.request_;\nflow.set(\"c1\",c1+1);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ad5ef292ac14a07a",
        "type": "function",
        "z": "54f147592a602955",
        "name": "函数 37",
        "func": "msg.payload = \"DONE\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "512a1af1cfe67333",
        "type": "trigger",
        "z": "8fe3e255cbd378f2",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 425,
        "y": 210,
        "wires": [
            [
                "668f091b15c8295f",
                "d2b17a75cd2d34c8"
            ]
        ],
        "l": false
    },
    {
        "id": "6c596065c6e35277",
        "type": "delay",
        "z": "8fe3e255cbd378f2",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 425,
        "y": 170,
        "wires": [
            [
                "c10e076ff0914977"
            ]
        ],
        "l": false
    },
    {
        "id": "668f091b15c8295f",
        "type": "function",
        "z": "8fe3e255cbd378f2",
        "name": "函数 26",
        "func": "const IO = global.get(\"IO_80\");\nif (IO.AI.response == (IO.AO.request_+100)){\n    return {reset:1};\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 485,
        "y": 210,
        "wires": [
            [
                "512a1af1cfe67333",
                "3c3144c82ed350c6"
            ]
        ],
        "l": false
    },
    {
        "id": "3c3144c82ed350c6",
        "type": "function",
        "z": "8fe3e255cbd378f2",
        "name": "函数 27",
        "func": "return {payload: 1}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 565,
        "y": 210,
        "wires": [
            [
                "0e2f49849c54aedf"
            ]
        ],
        "l": false
    },
    {
        "id": "e13a72f090db0b1f",
        "type": "function",
        "z": "8fe3e255cbd378f2",
        "name": "函数 28",
        "func": "var IO = global.get(\"IO_80\");\nIO.AO.request = env.get(\"FanZai\");\nIO.AO.request_ = env.get(\"FanZai\");\nflow.set(\"c3\",1);\nreturn {payload: 1};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 210,
        "wires": [
            [
                "512a1af1cfe67333",
                "6c596065c6e35277"
            ]
        ]
    },
    {
        "id": "c10e076ff0914977",
        "type": "function",
        "z": "8fe3e255cbd378f2",
        "name": "函数 29",
        "func": "var IO = global.get(\"IO_80\");\nIO.AO.request = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 170,
        "wires": [
            []
        ]
    },
    {
        "id": "d2b17a75cd2d34c8",
        "type": "function",
        "z": "8fe3e255cbd378f2",
        "name": "函数 30",
        "func": "var c3 = flow.get(\"c3\");\nconst IO = global.get(\"IO_80\");\nmsg.payload = c3 + \":\" + IO.AO.request_;\nflow.set(\"c3\",c3+1);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 350,
        "wires": [
            []
        ]
    },
    {
        "id": "0e2f49849c54aedf",
        "type": "function",
        "z": "8fe3e255cbd378f2",
        "name": "函数 31",
        "func": "msg.payload = \"DONE\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 290,
        "wires": [
            []
        ]
    },
    {
        "id": "7c1547d530e30f55",
        "type": "function",
        "z": "39ee57f0a4cc832c",
        "name": "function 29",
        "func": "const toChange = env.get(\"toChange\");\nconst changeValue = env.get(\"changeValue\");\nconst toMonitor = env.get(\"toMonitor\");\nconst targetValue = env.get(\"targetValue\");\n\nconst arr = toChange.split(\".\");\nlet temp = global.get(arr[0]);\nlet str = toChange.replace(arr[0],\"\");\neval(\"temp\"+str+\"=\"+changeValue+\";\");\nconst toWait = env.get(\"toWait\");\nconst toReset = env.get(\"toReset\");\nmsg.delay = toWait;\nflow.set(\"num\",1000);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 120,
        "wires": [
            [
                "a36a0360fe8b73a2",
                "f1cef2b2ee7c1f4a"
            ]
        ]
    },
    {
        "id": "f1cef2b2ee7c1f4a",
        "type": "trigger",
        "z": "39ee57f0a4cc832c",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 375,
        "y": 160,
        "wires": [
            [
                "75f9921de8346921",
                "b78d024062f14b36"
            ]
        ],
        "l": false
    },
    {
        "id": "a36a0360fe8b73a2",
        "type": "delay",
        "z": "39ee57f0a4cc832c",
        "name": "",
        "pauseType": "delayv",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 375,
        "y": 120,
        "wires": [
            [
                "85e92b43bd8c2e27"
            ]
        ],
        "l": false
    },
    {
        "id": "75f9921de8346921",
        "type": "function",
        "z": "39ee57f0a4cc832c",
        "name": "函数 26",
        "func": "const toChange = env.get(\"toChange\");\nconst changeValue = env.get(\"changeValue\");\nconst toMonitor = env.get(\"toMonitor\");\nconst targetValue = env.get(\"targetValue\");\n\nconst arr = toMonitor.split(\".\");\nlet temp = global.get(arr[0]);\nlet str = toMonitor.replace(arr[0],\"\");\nvar val = 0;\neval(\"val = temp\"+str+\";\");\nif(val == targetValue){\n    return {reset:1};\n}\nelse{\n    var num = flow.get(\"num\");\n    num += 250;\n    flow.set(\"num\",num);\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 485,
        "y": 160,
        "wires": [
            [
                "f1cef2b2ee7c1f4a",
                "2cc625c63828bea8"
            ]
        ],
        "l": false
    },
    {
        "id": "2cc625c63828bea8",
        "type": "function",
        "z": "39ee57f0a4cc832c",
        "name": "函数 27",
        "func": "return {payload: \"DONE\"}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 605,
        "y": 160,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "85e92b43bd8c2e27",
        "type": "function",
        "z": "39ee57f0a4cc832c",
        "name": "函数 29",
        "func": "const toChange = env.get(\"toChange\");\nconst changeValue = env.get(\"changeValue\");\nconst toMonitor = env.get(\"toMonitor\");\nconst targetValue = env.get(\"targetValue\");\nconst arr = toChange.split(\".\");\nlet temp = global.get(arr[0]);\nlet str = toChange.replace(arr[0],\"\");\nconst toWait = env.get(\"toWait\");\nconst toReset = env.get(\"toReset\");\neval(\"temp\"+str+\"=\"+toReset+\";\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b78d024062f14b36",
        "type": "function",
        "z": "39ee57f0a4cc832c",
        "name": "function 31",
        "func": "const toChange = env.get(\"toChange\");\nconst changeValue = env.get(\"changeValue\");\nconst toMonitor = env.get(\"toMonitor\");\nconst targetValue = env.get(\"targetValue\");\n\nconst arr = toMonitor.split(\".\");\nlet temp = global.get(arr[0]);\nlet str = toMonitor.replace(arr[0],\"\");\nvar val = 0;\neval(\"val = temp\"+str+\";\");\n\nvar num = flow.get(\"num\");\nmsg.payload = val + \",\"+(num/1000).toFixed(1);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 435,
        "y": 260,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "3bcf26799f73d963",
        "type": "modbus-server",
        "z": "3b5216fa86e84cf0",
        "name": "OP80",
        "logEnabled": false,
        "hostname": "0.0.0.0",
        "serverPort": "10080",
        "responseDelay": 100,
        "delayUnit": "ms",
        "coilsBufferSize": 10000,
        "holdingBufferSize": 10000,
        "inputBufferSize": 10000,
        "discreteBufferSize": 10000,
        "showErrors": true,
        "x": 110,
        "y": 620,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "e5c13ce7b96e711b",
        "type": "modbus-read",
        "z": "3b5216fa86e84cf0",
        "name": "读取6轴modbus-do控制",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "90",
        "quantity": "37",
        "rate": "200",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "967785e4049706c4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 160,
        "y": 80,
        "wires": [
            [
                "abfcdf9120383db9"
            ],
            []
        ]
    },
    {
        "id": "57a41c47a33fd710",
        "type": "modbus-read",
        "z": "3b5216fa86e84cf0",
        "name": "读取控制器modbus-di控制",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40",
        "quantity": "44",
        "rate": "200",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "9644a7088aaca35d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "1ab3bd61098c4a2a",
                "0a971699a2633268"
            ],
            []
        ]
    },
    {
        "id": "1ab3bd61098c4a2a",
        "type": "modbus-write",
        "z": "3b5216fa86e84cf0",
        "name": "DI信号同步到6轴",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "MHoldingRegisters",
        "adr": "40",
        "quantity": "44",
        "server": "967785e4049706c4",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 470,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "abfcdf9120383db9",
        "type": "modbus-write",
        "z": "3b5216fa86e84cf0",
        "name": "DO信号同步到控制器",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "90",
        "quantity": "37",
        "server": "9644a7088aaca35d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8eb01bf9acb7562a",
        "type": "modbus-read",
        "z": "3b5216fa86e84cf0",
        "name": "读取控制器modbus-ao-逻辑变量",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "15",
        "quantity": "22",
        "rate": "200",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "9644a7088aaca35d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 300,
        "wires": [
            [
                "3d78fd4e5044cab1"
            ],
            []
        ]
    },
    {
        "id": "c337be33ef47db16",
        "type": "function",
        "z": "3b5216fa86e84cf0",
        "name": "写入到本地内存",
        "func": "var DI_Names = [\n    \"DI_JiTing\",\n    \"DI_QiDong\",\n    \"DI_TingZhi\",\n    \"DI_ZiDong\",\n    \"DI_ShouDong\",\n    \"DI_L_GunTong_DaoWei\",\n    \"DI_R_GunTong_DaoWei\",\n    \"-\",\n    \"DI_L_ShenJiang_DaoWei\",\n    \"DI_R_ShenJiang_DaoWei\",\n    \"DI_ZhuaPan1_DaKaiDaoWei\",\n    \"DI_ZhuaPan2_GuanBiWei\",\n    \"DI_ZhuaPan1_DaKaiDaoWei\",\n    \"DI_ZhuaPan2_GuanBiWei\",\n    \"DI_HengYi_YouLiao\",\n    \"-\",\n    \"DI_NingJin_ShenDaoWei1\",\n    \"DI_NingJin_SuoDaoWei\",\n    \"DI_HengYi_SongKaiDaoWei\",\n    \"DI_HengYi_JiaJinDaoWei\",\n    \"DI_M5_FenLi1_DaKaiDaoWei\",\n    \"DI_M5_FenLi1_GuanBiDaoWei\",\n    \"DI_M6_FenLi_DaKaiDaoWei\",\n    \"DI_M6_FenLi_GuanBiDaoWei\",\n    \"DI_HengYi_ShangShenDaoWei\",\n    \"DI_HengYi_XiaJiangDaoWei\",\n    \"DI_M5_SongLiao_GuanBiDaoWei\",\n    \"DI_M5_SongLiao_DaKaiDaoWei\",\n    \"-\",\n    \"-\",\n    \"DI_NingJin_ShenDaoWei2\",\n    \"-\",\n    \"DI_DingWei_GuanBiDaoWei1\",\n    \"DI_DingWei_DaKaiDaoWei1\",\n    \"DI_DingWei_GuanBiDaoWei2\",\n    \"DI_DingWei_DaKaiDaoWei2\",\n    \"DI_M6_FenLiao_DaKaiDaoWei\",\n    \"DI_M6_FenLiao_GuanBiDaoWei\",\n    \"DI_ROB_JiaJinDaoWei2\",\n    \"-\",\n    \"DI_DingWei_GuanBiDaoWei3\",\n    \"DI_DingWei_DaKaiDaoWei3\",\n    \"DI_M5_FenLi2_DaKaiDaoWei\",\n    \"DI_M5_FenLi2_GuanBiDaoWei\",\n    \"DI_M5_ZDP_YouLiao\",\n    \"DI_M6_ZDP_DaoKaiDaoWei1\",\n    \"DI_M6_ZDP_GuanBiDaoWei1\",\n    \"DI_M6_ZDP_DaoKaiDaoWei2\",\n    \"DI_M6_ZDP_YouLiao\",\n    \"DI_ROB_DaKaiDaoWei1\",\n    \"DI_ROB_JiaJinDaoWei1\",\n    \"DI_ZDP_ZhengFanJianCe\",\n    \"DI_FuWei\",\n    \"DI_LianJi\",\n    \"DI_DanBuQianJin\",\n    \"DI_DanBuHouTui\",\n    ];\n\nvar IO_80 = global.get(\"IO_80\");\nconst data = msg.payload;\nfor(var i=0;i<DI_Names.length;i++){\n    if(DI_Names[i]!='-'){\n        IO_80.DI[DI_Names[i]] = data[i];\n    }\n}\nglobal.set(\"IO_80\",IO_80);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3d78fd4e5044cab1",
        "type": "function",
        "z": "3b5216fa86e84cf0",
        "name": "写入到本地内存",
        "func": "const data = msg.payload;\nvar IO = global.get(\"IO_80\");\nvar i = 0;\nIO.AI.Home = data[i]; i++;\nIO.AI.error_to_node_red = data[i]; i++;\nIO.AI.status = data[i]; i++;\nIO.AI.J1 = data[i]; i++;\nIO.AI.J2 = data[i]; i++;\nIO.AI.J3 = data[i]; i++;\nIO.AI.J4 = data[i]; i++;\nIO.AI.J5 = data[i]; i++;\nIO.AI.J6 = data[i]; i++;\nIO.AI.J7 = data[i]; i++;\nIO.AI.J8 = data[i]; i++;\nIO.AI.J9 = data[i]; i++;\nIO.AI.screw_reset = data[i]; i++;\nIO.AI.screw_run = data[i]; i++;\nIO.AI.screw_clockwise = data[i]; i++;\nIO.AI.screw_pause = data[i]; i++;\nIO.AI.screw_mode = data[i]; i++;\nIO.AI.Networking = data[i]; i++;\nIO.AI.response = data[i]; i++;\nIO.AI.request_vision = data[i]; i++;\nIO.AI.Md_home = data[i]; i++;\nIO.AI.error_code = data[i]; i++;\n\nIO.AO_screw.reset = IO.AI.screw_reset;\nIO.AO_screw.run = IO.AI.screw_run;\nIO.AO_screw.clockwise = IO.AI.screw_clockwise;\nIO.AO_screw.pause = IO.AI.screw_pause;\nIO.AO_screw.mode = IO.AI.screw_mode;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "83fa0339e5960b43",
        "type": "inject",
        "z": "3b5216fa86e84cf0",
        "name": "OP80数据初始化",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "fb8a9610e83c1ed9"
            ]
        ]
    },
    {
        "id": "7935456f1150e60e",
        "type": "function",
        "z": "3b5216fa86e84cf0",
        "name": "IO初始化",
        "func": "var IO_80 = {\n    DO:{},\n    DI:{\n        DI_Jiting:0,\n        DI_QiDong:0,\n        DI_TingZhi:0,\n        DI_ShouZiDong:0,\n        DI_R_GunTong_DaoWei:0,\n        DI_L_GunTong_DaoWei:0,\n        DI_ShiNeng:0,\n        DI_L_ShenJiang_DaoWei:0,\n        DI_R_ShenJiang_DaoWei:0,\n        DI_ZhuaPan1_DaKaiDaoWei:0,\n        DI_ZhuaPan1_GuanBiWei:0,\n        DI_ZhuaPan2_DaKaiDaoWei:0,\n        DI_ZhuaPan2_GuanBiWei:0,\n        DI_HengYi_YouLiao:0,\n        DI_HengYi_SongKaiDaoWei:0,\n        DI_HengYi_JiaJinDaoWei:0,\n        DI_LuoSiQiang_shangshen:0,\n        DI_LuoSiQiang_xiajiang:0,\n        DI_M5_LuoSi_fenli_guanbi:0,\n        DI_M5_LuoSi_fenli_dakai:0,\n        DI_M6_LuoSi_fenli_dakai:0,\n        DI_M6_LuoSi_fenli_guanbi:0,\n        DI_Hengyi_xiajiang_Daowei:0,\n        DI_Hengyi_shangshen_Daowei:0,\n        DI_M5_Songliao_Dakai_1:0,\n        DI_M5_Songliao_Guanbi_1:0,\n        DI_M5_Songliao_Dakai_2:0,\n        DI_M5_Songliao_Guanbi_2:0,\n        DI_M6_LuoSi_Geli:0,\n        DI_M5_LuoSi_Geli_dakai:0,\n        DI_M5_LuoSi_Geli_guanbi:0,\n        DI_M6_ZDP_DaoKaiDaoWei1:0,\n        DI_M6_ZDP_GuanBiDaoWei1:0,\n        DI_M6_ZDP_DaoKaiDaoWei2:0,\n        DI_ZDP_ZhengFanJianCe:0,\n        DI_Error_Fuwei:0,\n        DI_Lianji:0,\n        DI_ZhiXing:0,\n    },\n    AI:{//node-red收到来自控制器的逻辑变量\n        Home: 0,\n        error_to_node_red: 0,\n        status: 0,\n        J1: 0,\n        J2: 0,\n        J3: 0,\n        J4: 0,\n        J5: 0,\n        J6: 0,\n        J7: 0,\n        J8: 0,\n        J9: 0,\n        screw_reset: 0,\n        screw_run: 0,\n        screw_clockwise: 0,\n        screw_pause: 0,\n        screw_mode: 0,\n        Networking: 0,\n        response: 0,\n        request_vision: 0,\n        Md_home: 0,\n        error_code: 0,\n    },\n    AO:{//node-red要发送下去的逻辑变量\n        work_object: 0,\n        LCS_command: 0,\n        screw_status: 0,\n        LCS_speed: 0,\n        tray_in_count: 0,\n        tray_out_count: 0,\n        material_status: 0,\n        vision_truss_x: 0,\n        Robot_6_Joint_Ready: 0,\n        request: 0,\n        index_screw: 0,\n        index_assembled: 0,\n        response_vision: 0,\n        index_screw_insert: 0,\n        AGV_Daowei: 0,\n    },    \n    AI_6axes:{\n        status: 0,\n        request_vision: 0,\n        response: 0,\n    },\n\n    AO_6axes:{\n        work_object: 0,\n        LCS: 0,\n        XianDao_Kind: 0,\n        M5_DaoKong: 0,\n        M6_DaoKong: 0,\n        Vision_X_1: 0,\n        Vision_Y_1: 0,\n        Vision_QueXian: 0,\n        request: 0,\n        index_assembled: 0,\n        index_top_tray: 0,\n        response_vision: 0,\n    },\n    AI_LCS:{\n        request: 0,\n    },\n    AO_LCS:{\n        response: 0,\n    },\n    AI_AGV:{\n        request: 0,\n    },\n    AO_AGV:{\n        response: 0,\n    },        \n    AI_screw:{\n        status: 0,\n        error: 0,\n        torque: 0,\n    },\n    AO_screw:{\n        reset : 0,\n        run : 0,\n        clockwise : 0,\n        pause : 0,     \n        mode : 0, \n    }       \n};\n\nglobal.set(\"IO_80\",IO_80);\nglobal.set(\"torque\", [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 40,
        "wires": [
            [
                "52e5c80254d5ee2a"
            ]
        ]
    },
    {
        "id": "2b60c027eb43fa05",
        "type": "modbus-read",
        "z": "3b5216fa86e84cf0",
        "name": "6轴机械臂modbus-ao-逻辑变量",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "15",
        "quantity": "22",
        "rate": "200",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "967785e4049706c4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 360,
        "wires": [
            [
                "24de9f2ffc261c53"
            ],
            []
        ]
    },
    {
        "id": "24de9f2ffc261c53",
        "type": "function",
        "z": "3b5216fa86e84cf0",
        "name": "写入到本地内存",
        "func": "const data = msg.payload;\nvar IO = global.get(\"IO_80\");\nvar i = 0;\nIO.AI_6axes.Home = data[i]; i++;\nIO.AI_6axes.error_to_node_red = data[i]; i++;\nIO.AI_6axes.status = data[i]; i++;\nIO.AI_6axes.J1 = data[i]; i++;\nIO.AI_6axes.J2 = data[i]; i++;\nIO.AI_6axes.J3 = data[i]; i++;\nIO.AI_6axes.J4 = data[i]; i++;\nIO.AI_6axes.J5 = data[i]; i++;\nIO.AI_6axes.J6 = data[i]; i++;\nIO.AI_6axes.J7 = data[i]; i++;\nIO.AI_6axes.J8 = data[i]; i++;\nIO.AI_6axes.J9 = data[i]; i++;\nIO.AI_6axes.screw_reset = data[i]; i++;\nIO.AI_6axes.screw_run = data[i]; i++;\nIO.AI_6axes.screw_clockwise = data[i]; i++;\nIO.AI_6axes.screw_pause = data[i]; i++;\nIO.AI_6axes.screw_mode = data[i]; i++;\nIO.AI_6axes.Networking = data[i]; i++;\nIO.AI_6axes.response = data[i]; i++;\nIO.AI_6axes.request_vision = data[i]; i++;\n\nIO.AI_6axes.Md_home = data[i]; i++;\nIO.AI_6axes.error_code = data[i]; i++;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "0a971699a2633268",
        "type": "modbus-write",
        "z": "3b5216fa86e84cf0",
        "name": "DI信号同步到虚拟modbus",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "MCoils",
        "adr": "40",
        "quantity": "44",
        "server": "8b08ccb1dadce45a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 490,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "398ca89e7aedb8db",
        "type": "modbus-write",
        "z": "3b5216fa86e84cf0",
        "name": "写入到泛在控制器",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "MHoldingRegisters",
        "adr": "0",
        "quantity": "15",
        "server": "9644a7088aaca35d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 730,
        "y": 480,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2dc73bd065955c8d",
        "type": "function",
        "z": "3b5216fa86e84cf0",
        "name": "写入到泛在控制器",
        "func": "\nvar IO = global.get(\"IO_80\");\nIO.AO.screw_status = IO.AI_screw.status;\nvar data = [\n    IO.AO.work_object,\n    IO.AO.LCS_command,\n    IO.AO.screw_status,\n    IO.AO.LCS_speed,\n    IO.AO.tray_in_count,\n    IO.AO.tray_out_count,\n    IO.AO.material_status,\n    IO.AO.vision_truss_x,\n    IO.AO.Robot_6_Joint_Ready,\n    IO.AO.request,\n    IO.AO.index_screw,\n    IO.AO.index_assembled,\n    IO.AO.response_vision,\n    IO.AO.index_screw_insert,\n    IO.AO.AGV_Daowei,\n]\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 480,
        "wires": [
            [
                "398ca89e7aedb8db"
            ]
        ]
    },
    {
        "id": "2a3a5be77c6b5d35",
        "type": "modbus-write",
        "z": "3b5216fa86e84cf0",
        "name": "同步6轴request",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "9",
        "quantity": "1",
        "server": "967785e4049706c4",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f51777edb24f4a29",
        "type": "modbus-read",
        "z": "3b5216fa86e84cf0",
        "name": "LCS 调度命令读取",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4090",
        "quantity": "7",
        "rate": "200",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "8b08ccb1dadce45a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "d60024e9414279eb"
            ],
            []
        ]
    },
    {
        "id": "d60024e9414279eb",
        "type": "function",
        "z": "3b5216fa86e84cf0",
        "name": "写入到本地内存",
        "func": "\nconst data = msg.payload;\nvar IO = global.get(\"IO_80\");\nvar i = 0;\nIO.AI_LCS.request = data[i]; i++;\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "33daa1b70b329a4d",
        "type": "function",
        "z": "3b5216fa86e84cf0",
        "name": "发送给LCS呼叫AGV",
        "func": "var data = [];\nvar IO = global.get(\"IO_80\");\ndata.push(IO.AO_LCS.Pos_In);\ndata.push(IO.AO_LCS.Pos_Out);\n\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 700,
        "wires": [
            [
                "39a996cf72ad3212"
            ]
        ]
    },
    {
        "id": "39a996cf72ad3212",
        "type": "modbus-write",
        "z": "3b5216fa86e84cf0",
        "name": "写入到虚拟modbus",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "MHoldingRegisters",
        "adr": "0",
        "quantity": "100",
        "server": "8b08ccb1dadce45a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 730,
        "y": 700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "52e5c80254d5ee2a",
        "type": "function",
        "z": "3b5216fa86e84cf0",
        "name": "物料-视觉-工单 初始化",
        "func": "\nvar Vision_80 = {\n    session: {\n        type:\"\",\n        id: \"\",\n    },\n    request: \"\",\n    response: \"\",\n    result: 0,\n};\nvar ErrorMap_80 = [\n    \"视觉通信故障\",\n    \"螺丝刀通信故障\",\n    \"伺服1故障\",\n    \"伺服2故障\",\n    \"伺服3故障\",\n    \"伺服4故障\",   \n    \"伺服5故障\",\n    \"伺服6故障\",\n    \"伺服7故障\",\n    ];\n    \nglobal.set(\"StationTask_80\",{\n    BillCode: \"-\",\n    ProductCode: \"-\",\n    ProductName:\"-\",\n    ProcessDetail: [{\n        ProcessCode: \"OP80\",\n        ProcessName: \"-\",\n        EquipmentCode: \"OP80\",\n        ProgramNumer: 1,\n        Num: 0,\n        MaterialDetails: [\n            {\n                MaterialCode: \"M5x20\",\n                MaterialName: \"M5x20内六角螺丝\",\n                Num: 0,\n                consumption: 15,\n                remain: 0,\n                used: 0,\n            },\n            {\n                MaterialCode: \"M6x85\",\n                MaterialName: \"M6x85内六角螺丝\",\n                Num: 0,\n                consumption: 15,\n                remain: 0,\n                used: 0,\n            },\n            {\n                MaterialCode: \"XDF\",\n                MaterialName: \"先导阀\",\n                Num: 0,\n                consumption: 15,\n                remain: 0,\n                used: 0,\n            },\n      \n        ]\n    }]\n});\n\nglobal.set(\"Vision_80\",Vision_80);\nglobal.set(\"ErrorMap_80\", ErrorMap_80);\nconst t = (new Date()).toISOString();\nglobal.set(\"Request_80\", {\n    StartTime: t,\n    EndTime: t,\n    RequestID: \"-\",\n    RequestID_: \"-\",\n    barcode: \"\",\n});\nglobal.set(\"LCS\", \"http://192.168.110.200:9006/openApiUbiquitous/\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "fb8a9610e83c1ed9",
        "type": "function",
        "z": "3b5216fa86e84cf0",
        "name": "定义变量名",
        "func": "global.set(\"ns\",{\n    truss3_vission:1,\n    panel_in_in:2,\n    panel_out_out:3,\n    panel_in_out:4,\n    truss2_screw:5,\n    truss3_screw:6,\n    all_home:7,\n    panel_shift:8,\n    truss2_release:9,\n    loader_home:10,\n        \n    truss3_vission_done:101,\n    panel_in_in_done:102,\n    panel_out_out_done:103,\n    panel_in_out_done:104,\n    truss2_screw_done:105,\n    truss3_screw_done:106,\n    all_home_done:107,\n    panel_shift_done:108,\n    truss2_release_done:109,\n    loader_home_done:110,  \n    \n    robot_moveToVission: 1,\n    robot_pick:2,\n    robot_grabToVission: 3,\n    robot_placeToTrash: 4,\n    robot_placeToProduct: 5,\n    robot_home: 6,\n    \n    robot_moveToVission_done:101,\n    robot_pick_done:102,\n    robot_grabToVission_done:103,\n    robot_placeToProduct_done:104,\n    robot_placeToTrash_done:105,\n    robot_home_done:106,\n    \n    LCS_start:1,\n    LCS_stop:2,\n    LCS_pause:3,\n    LCS_resume:4,\n    LCS_run:5,\n    \n    \n    vission_success: 1,\n    vission_fail: 2,\n    \n    tray_corner_1:101,\n    tray_corner_2:102,\n    tray_corner_3:103,\n    tray_corner_4:104,\n    material_check_1:201,\n    material_check_2:202,\n    screw_check:301,\n    \n    screw_product: 401,\n    \n    \n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 40,
        "wires": [
            [
                "7935456f1150e60e"
            ]
        ]
    },
    {
        "id": "3f333be6e9d1af15",
        "type": "function",
        "z": "3b5216fa86e84cf0",
        "name": "螺丝刀数据",
        "func": "\nvar IO = global.get(\"IO_90\");\nIO.AO_screw.reset = IO.AI.screw_reset;\nIO.AO_screw.run = IO.AI.screw_run;\nIO.AO_screw.clockwise = IO.AI.screw_clockwise;\nIO.AO_screw.pause = IO.AI.screw_pause;\nIO.AO_screw.mode = IO.AI.screw_mode;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "25c8ab4eb8155ac7",
        "type": "http in",
        "z": "3b5216fa86e84cf0",
        "name": "",
        "url": "/80/data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 820,
        "wires": [
            [
                "0b9d3b84d0538dc7"
            ]
        ]
    },
    {
        "id": "90978ca684a0d7d2",
        "type": "http response",
        "z": "3b5216fa86e84cf0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 820,
        "wires": []
    },
    {
        "id": "0b9d3b84d0538dc7",
        "type": "function",
        "z": "3b5216fa86e84cf0",
        "name": "function 28",
        "func": "const p = msg.payload.key;\nvar arr = p.split(\".\");\nconsole.debug(arr);\nconst obj = global.get(arr[0]);\neval(\"var \"+arr[0]+\" = obj;\");\nconsole.debug(1);\neval(\"msg.payload = \"+p+\";\");\nconsole.debug(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 820,
        "wires": [
            [
                "90978ca684a0d7d2"
            ]
        ]
    },
    {
        "id": "d049144493206226",
        "type": "modbus-read",
        "z": "3b5216fa86e84cf0",
        "d": true,
        "name": "泛在-读-反馈",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "33",
        "quantity": "1",
        "rate": "200",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "9644a7088aaca35d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 770,
        "y": 300,
        "wires": [
            [
                "bbc45ba3a99a3f24"
            ],
            []
        ]
    },
    {
        "id": "bbc45ba3a99a3f24",
        "type": "change",
        "z": "3b5216fa86e84cf0",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_90.AI.response",
                "pt": "global",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "47b6e3b44e837f39",
        "type": "modbus-read",
        "z": "3b5216fa86e84cf0",
        "d": true,
        "name": "6轴-读-反馈",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "2",
        "quantity": "1",
        "rate": "200",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "967785e4049706c4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 770,
        "y": 380,
        "wires": [
            [
                "f45bb473bc3d26e7"
            ],
            []
        ]
    },
    {
        "id": "f45bb473bc3d26e7",
        "type": "change",
        "z": "3b5216fa86e84cf0",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_90.AI_6axes.response",
                "pt": "global",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "fae6954da3903224",
        "type": "inject",
        "z": "3b5216fa86e84cf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "8017142c59dab4bb"
            ]
        ]
    },
    {
        "id": "8017142c59dab4bb",
        "type": "trigger",
        "z": "3b5216fa86e84cf0",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 310,
        "y": 520,
        "wires": [
            [
                "7de97e9bb25b4344",
                "2956164e105931fc",
                "2dc73bd065955c8d"
            ]
        ]
    },
    {
        "id": "7de97e9bb25b4344",
        "type": "function",
        "z": "3b5216fa86e84cf0",
        "name": "request",
        "func": "\nvar IO = global.get(\"IO_80\");\nmsg.payload = IO.AO_6axes.request;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 540,
        "wires": [
            [
                "2a3a5be77c6b5d35"
            ]
        ]
    },
    {
        "id": "2956164e105931fc",
        "type": "function",
        "z": "3b5216fa86e84cf0",
        "name": "index_top_tray",
        "func": "\nvar IO = global.get(\"IO_80\");\n\nmsg.payload = IO.AO_6axes.index_top_tray;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 580,
        "wires": [
            [
                "691084f7f18e9a63"
            ]
        ]
    },
    {
        "id": "691084f7f18e9a63",
        "type": "modbus-write",
        "z": "3b5216fa86e84cf0",
        "name": "同步6轴index_top_tray",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4",
        "quantity": "1",
        "server": "967785e4049706c4",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 760,
        "y": 580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4f9e1dd4adb757bb",
        "type": "function",
        "z": "6b25f2664a9c5aec",
        "name": "开始下一次装配",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 340,
        "wires": [
            [
                "010fdfdbef0a59e0"
            ]
        ]
    },
    {
        "id": "893ee25836f4e34a",
        "type": "function",
        "z": "6b25f2664a9c5aec",
        "name": "直接结束到下一个流程",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2880,
        "y": 220,
        "wires": [
            [
                "34b57a971eb27428"
            ]
        ]
    },
    {
        "id": "93e7ec528560151a",
        "type": "subflow:54f147592a602955",
        "z": "6b25f2664a9c5aec",
        "name": "放置到顶螺丝",
        "env": [
            {
                "name": "6axes",
                "value": "1",
                "type": "num"
            }
        ],
        "x": 1220,
        "y": 260,
        "wires": [
            [
                "8331caed273a25e0"
            ]
        ]
    },
    {
        "id": "4c5ba8abe888c4a4",
        "type": "subflow:54f147592a602955",
        "z": "6b25f2664a9c5aec",
        "name": "放到视觉判定",
        "env": [
            {
                "name": "6axes",
                "value": "2",
                "type": "num"
            }
        ],
        "x": 1720,
        "y": 260,
        "wires": [
            [
                "d3f09fda965d0b1c"
            ]
        ],
        "icon": "font-awesome/fa-cubes"
    },
    {
        "id": "a1eb22864bce79fc",
        "type": "subflow:54f147592a602955",
        "z": "6b25f2664a9c5aec",
        "name": "放阀体",
        "env": [
            {
                "name": "6axes",
                "value": "4",
                "type": "num"
            }
        ],
        "x": 2070,
        "y": 260,
        "wires": [
            [
                "59edf7d144d21158"
            ]
        ]
    },
    {
        "id": "59edf7d144d21158",
        "type": "subflow:8fe3e255cbd378f2",
        "z": "6b25f2664a9c5aec",
        "name": "打螺丝1",
        "env": [
            {
                "name": "FanZai",
                "value": "6",
                "type": "num"
            }
        ],
        "x": 2240,
        "y": 260,
        "wires": [
            [
                "f91ffecbc3e9d8c9"
            ]
        ]
    },
    {
        "id": "c3447f7f463463de",
        "type": "subflow:54f147592a602955",
        "z": "6b25f2664a9c5aec",
        "name": "放废料盒",
        "env": [
            {
                "name": "6axes",
                "value": "5",
                "type": "num"
            }
        ],
        "x": 2380,
        "y": 180,
        "wires": [
            [
                "893ee25836f4e34a"
            ]
        ]
    },
    {
        "id": "948365c3dc1bf4f9",
        "type": "function",
        "z": "6b25f2664a9c5aec",
        "name": "先导阀装配数递增",
        "func": "var IO = global.get(\"IO_80\");\nIO.AO.index_assembled ++;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 260,
        "wires": [
            [
                "34b57a971eb27428"
            ]
        ]
    },
    {
        "id": "f91ffecbc3e9d8c9",
        "type": "subflow:54f147592a602955",
        "z": "6b25f2664a9c5aec",
        "name": "回原位",
        "env": [
            {
                "name": "6axes",
                "value": "6",
                "type": "num"
            }
        ],
        "x": 2390,
        "y": 260,
        "wires": [
            [
                "948365c3dc1bf4f9"
            ]
        ]
    },
    {
        "id": "8331caed273a25e0",
        "type": "function",
        "z": "6b25f2664a9c5aec",
        "name": "已用物料递增",
        "func": "var IO = global.get(\"IO_80\");\nIO.AO_6axes.index_top_tray ++;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 260,
        "wires": [
            [
                "718607ee038605f9"
            ]
        ]
    },
    {
        "id": "44e5f36570e354ed",
        "type": "subflow:8fe3e255cbd378f2",
        "z": "6b25f2664a9c5aec",
        "name": "顶螺丝",
        "env": [
            {
                "name": "FanZai",
                "value": "9",
                "type": "num"
            }
        ],
        "x": 850,
        "y": 280,
        "wires": [
            [
                "e0b5c2150c2a78f4"
            ]
        ]
    },
    {
        "id": "b9c9e71584fae02a",
        "type": "inject",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "cc923f1d1d69b14c",
                "313ebd3fe3661b81",
                "4cc74c0df69a8512",
                "41a875495c8024f2"
            ]
        ]
    },
    {
        "id": "313ebd3fe3661b81",
        "type": "change",
        "z": "6b25f2664a9c5aec",
        "name": "阀体上装配序号",
        "rules": [
            {
                "t": "set",
                "p": "IO_80.AO.index_assembled",
                "pt": "global",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "cc923f1d1d69b14c",
        "type": "change",
        "z": "6b25f2664a9c5aec",
        "name": "顶层料盘抓取序号",
        "rules": [
            {
                "t": "set",
                "p": "IO_80.AO_6axes.index_top_tray",
                "pt": "global",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "3ead66496d5a5ea1",
        "type": "subflow:8fe3e255cbd378f2",
        "z": "6b25f2664a9c5aec",
        "name": "阀体视觉纠偏",
        "env": [
            {
                "name": "FanZai",
                "value": "1",
                "type": "num"
            }
        ],
        "x": 300,
        "y": 280,
        "wires": [
            [
                "63115ba3963f1f3b"
            ]
        ]
    },
    {
        "id": "e0b5c2150c2a78f4",
        "type": "switch",
        "z": "6b25f2664a9c5aec",
        "name": "顶层先导阀够料",
        "property": "IO_80.AO_6axes.index_top_tray",
        "propertyType": "global",
        "rules": [
            {
                "t": "lte",
                "v": "16",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "17",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1000,
        "y": 280,
        "wires": [
            [
                "93e7ec528560151a"
            ],
            [
                "26b0035456038719"
            ]
        ]
    },
    {
        "id": "26b0035456038719",
        "type": "subflow:8fe3e255cbd378f2",
        "z": "6b25f2664a9c5aec",
        "name": "换料盘",
        "env": [
            {
                "name": "FanZai",
                "value": "8",
                "type": "num"
            }
        ],
        "x": 1090,
        "y": 320,
        "wires": [
            [
                "b0c0aa1ceae00e7d"
            ]
        ]
    },
    {
        "id": "b0c0aa1ceae00e7d",
        "type": "function",
        "z": "6b25f2664a9c5aec",
        "name": "数据更新",
        "func": "var IO = global.get(\"IO_80\");\nIO.AO.tray_in_count --;\nIO.AO.tray_out_count ++;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 320,
        "wires": [
            [
                "838166fe9ee273ca"
            ]
        ]
    },
    {
        "id": "c91283f0ac8976f1",
        "type": "switch",
        "z": "6b25f2664a9c5aec",
        "name": "是否没托盘了",
        "property": "IO_80.AO.tray_in_count",
        "propertyType": "global",
        "rules": [
            {
                "t": "gte",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1580,
        "y": 320,
        "wires": [
            [
                "cb93de3c407ca538"
            ],
            [
                "ec80a1b1c7e28639"
            ]
        ]
    },
    {
        "id": "cb93de3c407ca538",
        "type": "function",
        "z": "6b25f2664a9c5aec",
        "name": "数据更新",
        "func": "var IO = global.get(\"IO_80\");\nIO.AO_6axes.index_top_tray  = 1;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1735,
        "y": 300,
        "wires": [
            [
                "7453e051d4c4d418"
            ]
        ],
        "l": false
    },
    {
        "id": "ec80a1b1c7e28639",
        "type": "http request",
        "z": "6b25f2664a9c5aec",
        "name": "AGV请求",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1760,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7453e051d4c4d418",
        "type": "delay",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1795,
        "y": 300,
        "wires": [
            [
                "93e7ec528560151a"
            ]
        ],
        "l": false
    },
    {
        "id": "34b57a971eb27428",
        "type": "switch",
        "z": "6b25f2664a9c5aec",
        "name": "装配完成判断",
        "property": "IO_80.AO.index_assembled",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "9",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3100,
        "y": 340,
        "wires": [
            [
                "5c09b9438ce2458a"
            ],
            [
                "4f9e1dd4adb757bb"
            ]
        ]
    },
    {
        "id": "838166fe9ee273ca",
        "type": "delay",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1335,
        "y": 320,
        "wires": [
            [
                "df7adc2a2d25359d"
            ]
        ],
        "l": false
    },
    {
        "id": "df7adc2a2d25359d",
        "type": "subflow:8fe3e255cbd378f2",
        "z": "6b25f2664a9c5aec",
        "name": "进料盘",
        "env": [
            {
                "name": "FanZai",
                "value": "2",
                "type": "num"
            }
        ],
        "x": 1430,
        "y": 320,
        "wires": [
            [
                "c91283f0ac8976f1"
            ]
        ]
    },
    {
        "id": "4cc74c0df69a8512",
        "type": "change",
        "z": "6b25f2664a9c5aec",
        "name": "进料盘",
        "rules": [
            {
                "t": "set",
                "p": "IO_80.AO.tray_in_count",
                "pt": "global",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "41a875495c8024f2",
        "type": "change",
        "z": "6b25f2664a9c5aec",
        "name": "出料盘",
        "rules": [
            {
                "t": "set",
                "p": "IO_80.AO.tray_out_count",
                "pt": "global",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "64877e554ba61320",
        "type": "inject",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1270,
        "y": 140,
        "wires": [
            [
                "8331caed273a25e0"
            ]
        ]
    },
    {
        "id": "cf5f1f1c8a41c391",
        "type": "inject",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2070,
        "y": 160,
        "wires": [
            [
                "59edf7d144d21158"
            ]
        ]
    },
    {
        "id": "cbdeec63895568e6",
        "type": "inject",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2410,
        "y": 320,
        "wires": [
            [
                "948365c3dc1bf4f9"
            ]
        ]
    },
    {
        "id": "d4e61d2f0a787af4",
        "type": "inject",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1910,
        "y": 200,
        "wires": [
            [
                "a1eb22864bce79fc"
            ]
        ]
    },
    {
        "id": "64429a551355d33b",
        "type": "inject",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "3ead66496d5a5ea1"
            ]
        ]
    },
    {
        "id": "893ba77d89cd5fd4",
        "type": "inject",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1630,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "962e2ab610153168",
        "type": "inject",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "0b6206570073035d"
            ]
        ]
    },
    {
        "id": "4ef47c16a3b70af3",
        "type": "inject",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 970,
        "y": 160,
        "wires": [
            [
                "93e7ec528560151a"
            ]
        ]
    },
    {
        "id": "49fc72d39a014eaa",
        "type": "inject",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2210,
        "y": 60,
        "wires": [
            [
                "f91ffecbc3e9d8c9"
            ]
        ]
    },
    {
        "id": "d9eecc88e03628e4",
        "type": "inject",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1490,
        "y": 180,
        "wires": [
            [
                "4c5ba8abe888c4a4"
            ]
        ]
    },
    {
        "id": "5340dd217ff5e2d0",
        "type": "function",
        "z": "6b25f2664a9c5aec",
        "name": "生产完成-物料处理",
        "func": "var StationTask_90 = global.get(\"StationTask_90\");\nvar obj = StationTask_90.ProcessDetail[0].MaterialDetails[0];\nobj.Num -= obj.consumption;\n\nvar obj2 = StationTask_90.ProcessDetail[0].MaterialDetails[1];\nobj2.Num -= obj2.consumption;\n\nvar obj3 = StationTask_90.ProcessDetail[0].MaterialDetails[2];\nobj3.Num -= obj3.consumption;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3190,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "5c09b9438ce2458a",
        "type": "subflow:8fe3e255cbd378f2",
        "z": "6b25f2664a9c5aec",
        "name": "装配完成",
        "env": [
            {
                "name": "FanZai",
                "value": "11",
                "type": "num"
            }
        ],
        "x": 3280,
        "y": 340,
        "wires": [
            [
                "1a74721d6acdbba3"
            ]
        ]
    },
    {
        "id": "6bbf14d39b49ae41",
        "type": "inject",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 3130,
        "y": 220,
        "wires": [
            [
                "34b57a971eb27428"
            ]
        ]
    },
    {
        "id": "6dc8f569ff366e25",
        "type": "link in",
        "z": "6b25f2664a9c5aec",
        "name": "调度生产",
        "links": [
            "8587d880509d0863"
        ],
        "x": 435,
        "y": 220,
        "wires": [
            [
                "313ebd3fe3661b81",
                "3ead66496d5a5ea1"
            ]
        ]
    },
    {
        "id": "a0a37cf34d6991f1",
        "type": "http request",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 3700,
        "y": 340,
        "wires": [
            [
                "a12456222f7cecfc",
                "b1e9dd4e8f91a4a7"
            ]
        ]
    },
    {
        "id": "a12456222f7cecfc",
        "type": "debug",
        "z": "6b25f2664a9c5aec",
        "name": "调试 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3860,
        "y": 340,
        "wires": []
    },
    {
        "id": "1a74721d6acdbba3",
        "type": "function",
        "z": "6b25f2664a9c5aec",
        "name": "告诉调度器-生产完成",
        "func": "const t = (new Date()).toISOString();\nvar Request = global.get(\"Request_80\");\nRequest.EndTime = t;\n\nmsg.payload = Request;\nmsg.url = global.get(\"LCS\")+\"actionCompletedSignal\";\n//msg.method = \"POST\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3480,
        "y": 340,
        "wires": [
            [
                "a0a37cf34d6991f1"
            ]
        ]
    },
    {
        "id": "b1e9dd4e8f91a4a7",
        "type": "delay",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3880,
        "y": 380,
        "wires": [
            [
                "366db6dd22a1471c"
            ]
        ]
    },
    {
        "id": "366db6dd22a1471c",
        "type": "change",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Request_80.RequestID",
                "pt": "global",
                "to": "-",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "Request_80.RequestID_",
                "pt": "global",
                "to": "-",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4040,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "0b6206570073035d",
        "type": "subflow:8fe3e255cbd378f2",
        "z": "6b25f2664a9c5aec",
        "name": "进料盘",
        "env": [
            {
                "name": "FanZai",
                "value": "2",
                "type": "num"
            }
        ],
        "x": 330,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "da71142784344abf",
        "type": "inject",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1070,
        "y": 480,
        "wires": [
            [
                "26b0035456038719"
            ]
        ]
    },
    {
        "id": "d7a042713bcd1fc8",
        "type": "inject",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1250,
        "y": 440,
        "wires": [
            [
                "b0c0aa1ceae00e7d"
            ]
        ]
    },
    {
        "id": "eaf924cee798c424",
        "type": "inject",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1470,
        "y": 440,
        "wires": [
            [
                "c91283f0ac8976f1"
            ]
        ]
    },
    {
        "id": "010fdfdbef0a59e0",
        "type": "subflow:8fe3e255cbd378f2",
        "z": "6b25f2664a9c5aec",
        "name": "根据装配序号移动滑块",
        "env": [
            {
                "name": "FanZai",
                "value": "10",
                "type": "num"
            }
        ],
        "x": 620,
        "y": 280,
        "wires": [
            [
                "9c192ac35dc13d4e"
            ]
        ]
    },
    {
        "id": "9c192ac35dc13d4e",
        "type": "delay",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 755,
        "y": 280,
        "wires": [
            [
                "44e5f36570e354ed"
            ]
        ],
        "l": false
    },
    {
        "id": "d3f09fda965d0b1c",
        "type": "delay",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1865,
        "y": 260,
        "wires": [
            [
                "a1eb22864bce79fc"
            ]
        ],
        "l": false
    },
    {
        "id": "718607ee038605f9",
        "type": "delay",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1565,
        "y": 260,
        "wires": [
            [
                "4c5ba8abe888c4a4"
            ]
        ],
        "l": false
    },
    {
        "id": "63115ba3963f1f3b",
        "type": "delay",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 445,
        "y": 280,
        "wires": [
            [
                "010fdfdbef0a59e0"
            ]
        ],
        "l": false
    },
    {
        "id": "f4fa34a0d59b9675",
        "type": "inject",
        "z": "6b25f2664a9c5aec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 500,
        "wires": [
            [
                "010fdfdbef0a59e0"
            ]
        ]
    },
    {
        "id": "5e601b804206ef8a",
        "type": "inject",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "af9cfd15b1cb0699"
            ]
        ]
    },
    {
        "id": "af9cfd15b1cb0699",
        "type": "trigger",
        "z": "0ed9a07ea391dd22",
        "d": true,
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 310,
        "y": 640,
        "wires": [
            [
                "4f7c79fd77fb38dc"
            ]
        ]
    },
    {
        "id": "3af8e0ca5cbf05b0",
        "type": "http in",
        "z": "0ed9a07ea391dd22",
        "name": "通用读多个接口",
        "url": "/80/ReadValue",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "765dd18278471806",
                "a8c76c3f5f30968b"
            ]
        ]
    },
    {
        "id": "60c3df52814aa044",
        "type": "modbus-flex-getter",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "8b08ccb1dadce45a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 830,
        "y": 480,
        "wires": [
            [
                "0a6e009d35077a8c"
            ],
            [
                "872f3464f7276685"
            ]
        ]
    },
    {
        "id": "765dd18278471806",
        "type": "change",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ReadValue_80",
                "pt": "global",
                "to": "[]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 480,
        "wires": [
            [
                "c790fc92799892a2"
            ]
        ]
    },
    {
        "id": "c790fc92799892a2",
        "type": "function",
        "z": "0ed9a07ea391dd22",
        "name": "modbus 报文拆分",
        "func": "var arr = msg.payload;\nfor(var i=0;i<arr.length;i++){\n    var t = arr[i];\n    node.send({payload:{fc:3, address: parseInt(t.Address), quantity:1},temp:parseInt(t.Address)});\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 480,
        "wires": [
            [
                "60c3df52814aa044"
            ]
        ]
    },
    {
        "id": "0a6e009d35077a8c",
        "type": "function",
        "z": "0ed9a07ea391dd22",
        "name": "函数 4",
        "func": "var arr = global.get(\"ReadValue_90\");\narr.push({\n    Address: msg.modbusRequest.address,\n    Value: msg.payload[0],\n    ValueType: \"int\"\n});\nconsole.debug(arr);\nglobal.set(\"ReadValue_90\",arr);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "58487f8fcf1ad13b",
        "type": "change",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.Code",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.Msg",
                "pt": "msg",
                "to": "操作成功",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.Data",
                "pt": "msg",
                "to": "ReadValue_90",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 520,
        "wires": [
            [
                "e890259894823d74"
            ]
        ]
    },
    {
        "id": "e890259894823d74",
        "type": "http response",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 520,
        "wires": []
    },
    {
        "id": "a8c76c3f5f30968b",
        "type": "delay",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 520,
        "wires": [
            [
                "feeeb7d1502ebb11"
            ]
        ]
    },
    {
        "id": "ca8979c14b6bd108",
        "type": "rbe",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 370,
        "y": 800,
        "wires": [
            [
                "02e7718eb30bcc6e"
            ]
        ]
    },
    {
        "id": "4f7c79fd77fb38dc",
        "type": "change",
        "z": "0ed9a07ea391dd22",
        "name": "故障信号监听",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "IO_80.AI.error",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 800,
        "wires": [
            [
                "ca8979c14b6bd108"
            ]
        ]
    },
    {
        "id": "02e7718eb30bcc6e",
        "type": "switch",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 800,
        "wires": [
            [
                "9e9291c82e052d7e"
            ]
        ]
    },
    {
        "id": "5cc06bbd651b129a",
        "type": "http request",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Accept",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 860,
        "y": 800,
        "wires": [
            [
                "86637bde03033fa8"
            ]
        ]
    },
    {
        "id": "872f3464f7276685",
        "type": "debug",
        "z": "0ed9a07ea391dd22",
        "name": "调试 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 540,
        "wires": []
    },
    {
        "id": "feeeb7d1502ebb11",
        "type": "change",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 520,
        "wires": [
            [
                "58487f8fcf1ad13b"
            ]
        ]
    },
    {
        "id": "86637bde03033fa8",
        "type": "debug",
        "z": "0ed9a07ea391dd22",
        "name": "调试 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 800,
        "wires": []
    },
    {
        "id": "60761f342f0ccb75",
        "type": "inject",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 900,
        "wires": [
            [
                "43c94bb3c7194856"
            ]
        ]
    },
    {
        "id": "43c94bb3c7194856",
        "type": "trigger",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 340,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "89074e6b0dbf3de2",
        "type": "function",
        "z": "0ed9a07ea391dd22",
        "name": "物料缺料告知MES",
        "func": "const StationTask_90 = global.get(\"StationTask_90\");\nconst MaterialDetails = StationTask_90.ProcessDetail[0].MaterialDetails;\nconst url = global.get(\"LCS\")+\"GetLackMaterialsInfo\";\nfor(var i=0;i<MaterialDetails.length;i++){\n    var t = MaterialDetails[i];\n    if (t.remain==0){\n        node.send({payload:[{\n            EquipmentCode: \"OP90\",\n            EquipmentName: \"OP90\",\n            MaterialCode: t.code,\n            MaterialName: t.name,\n            LocationCode: \"L1\",\n            MaxTryNum: 1,\n        }],url: url});\n    }\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 900,
        "wires": [
            [
                "e0216d35cb402cbb"
            ]
        ]
    },
    {
        "id": "e0216d35cb402cbb",
        "type": "http request",
        "z": "0ed9a07ea391dd22",
        "name": "GetLackMaterialsInfo",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 780,
        "y": 900,
        "wires": [
            [
                "fe31c4f5b61bc2eb"
            ]
        ]
    },
    {
        "id": "fe31c4f5b61bc2eb",
        "type": "debug",
        "z": "0ed9a07ea391dd22",
        "name": "调试 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 900,
        "wires": []
    },
    {
        "id": "879e05c683a3e472",
        "type": "http in",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "url": "/80/GetTrayInfo",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 1020,
        "wires": [
            [
                "23be5ea4ed10689f"
            ]
        ]
    },
    {
        "id": "23be5ea4ed10689f",
        "type": "function",
        "z": "0ed9a07ea391dd22",
        "name": "函数 12",
        "func": "var arr = msg.payload.PortNumber;\nvar data = [];\nvar materials = global.get(\"materials\");\nfor(var i=0;i<arr.length;i++){\n    for (var i2 = 0; i2 < materials.length; i2++) {\n        if(arr[i]==materials[i2].position){\n            data.push({\n                TotalNum: 1,\n                LocationCode: materials[i2].position,\n                item:[{\n                TraySn: materials[i2].position,\n                MaterialCode: materials[i2].code,\n                MaterialName: materials[i2].name,\n                Num: materials[i2].remain,\n            }]})\n        }\n    }\n}\nmsg = {payload:{Code:0, Msg:\"操作成功\",Data:data}};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1020,
        "wires": [
            [
                "42eb1857563aab68"
            ]
        ]
    },
    {
        "id": "42eb1857563aab68",
        "type": "http response",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 510,
        "y": 1020,
        "wires": []
    },
    {
        "id": "fd7c4304e1e0f6e4",
        "type": "http in",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "url": "/80/ReceiveMaterialInfo",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1080,
        "wires": [
            [
                "8854440cbbe3442e"
            ]
        ]
    },
    {
        "id": "8854440cbbe3442e",
        "type": "function",
        "z": "0ed9a07ea391dd22",
        "name": "函数 14",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1080,
        "wires": [
            [
                "93080e03b04d1131"
            ]
        ]
    },
    {
        "id": "93080e03b04d1131",
        "type": "http response",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 1080,
        "wires": []
    },
    {
        "id": "9e9291c82e052d7e",
        "type": "function",
        "z": "0ed9a07ea391dd22",
        "name": "function 20",
        "func": "var ErrorMap_90 = global.get(\"ErrorMap_90\");\nmsg.payload ={\t\t\t\t\n\tEquipmentCode: \"OP90\",\t\t\t\n\tEquipmentName: \"先导阀装配\",\t\t\t\n\tStatus: 0,\n    WarnContent: ErrorMap_90[msg.payload]\t\t\n};\nmsg.url = global.get(\"LCS\")+\"receiveUbiquitousWarn\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 800,
        "wires": [
            [
                "5cc06bbd651b129a"
            ]
        ]
    },
    {
        "id": "f3c49b373184a805",
        "type": "http response",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1090,
        "y": 220,
        "wires": []
    },
    {
        "id": "c938d34e09d68ee4",
        "type": "http in",
        "z": "0ed9a07ea391dd22",
        "name": "工位任务接收",
        "url": "/80/ReceiveStationTask",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "36619e542aba5288"
            ]
        ]
    },
    {
        "id": "a0092eea86d92c0c",
        "type": "http in",
        "z": "0ed9a07ea391dd22",
        "name": "泛在通用写多个接口",
        "url": "/80/WriteValue",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "6a3735a3b253faf8"
            ]
        ]
    },
    {
        "id": "6a3735a3b253faf8",
        "type": "function",
        "z": "0ed9a07ea391dd22",
        "name": "modbus 报文拆分",
        "func": "var arr = msg.payload;\nfor(var i=0;i<arr.length;i++){\n    var t = arr[i];\n    msg.payload = { value: parseInt(t.Value), 'fc': 6, 'unitid': 1, 'address': parseInt(t.Address), 'quantity': 1 } \n    node.send(msg);\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 440,
        "wires": [
            [
                "98b8d2691dca6793"
            ]
        ]
    },
    {
        "id": "98b8d2691dca6793",
        "type": "modbus-flex-write",
        "z": "0ed9a07ea391dd22",
        "name": "批量修改modbus值",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "8b08ccb1dadce45a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 770,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "691f4907f25d5e2b",
        "type": "change",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "StationTask_80",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 240,
        "wires": [
            [
                "b1c462673f309b47"
            ]
        ]
    },
    {
        "id": "b1c462673f309b47",
        "type": "function",
        "z": "0ed9a07ea391dd22",
        "name": "反馈",
        "func": "msg.payload = {\n    Code: 0,\n    Msg:\"操作成功\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 240,
        "wires": [
            [
                "f3c49b373184a805"
            ]
        ]
    },
    {
        "id": "39c10f5357b6e371",
        "type": "http in",
        "z": "0ed9a07ea391dd22",
        "name": "ReceiveEndSignal",
        "url": "/80/ReceiveEndSignal",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "ad3f7e483b265d37"
            ]
        ]
    },
    {
        "id": "48e2cd34c41e0cf0",
        "type": "http response",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "70ae8bb0498d2b1a",
        "type": "function",
        "z": "0ed9a07ea391dd22",
        "name": "反馈",
        "func": "msg.payload = {\n    Code: 0,\n    Msg: \"操作成功\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 120,
        "wires": [
            [
                "48e2cd34c41e0cf0"
            ]
        ]
    },
    {
        "id": "ad3f7e483b265d37",
        "type": "switch",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "property": "payload.BillCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "StationTask_90.BillCode",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "00523132650e98ad",
                "70ae8bb0498d2b1a",
                "c937c9d35ef2f7e8"
            ],
            [
                "0306e5e277a70a68"
            ]
        ]
    },
    {
        "id": "00523132650e98ad",
        "type": "change",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_80.AO.production",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "0306e5e277a70a68",
        "type": "function",
        "z": "0ed9a07ea391dd22",
        "name": "反馈",
        "func": "msg.payload = {\n    Code: 1,\n    Msg: \"操作失败,当前设备执行的工单和下发的结束工单不一致\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 160,
        "wires": [
            [
                "48e2cd34c41e0cf0"
            ]
        ]
    },
    {
        "id": "f4290f4200caddbd",
        "type": "http response",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "8c151f8624b8ee64",
        "type": "http in",
        "z": "0ed9a07ea391dd22",
        "name": "工位状态-轮询",
        "url": "/80/GetStationState",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "312d03afb40a3ed8"
            ]
        ]
    },
    {
        "id": "312d03afb40a3ed8",
        "type": "function",
        "z": "0ed9a07ea391dd22",
        "name": "反馈",
        "func": "var IO = global.get(\"IO_80\");\nmsg.payload = {\n\t\"Code\": 0,\n\t\"Msg\": \"操作成功\",\n\t\"Data\": [{\n\t\t\"StationCode\": \"OP_80\",\n\t\t\"StationName\": \"先导阀装配\",\n\t\t\"Status\": IO.AI.status\n\t}]\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 280,
        "wires": [
            [
                "f4290f4200caddbd"
            ]
        ]
    },
    {
        "id": "2db1929c03ea3aea",
        "type": "http in",
        "z": "0ed9a07ea391dd22",
        "name": "动作执行",
        "url": "/80/DoAction",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "1a57418033fe0137",
                "37c372a70ce118c4"
            ]
        ]
    },
    {
        "id": "fe2cb743682890b3",
        "type": "function",
        "z": "0ed9a07ea391dd22",
        "name": "modbus 报文拆分",
        "func": "var t = msg.payload;\nif (t.Value == 0 && t.Address == 4080) {\n    t.RequestID = \"-\";\n}\nvar Request = global.get(\"Request_80\")\nRequest.RequestID = t.RequestID;\nvar t2 = (new Date()).toISOString();\nRequest.StartTime = t2;\nRequest.EndTime = \"\";\nglobal.set(\"torque\", [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]);\n\nmsg.payload = { value: parseInt(t.Value), 'fc': 6, 'unitid': 1, 'address': parseInt(t.Address), 'quantity': 1 }\nnode.send(msg);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 420,
        "wires": [
            [
                "98b8d2691dca6793",
                "8587d880509d0863"
            ]
        ]
    },
    {
        "id": "923d6985d026cfc9",
        "type": "switch",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "property": "Request_80.RequestID",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "-",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "-",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 295,
        "y": 360,
        "wires": [
            [
                "fe2cb743682890b3",
                "58cc1a92971be7a5"
            ],
            [
                "9a0d23d7b8dd6280"
            ]
        ],
        "l": false
    },
    {
        "id": "58cc1a92971be7a5",
        "type": "function",
        "z": "0ed9a07ea391dd22",
        "name": "反馈",
        "func": "msg.payload = {\n    Code: 0,\n    Msg: \"操作成功\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 300,
        "wires": [
            [
                "7ab02fc49140ef8c"
            ]
        ]
    },
    {
        "id": "7ab02fc49140ef8c",
        "type": "http response",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "9a0d23d7b8dd6280",
        "type": "function",
        "z": "0ed9a07ea391dd22",
        "name": "反馈",
        "func": "msg.payload = {\n    Code: 1,\n    Msg: \"上一个动作还未完成\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 340,
        "wires": [
            [
                "7ab02fc49140ef8c"
            ]
        ]
    },
    {
        "id": "36619e542aba5288",
        "type": "function",
        "z": "0ed9a07ea391dd22",
        "name": "格式解析",
        "func": "msg.error = 0;\n\nvar task = global.get(\"StationTask_90\");\nif(task.BillCode!='-'){\n    msg.error = 1;\n    msg.errorMsg = \"previese task is on going\";\n    return msg;\n}\n\nconst data = msg.payload;\nif((typeof(data)!='object')){\n    msg.error = 2;\n    msg.errorMsg = \"format wrong\";\n    return msg;\n}\n\nif (!('BillCode' in data)){\n    msg.error = 3;\n    msg.errorMsg = \"no BillCode\";\n    return msg;\n}\nif (!('ProductCode' in data)){\n    msg.error = 4;\n    msg.errorMsg = \"no ProductCode\";\n    return msg;\n}\n\nif (!('ProcessDetail' in data)){\n    msg.error = 5;\n    msg.errorMsg = \"no ProcessDetail\";\n    return msg;\n}\n\nif(data.ProcessDetail.length==1){\n    const data2 = data.ProcessDetail[0];\n    if (!('EquipmentCode' in data2)){\n        msg.error = 6;\n        msg.errorMsg = \"no EquipmentCode\";\n        return msg;\n    }\n    if(data2.EquipmentCode!='OP90'){\n        msg.error = 7;\n        msg.errorMsg = \"no OP90\";\n        return msg;\n    }\n    if (!('Num' in data2)){\n        msg.error = 8;\n        msg.errorMsg = \"no Num\";\n        return msg;\n    }\n    if (!('MaterialDetails' in data2)){\n        msg.error = 9;\n        msg.errorMsg = \"no MaterialDetails\";\n        return msg;\n    }\n\n    var arr_isMaterialIn = [1,1,1];\n    const _arr= [\n        \"M5x20\",\n        \"M6x85\",\n        \"XDF\"];\n    for(var i=0;i<data2.MaterialDetails.length;i++){\n        const data3 = data2.MaterialDetails[i];\n        if (!('MaterialCode' in data3)){\n            msg.error = 10;\n            msg.errorMsg = \"MaterialDetails is missing\";\n            return msg;\n        }\n        if (!('Num' in data3)){\n            msg.error = 11;\n            msg.errorMsg = \"Num is missing\";\n            return msg;\n        }   \n        data3.complated = 0;\n        const a = _arr.indexOf(data3.MaterialCode);\n        console.debug(a);\n        if(a == -1){\n            msg.error = 12;\n            msg.errorMsg = \"MaterialCode is wrong \"+data3.MaterialCode;\n            return msg;\n        }  \n        arr_isMaterialIn[a] = 0;\n    }\n    var __isMterialIn = 0;\n    eval(\"__isMterialIn = \"+arr_isMaterialIn.join(\"+\")+\";\");\n    if(__isMterialIn!=0){\n        msg.error = 14;\n        msg.errorMsg = __isMterialIn+\" materials are missing \";\n        return msg;\n    }\n}\nelse{\n    msg.error = 13;\n    msg.errorMsg = \"ProcessDetail.length should be 1\";\n    return msg;\n}\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 240,
        "wires": [
            [
                "f9c8a9ac3c5633de",
                "b4469b3b451f28da"
            ]
        ]
    },
    {
        "id": "f9c8a9ac3c5633de",
        "type": "switch",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "property": "error",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "691f4907f25d5e2b"
            ],
            [
                "b297b36fbd2f791d"
            ]
        ]
    },
    {
        "id": "b297b36fbd2f791d",
        "type": "function",
        "z": "0ed9a07ea391dd22",
        "name": "反馈",
        "func": "msg.payload = {\n    Code: 1,\n    Msg:\"失败\"+msg.errorMsg\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 200,
        "wires": [
            [
                "f3c49b373184a805"
            ]
        ]
    },
    {
        "id": "b4469b3b451f28da",
        "type": "debug",
        "z": "0ed9a07ea391dd22",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "c937c9d35ef2f7e8",
        "type": "change",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "StationTask_80.BillCode",
                "pt": "global",
                "to": "-",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "8587d880509d0863",
        "type": "link out",
        "z": "0ed9a07ea391dd22",
        "name": "调度生产",
        "mode": "link",
        "links": [
            "6dc8f569ff366e25"
        ],
        "x": 685,
        "y": 360,
        "wires": []
    },
    {
        "id": "1a57418033fe0137",
        "type": "switch",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "property": "IO_80.AI.status",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "22",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 225,
        "y": 360,
        "wires": [
            [
                "923d6985d026cfc9"
            ],
            [
                "f12d04b26351639b"
            ]
        ],
        "l": false
    },
    {
        "id": "f12d04b26351639b",
        "type": "function",
        "z": "0ed9a07ea391dd22",
        "name": "反馈",
        "func": "const IO = global.get(\"IO_80\");\nmsg.payload = {\n    Code: 1,\n    Msg: \"当前状态无法执行动作:\"+IO.AI.status,\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 380,
        "wires": [
            [
                "7ab02fc49140ef8c"
            ]
        ]
    },
    {
        "id": "53867554acb76cef",
        "type": "file",
        "z": "0ed9a07ea391dd22",
        "name": "",
        "filename": "C:/tmp/request.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 270,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "37c372a70ce118c4",
        "type": "function",
        "z": "0ed9a07ea391dd22",
        "name": "函数 25",
        "func": "var txt = msg.payload.Value + \",\" + msg.payload.RequestID;\nvar date = (new Date()).toISOString();\nmsg.payload = date + \" : \" + txt;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 115,
        "y": 320,
        "wires": [
            [
                "53867554acb76cef"
            ]
        ],
        "l": false
    },
    {
        "id": "2a80fca02ce33f08",
        "type": "modbus-read",
        "z": "0aceb91922d497d0",
        "name": "螺丝刀-83",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "31",
        "quantity": "2",
        "rate": "200",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b73080d51bca954d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "db17f68c9dd546f0",
                "ccc89f4b137c75d6",
                "53b18cf363b9bdfc"
            ],
            []
        ]
    },
    {
        "id": "db17f68c9dd546f0",
        "type": "debug",
        "z": "0aceb91922d497d0",
        "name": "调试 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 80,
        "wires": []
    },
    {
        "id": "dbcf207b20ea3687",
        "type": "modbus-write",
        "z": "0aceb91922d497d0",
        "name": "螺丝刀-控制",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "3",
        "quantity": "1",
        "server": "b73080d51bca954d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1030,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2a8d34fca97e4058",
        "type": "inject",
        "z": "0aceb91922d497d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 730,
        "y": 240,
        "wires": [
            [
                "dbcf207b20ea3687"
            ]
        ]
    },
    {
        "id": "2c1198ed8c6d61f5",
        "type": "inject",
        "z": "0aceb91922d497d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "8",
        "payloadType": "num",
        "x": 730,
        "y": 280,
        "wires": [
            [
                "dbcf207b20ea3687"
            ]
        ]
    },
    {
        "id": "884e04237bfbda8e",
        "type": "inject",
        "z": "0aceb91922d497d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 730,
        "y": 320,
        "wires": [
            [
                "dbcf207b20ea3687"
            ]
        ]
    },
    {
        "id": "e8e78ece20beaef8",
        "type": "trigger",
        "z": "0aceb91922d497d0",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "eb37fbc14097f749",
                "e69ca90dc3f2c992"
            ]
        ]
    },
    {
        "id": "eb37fbc14097f749",
        "type": "function",
        "z": "0aceb91922d497d0",
        "name": "控制",
        "func": "var val = 0;\nconst IO = global.get(\"IO_80\");\nif (IO.AO_screw.run==1){\n    val += 1;\n}\nif (IO.AO_screw.clockwise==1){\n    val += 2;\n}\nif (IO.AO_screw.pause == 1) {\n    val += 4;\n}\nif (IO.AO_screw.reset == 1) {\n    val += 8;\n}\nmsg.payload = val;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 180,
        "wires": [
            [
                "f6e420c9a1fc7f7b"
            ]
        ]
    },
    {
        "id": "1ffddf51f01e9d58",
        "type": "modbus-read",
        "z": "0aceb91922d497d0",
        "name": "螺丝刀-83-扭力反馈",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "25",
        "quantity": "2",
        "rate": "200",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b73080d51bca954d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 510,
        "y": 80,
        "wires": [
            [
                "e4e15c5fc07fe382"
            ],
            []
        ]
    },
    {
        "id": "e4e15c5fc07fe382",
        "type": "function",
        "z": "0aceb91922d497d0",
        "name": "完成扭矩",
        "func": "var data = msg.payload[0] + msg.payload[1] * 0xff;\nif (!Number.isNaN(data)) {\n    msg.payload = data;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 80,
        "wires": [
            [
                "c2b844d098ce39d4"
            ]
        ]
    },
    {
        "id": "c2b844d098ce39d4",
        "type": "change",
        "z": "0aceb91922d497d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_80.AI_screw.torque",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "7ec0322db0b6da1a",
        "type": "inject",
        "z": "0aceb91922d497d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "e8e78ece20beaef8"
            ]
        ]
    },
    {
        "id": "f9c9bf6a8355b1fa",
        "type": "inject",
        "z": "0aceb91922d497d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 730,
        "y": 360,
        "wires": [
            [
                "dbcf207b20ea3687"
            ]
        ]
    },
    {
        "id": "f6e420c9a1fc7f7b",
        "type": "rbe",
        "z": "0aceb91922d497d0",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 755,
        "y": 180,
        "wires": [
            [
                "dbcf207b20ea3687",
                "2142e387b8d18ca4"
            ]
        ],
        "l": false
    },
    {
        "id": "46a47cc1a6b4083c",
        "type": "modbus-write",
        "z": "0aceb91922d497d0",
        "name": "螺丝刀-模式",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "48",
        "quantity": "1",
        "server": "b73080d51bca954d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1030,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3c27be35ade8a32a",
        "type": "inject",
        "z": "0aceb91922d497d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "12",
        "payloadType": "num",
        "x": 730,
        "y": 480,
        "wires": [
            [
                "46a47cc1a6b4083c"
            ]
        ]
    },
    {
        "id": "b0f68a4e7f5078ad",
        "type": "inject",
        "z": "0aceb91922d497d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 730,
        "y": 520,
        "wires": [
            [
                "46a47cc1a6b4083c"
            ]
        ]
    },
    {
        "id": "4b44deb1437a610c",
        "type": "rbe",
        "z": "0aceb91922d497d0",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 765,
        "y": 420,
        "wires": [
            [
                "46a47cc1a6b4083c"
            ]
        ],
        "l": false
    },
    {
        "id": "2142e387b8d18ca4",
        "type": "debug",
        "z": "0aceb91922d497d0",
        "name": "调试 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 140,
        "wires": []
    },
    {
        "id": "e69ca90dc3f2c992",
        "type": "function",
        "z": "0aceb91922d497d0",
        "name": "模式",
        "func": "const IO = global.get(\"IO_80\");\nmsg.payload = IO.AO_screw.mode;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 420,
        "wires": [
            [
                "4b44deb1437a610c"
            ]
        ]
    },
    {
        "id": "ccc89f4b137c75d6",
        "type": "function",
        "z": "0aceb91922d497d0",
        "name": "函数 38",
        "func": "var error = msg.payload[0];\nvar result = msg.payload[1];\nvar IO = global.get(\"IO_80\");\nif (result == 1 && error > 0) {\n    IO.AI_screw.status = 3;\n}\nelse {\n    IO.AI_screw.status = result;\n}\nIO.AI_screw.error = error;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "53b18cf363b9bdfc",
        "type": "change",
        "z": "0aceb91922d497d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[1]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 245,
        "y": 40,
        "wires": [
            [
                "7d2274a9925015b8"
            ]
        ],
        "l": false
    },
    {
        "id": "7d2274a9925015b8",
        "type": "rbe",
        "z": "0aceb91922d497d0",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 305,
        "y": 40,
        "wires": [
            [
                "aafb606891a6a420"
            ]
        ],
        "l": false
    },
    {
        "id": "aafb606891a6a420",
        "type": "switch",
        "z": "0aceb91922d497d0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 355,
        "y": 40,
        "wires": [
            [
                "fb5620700b1981ea"
            ]
        ],
        "l": false
    },
    {
        "id": "fb5620700b1981ea",
        "type": "function",
        "z": "0aceb91922d497d0",
        "name": "扭力数组",
        "func": "var torques = global.get(\"torque\");\nvar IO = global.get(\"IO_80\");\ntorques.push(IO.AI_screw.torque);\ntorques.shift();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "abe11b0f53b29640",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "c90c7f7dbabebf66"
            ]
        ]
    },
    {
        "id": "c90c7f7dbabebf66",
        "type": "change",
        "z": "dce641ad0336b7ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_80.AO_6axes.request",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "a23b5ac3b2eea416"
            ]
        ]
    },
    {
        "id": "2932d38bfcedd7bc",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "c90c7f7dbabebf66"
            ]
        ]
    },
    {
        "id": "bfd77d8d555ed272",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "c90c7f7dbabebf66"
            ]
        ]
    },
    {
        "id": "5b3a69480e305918",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "c90c7f7dbabebf66"
            ]
        ]
    },
    {
        "id": "96aa2a29475a5f8b",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "c90c7f7dbabebf66"
            ]
        ]
    },
    {
        "id": "1e066b1b8f6cc3cc",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "c90c7f7dbabebf66"
            ]
        ]
    },
    {
        "id": "4bed96cb517ccfa9",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 370,
        "y": 220,
        "wires": [
            [
                "a149ff3e1db3f4f7"
            ]
        ]
    },
    {
        "id": "a149ff3e1db3f4f7",
        "type": "change",
        "z": "dce641ad0336b7ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_80.AO.request",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "caaaae7b31b36f0c"
            ]
        ]
    },
    {
        "id": "5742565dc1c0478a",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "a149ff3e1db3f4f7"
            ]
        ]
    },
    {
        "id": "d8e250b8b62f146f",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 370,
        "y": 300,
        "wires": [
            [
                "a149ff3e1db3f4f7"
            ]
        ]
    },
    {
        "id": "720313d2036bf270",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "a149ff3e1db3f4f7"
            ]
        ]
    },
    {
        "id": "c0f74097dafdab9f",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "a149ff3e1db3f4f7"
            ]
        ]
    },
    {
        "id": "4769277a8faa920f",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 370,
        "y": 420,
        "wires": [
            [
                "a149ff3e1db3f4f7"
            ]
        ]
    },
    {
        "id": "4e2cf32578892638",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "c90c7f7dbabebf66"
            ]
        ]
    },
    {
        "id": "c5f845c1d524615e",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "a149ff3e1db3f4f7"
            ]
        ]
    },
    {
        "id": "86fc3a4314d8edeb",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "IO_80.AI.response",
        "payloadType": "global",
        "x": 720,
        "y": 560,
        "wires": [
            [
                "34c8fb450875134a"
            ]
        ]
    },
    {
        "id": "34c8fb450875134a",
        "type": "debug",
        "z": "dce641ad0336b7ac",
        "name": "调试 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 680,
        "y": 500,
        "wires": []
    },
    {
        "id": "d9c0262ce643c05e",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "IO_80.AI_6axes.response",
        "payloadType": "global",
        "x": 220,
        "y": 600,
        "wires": [
            [
                "28dd1bec30eaf59b"
            ]
        ]
    },
    {
        "id": "28dd1bec30eaf59b",
        "type": "debug",
        "z": "dce641ad0336b7ac",
        "name": "调试 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 440,
        "y": 600,
        "wires": []
    },
    {
        "id": "672947c6cb85cdd2",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "num",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "a149ff3e1db3f4f7"
            ]
        ]
    },
    {
        "id": "6d4c4ddd376a0a8b",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "8",
        "payloadType": "num",
        "x": 550,
        "y": 420,
        "wires": [
            [
                "a149ff3e1db3f4f7"
            ]
        ]
    },
    {
        "id": "c235fed3b9144fd8",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "9",
        "payloadType": "num",
        "x": 723,
        "y": 435,
        "wires": [
            [
                "a149ff3e1db3f4f7"
            ]
        ]
    },
    {
        "id": "d9b4a9d34120251f",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 870,
        "y": 100,
        "wires": [
            [
                "cb6f5ff72b97d381"
            ]
        ]
    },
    {
        "id": "b8c062f061481cdc",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 870,
        "y": 140,
        "wires": [
            [
                "cb6f5ff72b97d381"
            ]
        ]
    },
    {
        "id": "c32014ac6a08a68c",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 870,
        "y": 180,
        "wires": [
            [
                "cb6f5ff72b97d381"
            ]
        ]
    },
    {
        "id": "ae6e076ecedad83e",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 870,
        "y": 220,
        "wires": [
            [
                "cb6f5ff72b97d381"
            ]
        ]
    },
    {
        "id": "1c8dd0f6a052224e",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 870,
        "y": 260,
        "wires": [
            [
                "cb6f5ff72b97d381"
            ]
        ]
    },
    {
        "id": "e2f97d64adef014a",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 870,
        "y": 300,
        "wires": [
            [
                "cb6f5ff72b97d381"
            ]
        ]
    },
    {
        "id": "e1e59c499999fd5f",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 870,
        "y": 60,
        "wires": [
            [
                "cb6f5ff72b97d381"
            ]
        ]
    },
    {
        "id": "cb6f5ff72b97d381",
        "type": "change",
        "z": "dce641ad0336b7ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_80.AO_6axes.index_top_tray",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "69f080e08589a93b",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "num",
        "x": 890,
        "y": 340,
        "wires": [
            [
                "cb6f5ff72b97d381"
            ]
        ]
    },
    {
        "id": "29e2d94c0450bf27",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "8",
        "payloadType": "num",
        "x": 890,
        "y": 380,
        "wires": [
            [
                "cb6f5ff72b97d381"
            ]
        ]
    },
    {
        "id": "57cc7ef8bf16b02c",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "9",
        "payloadType": "num",
        "x": 890,
        "y": 420,
        "wires": [
            [
                "cb6f5ff72b97d381"
            ]
        ]
    },
    {
        "id": "b5b840b268e94802",
        "type": "change",
        "z": "dce641ad0336b7ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_80.AO.request",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "caaaae7b31b36f0c",
        "type": "delay",
        "z": "dce641ad0336b7ac",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 600,
        "y": 220,
        "wires": [
            [
                "b5b840b268e94802"
            ]
        ]
    },
    {
        "id": "5a236955eeb5179f",
        "type": "change",
        "z": "dce641ad0336b7ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_80.AO_6axes.request",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "a23b5ac3b2eea416",
        "type": "delay",
        "z": "dce641ad0336b7ac",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 60,
        "wires": [
            [
                "5a236955eeb5179f"
            ]
        ]
    },
    {
        "id": "f5b3df329cd48fd4",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 1030,
        "y": 540,
        "wires": [
            [
                "dc80b461b6086d93"
            ]
        ]
    },
    {
        "id": "7f99ccb294b8dc28",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 1030,
        "y": 580,
        "wires": [
            [
                "dc80b461b6086d93"
            ]
        ]
    },
    {
        "id": "3586bd5cafbc94ea",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 1030,
        "y": 620,
        "wires": [
            [
                "dc80b461b6086d93"
            ]
        ]
    },
    {
        "id": "dc99c5dcd1bca6de",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1030,
        "y": 500,
        "wires": [
            [
                "dc80b461b6086d93"
            ]
        ]
    },
    {
        "id": "dc80b461b6086d93",
        "type": "change",
        "z": "dce641ad0336b7ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_80.AO.index_assembled",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "52b2ce1d375ba062",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "5706c12ed7565cbe"
            ]
        ]
    },
    {
        "id": "079186f750c63693",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "5706c12ed7565cbe"
            ]
        ]
    },
    {
        "id": "aa8b23d3e9358e92",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "5706c12ed7565cbe"
            ]
        ]
    },
    {
        "id": "b43baf2c54c963ea",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "5706c12ed7565cbe"
            ]
        ]
    },
    {
        "id": "5706c12ed7565cbe",
        "type": "change",
        "z": "dce641ad0336b7ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_80.AO.tray_in_count",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "23a6b7a4b16e6e64",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "5706c12ed7565cbe"
            ]
        ]
    },
    {
        "id": "88047358db99b3c0",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 110,
        "y": 920,
        "wires": [
            [
                "5706c12ed7565cbe"
            ]
        ]
    },
    {
        "id": "0d4fc587c4b90277",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 1020,
        "wires": [
            [
                "423992bb64a00af8"
            ]
        ]
    },
    {
        "id": "82b6b8aa5ba2fedc",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 110,
        "y": 1060,
        "wires": [
            [
                "423992bb64a00af8"
            ]
        ]
    },
    {
        "id": "90a9e4338717f555",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 110,
        "y": 1100,
        "wires": [
            [
                "423992bb64a00af8"
            ]
        ]
    },
    {
        "id": "4c9797432dc04f94",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 980,
        "wires": [
            [
                "423992bb64a00af8"
            ]
        ]
    },
    {
        "id": "423992bb64a00af8",
        "type": "change",
        "z": "dce641ad0336b7ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IO_80.AO.tray_out_count",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "06094cda3cdafc6c",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 110,
        "y": 1140,
        "wires": [
            [
                "423992bb64a00af8"
            ]
        ]
    },
    {
        "id": "74a66548d2c8e2bd",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 110,
        "y": 1180,
        "wires": [
            [
                "423992bb64a00af8"
            ]
        ]
    },
    {
        "id": "7d71246666620918",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 470,
        "y": 500,
        "wires": [
            [
                "a149ff3e1db3f4f7"
            ]
        ]
    },
    {
        "id": "18b235513e28e295",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "num",
        "x": 1030,
        "y": 720,
        "wires": [
            [
                "dc80b461b6086d93"
            ]
        ]
    },
    {
        "id": "7b2cd22137c8fc63",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "8",
        "payloadType": "num",
        "x": 1030,
        "y": 760,
        "wires": [
            [
                "dc80b461b6086d93"
            ]
        ]
    },
    {
        "id": "5216724c59c530e4",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-",
        "payloadType": "str",
        "x": 290,
        "y": 1260,
        "wires": [
            [
                "d4284e2180130236"
            ]
        ]
    },
    {
        "id": "d4284e2180130236",
        "type": "change",
        "z": "dce641ad0336b7ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Request_80.RequestID",
                "pt": "global",
                "to": "-",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "36a89f6b5c0bc662",
        "type": "http in",
        "z": "dce641ad0336b7ac",
        "name": "",
        "url": "/80/RequestID",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 510,
        "y": 1260,
        "wires": [
            [
                "45e29054f0b73dce"
            ]
        ]
    },
    {
        "id": "45e29054f0b73dce",
        "type": "change",
        "z": "dce641ad0336b7ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "-",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 635,
        "y": 1260,
        "wires": [
            [
                "d4284e2180130236",
                "e8b9e56d99167063"
            ]
        ],
        "l": false
    },
    {
        "id": "e8b9e56d99167063",
        "type": "http response",
        "z": "dce641ad0336b7ac",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 1260,
        "wires": []
    },
    {
        "id": "7e80915bf7cd83b8",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 990,
        "y": 660,
        "wires": [
            [
                "dc80b461b6086d93"
            ]
        ]
    },
    {
        "id": "120e8d4992ead752",
        "type": "subflow:39ee57f0a4cc832c",
        "z": "dce641ad0336b7ac",
        "name": "",
        "x": 290,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "8c9e051a16fc46e9",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1520,
        "wires": [
            [
                "120e8d4992ead752"
            ]
        ]
    },
    {
        "id": "fe8a6400e73537b8",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 1720,
        "wires": [
            [
                "769918e605818f46"
            ]
        ]
    },
    {
        "id": "769918e605818f46",
        "type": "function",
        "z": "dce641ad0336b7ac",
        "name": "function 30",
        "func": "var a = {b:1,c:2,d:{d:{d:{d:2}}}};\nglobal.set(\"ta\",a);\nvar b = {b:1,c:2,d:{d:{d:{d:2}}}};\nglobal.set(\"tb\",b);\nglobal.set(\"c\",{c:1});\nglobal.set(\"d\",{d:1});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "b85d4353a668507b",
        "type": "subflow:39ee57f0a4cc832c",
        "z": "dce641ad0336b7ac",
        "name": "",
        "x": 570,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "a510202438fbd615",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 1520,
        "wires": [
            [
                "b85d4353a668507b"
            ]
        ]
    },
    {
        "id": "f60a89b92d3d9dd0",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1820,
        "wires": [
            [
                "0a90c5f6079d9ce3"
            ]
        ]
    },
    {
        "id": "0a90c5f6079d9ce3",
        "type": "change",
        "z": "dce641ad0336b7ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "c.c",
                "pt": "global",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "c8f35ea3e9fac5c8",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1880,
        "wires": [
            [
                "c722abd60adbb0d6"
            ]
        ]
    },
    {
        "id": "c722abd60adbb0d6",
        "type": "change",
        "z": "dce641ad0336b7ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "c.c",
                "pt": "global",
                "to": "300",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "239aaac7c9c972a9",
        "type": "power",
        "z": "dce641ad0336b7ac",
        "name": "",
        "toChange": "ta.b",
        "toMonitor": "c.c",
        "changeValue": 100,
        "targetValue": 200,
        "toWait": 2,
        "toReset": 5,
        "x": 640,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "b18609a45929edb5",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 1960,
        "wires": [
            [
                "239aaac7c9c972a9"
            ]
        ]
    },
    {
        "id": "792028be3a227dbf",
        "type": "power",
        "z": "dce641ad0336b7ac",
        "name": "",
        "toChange": "ta.b",
        "toMonitor": "c.c",
        "changeValue": 100,
        "targetValue": 300,
        "toWait": 2,
        "toReset": 5,
        "x": 560,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "09a305bc389c992b",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 2080,
        "wires": [
            [
                "792028be3a227dbf"
            ]
        ]
    },
    {
        "id": "dcc1acb1ce2e42f7",
        "type": "power",
        "z": "dce641ad0336b7ac",
        "name": "",
        "toChange": "tb.b",
        "toMonitor": "d.d",
        "changeValue": 100,
        "targetValue": 300,
        "toWait": 2,
        "toReset": 5,
        "x": 520,
        "y": 2180,
        "wires": [
            []
        ]
    },
    {
        "id": "5caa5339b0b7c7a4",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 2180,
        "wires": [
            [
                "dcc1acb1ce2e42f7"
            ]
        ]
    },
    {
        "id": "418e808ea030fdf4",
        "type": "inject",
        "z": "dce641ad0336b7ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 530,
        "y": 1880,
        "wires": [
            [
                "f706edf32afb2fbd"
            ]
        ]
    },
    {
        "id": "f706edf32afb2fbd",
        "type": "change",
        "z": "dce641ad0336b7ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "d.d",
                "pt": "global",
                "to": "300",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1880,
        "wires": [
            []
        ]
    }
]