OP40/subflows/SCARA-L.json
[
  {
    "id": "f7971c0dbc233cfb",
    "type": "subflow",
    "name": "SCARA-L",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 120,
        "wires": [
          {
            "id": "fc18a21d112a1902"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1270,
        "y": 120,
        "wires": [
          {
            "id": "696d2ff8d1ce0be4",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "SCARA-L",
        "type": "str",
        "value": ""
      }
    ],
    "meta": {},
    "color": "#E2D96E",
    "icon": "node-red/arduino.svg",
    "status": {
      "x": 960,
      "y": 320,
      "wires": [
        {
          "id": "bb8184052aa927e9",
          "port": 0
        },
        {
          "id": "ba49b48858a3d098",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "b3e0524cd6136172",
    "type": "trigger",
    "z": "f7971c0dbc233cfb",
    "name": "",
    "op1": "IO_40.AI_SCARA_L.response",
    "op2": "0",
    "op1type": "global",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1025,
    "y": 120,
    "wires": [
      [
        "52bc118c6ea03bfc",
        "bb8184052aa927e9"
      ]
    ],
    "l": false
  },
  {
    "id": "13b9d83b987b5644",
    "type": "delay",
    "z": "f7971c0dbc233cfb",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1025,
    "y": 80,
    "wires": [
      [
        "d14a1c8ca72c2ab3"
      ]
    ],
    "l": false
  },
  {
    "id": "52bc118c6ea03bfc",
    "type": "function",
    "z": "f7971c0dbc233cfb",
    "name": "函数 11",
    "func": "const IO = global.get(\"IO_40\");\nif (IO.AI_SCARA_L.response == (IO.AO_SCARA_L.request_+1)){\n    return {reset:1};\n}\n\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1085,
    "y": 120,
    "wires": [
      [
        "b3e0524cd6136172",
        "696d2ff8d1ce0be4"
      ]
    ],
    "l": false
  },
  {
    "id": "696d2ff8d1ce0be4",
    "type": "function",
    "z": "f7971c0dbc233cfb",
    "name": "函数 12",
    "func": "return {payload: 1}",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1165,
    "y": 120,
    "wires": [
      [
        "ba49b48858a3d098"
      ]
    ],
    "l": false
  },
  {
    "id": "fc18a21d112a1902",
    "type": "function",
    "z": "f7971c0dbc233cfb",
    "name": "函数 13",
    "func": "var IO = global.get(\"IO_40\");\nconst r = env.get(\"SCARA-L\")\nIO.AO_SCARA_L.request = r\nIO.AO_SCARA_L.request_ = r\nconsole.debug(r)\nflow.set(\"c_l\",1);\nreturn {payload: 1};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 840,
    "y": 120,
    "wires": [
      [
        "b3e0524cd6136172",
        "13b9d83b987b5644"
      ]
    ]
  },
  {
    "id": "d14a1c8ca72c2ab3",
    "type": "function",
    "z": "f7971c0dbc233cfb",
    "name": "函数 14",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_L.request = 0;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1120,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "bb8184052aa927e9",
    "type": "function",
    "z": "f7971c0dbc233cfb",
    "name": "函数 18",
    "func": "var c1 = flow.get(\"c_l\");\nconst IO = global.get(\"IO_40\");\n\nmsg.payload = c1 + \":\" + IO.AO_SCARA_L.request_;\nflow.set(\"c_l\",c1+1);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 980,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "ba49b48858a3d098",
    "type": "function",
    "z": "f7971c0dbc233cfb",
    "name": "函数 19",
    "func": "msg.payload = \"DONE\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1200,
    "y": 200,
    "wires": [
      []
    ]
  }
]