OP40/subflows/SCARA-R.json
[
  {
    "id": "ea20ebf1717d3f23",
    "type": "subflow",
    "name": "SCARA-R",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 40,
        "y": 140,
        "wires": [
          {
            "id": "62319e50c3e46341"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 660,
        "y": 140,
        "wires": [
          {
            "id": "80b854f2881ef8c5",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "request_r",
        "type": "num",
        "value": "",
        "ui": {
          "type": "input",
          "opts": {
            "types": [
              "num"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "icon": "node-red/arduino.svg",
    "status": {
      "x": 560,
      "y": 320,
      "wires": [
        {
          "id": "ca3abb03bbaef142",
          "port": 0
        },
        {
          "id": "ddf19562ec7d38a8",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "7d31ac48f00a6188",
    "type": "trigger",
    "z": "ea20ebf1717d3f23",
    "name": "",
    "op1": "IO_40.AI_SCARA_R.response",
    "op2": "0",
    "op1type": "global",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 325,
    "y": 140,
    "wires": [
      [
        "cd7d3899e76737f9",
        "ca3abb03bbaef142"
      ]
    ],
    "l": false
  },
  {
    "id": "9f0e9b018f414bf8",
    "type": "delay",
    "z": "ea20ebf1717d3f23",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 325,
    "y": 100,
    "wires": [
      [
        "3ebe62a1d4e4167f"
      ]
    ],
    "l": false
  },
  {
    "id": "cd7d3899e76737f9",
    "type": "function",
    "z": "ea20ebf1717d3f23",
    "name": "函数 20",
    "func": "const IO = global.get(\"IO_40\");\nif (IO.AI_SCARA_R.response == (IO.AO_SCARA_R.request_+1)){\n    return {reset:1};\n}\n\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 385,
    "y": 140,
    "wires": [
      [
        "7d31ac48f00a6188",
        "80b854f2881ef8c5"
      ]
    ],
    "l": false
  },
  {
    "id": "80b854f2881ef8c5",
    "type": "function",
    "z": "ea20ebf1717d3f23",
    "name": "函数 21",
    "func": "return {payload: 1}",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 465,
    "y": 140,
    "wires": [
      [
        "ddf19562ec7d38a8"
      ]
    ],
    "l": false
  },
  {
    "id": "62319e50c3e46341",
    "type": "function",
    "z": "ea20ebf1717d3f23",
    "name": "函数 22",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_R.request = env.get(\"request_r\");\nIO.AO_SCARA_R.request_ = env.get(\"request_r\");\nflow.set(\"c2\",1);\nreturn {payload: 1};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 140,
    "y": 140,
    "wires": [
      [
        "7d31ac48f00a6188",
        "9f0e9b018f414bf8"
      ]
    ]
  },
  {
    "id": "3ebe62a1d4e4167f",
    "type": "function",
    "z": "ea20ebf1717d3f23",
    "name": "函数 23",
    "func": "var IO = global.get(\"IO_40\");\nIO.AO_SCARA_R.request = 0;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "ca3abb03bbaef142",
    "type": "function",
    "z": "ea20ebf1717d3f23",
    "name": "函数 24",
    "func": "var c2 = flow.get(\"c2\");\nconst IO = global.get(\"IO_40\");\n\nmsg.payload = c2 + \":\" + IO.AO_SCARA_R.request_;\nflow.set(\"c2\",c2+1);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "ddf19562ec7d38a8",
    "type": "function",
    "z": "ea20ebf1717d3f23",
    "name": "函数 25",
    "func": "msg.payload = \"DONE\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 220,
    "wires": [
      []
    ]
  }
]