OP40/subflows/不会撞右侧.json
[
  {
    "id": "dfa3db885e16c622",
    "type": "subflow",
    "name": "不会撞右侧",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 40,
        "y": 180,
        "wires": [
          {
            "id": "265866d8f99cbb56"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 780,
        "y": 180,
        "wires": [
          {
            "id": "4d85e0aa68cc14ff",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#DDAA99",
    "icon": "font-awesome/fa-chain-broken",
    "status": {
      "x": 520,
      "y": 420,
      "wires": [
        {
          "id": "cdc2cbd17fb577ea",
          "port": 0
        },
        {
          "id": "4d85e0aa68cc14ff",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "265866d8f99cbb56",
    "type": "trigger",
    "z": "dfa3db885e16c622",
    "name": "",
    "op1": "",
    "op2": "0",
    "op1type": "date",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 125,
    "y": 180,
    "wires": [
      [
        "8e4cef23d7589e7a",
        "cdc2cbd17fb577ea"
      ]
    ],
    "l": false
  },
  {
    "id": "8e4cef23d7589e7a",
    "type": "switch",
    "z": "dfa3db885e16c622",
    "name": "不会撞右侧",
    "property": "IO_40.AI_SCARA_R.response",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "130",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "140",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "170",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "150",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "131",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "110",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "111",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 8,
    "x": 270,
    "y": 120,
    "wires": [
      [],
      [],
      [],
      [],
      [],
      [],
      [],
      [
        "80b53332f824a0e7"
      ]
    ]
  },
  {
    "id": "7672700065dca8ab",
    "type": "change",
    "z": "dfa3db885e16c622",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 515,
    "y": 180,
    "wires": [
      [
        "265866d8f99cbb56",
        "4d85e0aa68cc14ff"
      ]
    ],
    "l": false
  },
  {
    "id": "4d85e0aa68cc14ff",
    "type": "function",
    "z": "dfa3db885e16c622",
    "name": "function 36",
    "func": "return {payload: \"PASS\"};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "cdc2cbd17fb577ea",
    "type": "function",
    "z": "dfa3db885e16c622",
    "name": "function 37",
    "func": "const d = (new Date()).getSeconds();\nreturn { payload: d };",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 270,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "80b53332f824a0e7",
    "type": "switch",
    "z": "dfa3db885e16c622",
    "name": "不会撞右侧",
    "property": "IO_40.AO_SCARA_R.request",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 470,
    "y": 120,
    "wires": [
      [
        "7672700065dca8ab"
      ]
    ]
  }
]