OP40/subflows/不会撞左侧.json
[
  {
    "id": "da53119d7e90a265",
    "type": "subflow",
    "name": "不会撞左侧",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 40,
        "y": 180,
        "wires": [
          {
            "id": "8f51986f924c56b3"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 900,
        "y": 180,
        "wires": [
          {
            "id": "72863147396d9efe",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#E2D96E",
    "icon": "font-awesome/fa-chain-broken",
    "status": {
      "x": 740,
      "y": 360,
      "wires": [
        {
          "id": "c0363fc0d8ece942",
          "port": 0
        },
        {
          "id": "10ce0ae708ee230a",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "8f51986f924c56b3",
    "type": "trigger",
    "z": "da53119d7e90a265",
    "name": "",
    "op1": "",
    "op2": "0",
    "op1type": "date",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 125,
    "y": 180,
    "wires": [
      [
        "c0363fc0d8ece942",
        "a708ab5fa2a7747e"
      ]
    ],
    "l": false
  },
  {
    "id": "72863147396d9efe",
    "type": "change",
    "z": "da53119d7e90a265",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 615,
    "y": 180,
    "wires": [
      [
        "8f51986f924c56b3"
      ]
    ],
    "l": false
  },
  {
    "id": "10ce0ae708ee230a",
    "type": "function",
    "z": "da53119d7e90a265",
    "name": "function 35",
    "func": "return {payload: \"PASS\"};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 750,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "c0363fc0d8ece942",
    "type": "function",
    "z": "da53119d7e90a265",
    "name": "function 39",
    "func": "const d = (new Date()).getSeconds();\nreturn { payload: d };",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 270,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "a708ab5fa2a7747e",
    "type": "switch",
    "z": "da53119d7e90a265",
    "name": "不会撞",
    "property": "IO_40.AI_SCARA_L.response",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "130",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "140",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "170",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "150",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "131",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "100",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "101",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 8,
    "x": 270,
    "y": 140,
    "wires": [
      [],
      [],
      [],
      [],
      [],
      [],
      [],
      [
        "760eb7aa984ab3ed"
      ]
    ]
  },
  {
    "id": "760eb7aa984ab3ed",
    "type": "switch",
    "z": "da53119d7e90a265",
    "name": "不会撞",
    "property": "IO_40.AO_SCARA_L.request",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 410,
    "y": 180,
    "wires": [
      [
        "72863147396d9efe"
      ]
    ]
  }
]