OP40/subflows/内轨中断.json
[
  {
    "id": "7b3736660559e9a0",
    "type": "subflow",
    "name": "内轨中断",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 80,
        "wires": [
          {
            "id": "468219bb1e8f508f"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 640,
        "y": 80,
        "wires": [
          {
            "id": "84cd141bb88ca973",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#DDAA99",
    "icon": "font-awesome/fa-code-fork",
    "status": {
      "x": 420,
      "y": 220,
      "wires": [
        {
          "id": "84cd141bb88ca973",
          "port": 0
        },
        {
          "id": "66097a753ce82753",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "15e1cbdaa0e408ce",
    "type": "switch",
    "z": "7b3736660559e9a0",
    "name": "",
    "property": "out_initing",
    "propertyType": "global",
    "rules": [
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 235,
    "y": 80,
    "wires": [
      [
        "bb0accfb6e8fef13"
      ]
    ],
    "l": false
  },
  {
    "id": "468219bb1e8f508f",
    "type": "trigger",
    "z": "7b3736660559e9a0",
    "name": "",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 155,
    "y": 80,
    "wires": [
      [
        "15e1cbdaa0e408ce",
        "66097a753ce82753"
      ]
    ],
    "l": false
  },
  {
    "id": "93f06e4794ae68c4",
    "type": "function",
    "z": "7b3736660559e9a0",
    "name": "function 58",
    "func": "\nreturn {reset:1,payload:1};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 435,
    "y": 80,
    "wires": [
      [
        "468219bb1e8f508f",
        "84cd141bb88ca973"
      ]
    ],
    "l": false
  },
  {
    "id": "84cd141bb88ca973",
    "type": "function",
    "z": "7b3736660559e9a0",
    "name": "function 59",
    "func": "\nreturn {payload:\"DONE\"};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 535,
    "y": 80,
    "wires": [
      []
    ],
    "l": false
  },
  {
    "id": "66097a753ce82753",
    "type": "function",
    "z": "7b3736660559e9a0",
    "name": "function 60",
    "func": "const date = new Date();\nmsg.payload = date.getSeconds();\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 190,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "bb0accfb6e8fef13",
    "type": "switch",
    "z": "7b3736660559e9a0",
    "name": "",
    "property": "pause_in",
    "propertyType": "global",
    "rules": [
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 315,
    "y": 80,
    "wires": [
      [
        "93f06e4794ae68c4"
      ]
    ],
    "l": false
  }
]