OP40/subflows/等右内装配.json
[
  {
    "id": "5318328504c0fd7c",
    "type": "subflow",
    "name": "等右内装配",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 50,
        "y": 30,
        "wires": [
          {
            "id": "a8f02f86014c925e"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1040,
        "y": 160,
        "wires": [
          {
            "id": "2cd59566021c5533",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#DDAA99",
    "icon": "font-awesome/fa-hourglass-1",
    "status": {
      "x": 620,
      "y": 360,
      "wires": [
        {
          "id": "078f2d9b52728a34",
          "port": 0
        },
        {
          "id": "2cd59566021c5533",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "3a9f698d25e32b3d",
    "type": "switch",
    "z": "5318328504c0fd7c",
    "name": "",
    "property": "IO_40.AO_SCARA_R.idx_in_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "btwn",
        "v": "1",
        "vt": "num",
        "v2": "14",
        "v2t": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "15",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 370,
    "y": 160,
    "wires": [
      [],
      [
        "2d42a4056e5f5867"
      ],
      [
        "2d42a4056e5f5867"
      ]
    ]
  },
  {
    "id": "a8f02f86014c925e",
    "type": "trigger",
    "z": "5318328504c0fd7c",
    "name": "",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 265,
    "y": 160,
    "wires": [
      [
        "3a9f698d25e32b3d",
        "078f2d9b52728a34"
      ]
    ],
    "l": false
  },
  {
    "id": "2d42a4056e5f5867",
    "type": "function",
    "z": "5318328504c0fd7c",
    "name": "function 44",
    "func": "\nreturn {reset:1,payload:1};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 535,
    "y": 160,
    "wires": [
      [
        "a8f02f86014c925e",
        "2cd59566021c5533"
      ]
    ],
    "l": false
  },
  {
    "id": "2cd59566021c5533",
    "type": "function",
    "z": "5318328504c0fd7c",
    "name": "function 45",
    "func": "\nreturn {payload:\"完成\"};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 710,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "078f2d9b52728a34",
    "type": "function",
    "z": "5318328504c0fd7c",
    "name": "function 46",
    "func": "const d = (new Date()).getSeconds();\nreturn { payload: d };",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 360,
    "wires": [
      []
    ]
  }
]