OP40/subflows/等右外装配.json
[
  {
    "id": "c6cdde3e27578b72",
    "type": "subflow",
    "name": "等右外装配",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 50,
        "y": 30,
        "wires": [
          {
            "id": "ce9c8abae0a80e23"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1000,
        "y": 180,
        "wires": [
          {
            "id": "57a65a1c5e1bfdbb",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#DDAA99",
    "icon": "font-awesome/fa-hourglass-start",
    "status": {
      "x": 900,
      "y": 360,
      "wires": [
        {
          "id": "57a65a1c5e1bfdbb",
          "port": 0
        },
        {
          "id": "529b3f4c3b852298",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "6aed83a962ddc7f8",
    "type": "switch",
    "z": "c6cdde3e27578b72",
    "name": "",
    "property": "IO_40.AO_SCARA_R.idx_out_right",
    "propertyType": "global",
    "rules": [
      {
        "t": "btwn",
        "v": "1",
        "vt": "num",
        "v2": "14",
        "v2t": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "15",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 470,
    "y": 180,
    "wires": [
      [],
      [
        "b8c366bb8561fce8"
      ],
      [
        "b8c366bb8561fce8"
      ]
    ]
  },
  {
    "id": "ce9c8abae0a80e23",
    "type": "trigger",
    "z": "c6cdde3e27578b72",
    "name": "",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 365,
    "y": 180,
    "wires": [
      [
        "6aed83a962ddc7f8",
        "529b3f4c3b852298"
      ]
    ],
    "l": false
  },
  {
    "id": "b8c366bb8561fce8",
    "type": "function",
    "z": "c6cdde3e27578b72",
    "name": "function 47",
    "func": "\nreturn {reset:1,payload:1};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 635,
    "y": 180,
    "wires": [
      [
        "ce9c8abae0a80e23",
        "57a65a1c5e1bfdbb"
      ]
    ],
    "l": false
  },
  {
    "id": "57a65a1c5e1bfdbb",
    "type": "function",
    "z": "c6cdde3e27578b72",
    "name": "function 48",
    "func": "\nreturn {payload:\"完成\"};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 810,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "529b3f4c3b852298",
    "type": "function",
    "z": "c6cdde3e27578b72",
    "name": "function 49",
    "func": "const d = (new Date()).getSeconds();\nreturn { payload: d };",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 380,
    "wires": [
      []
    ]
  }
]