OP40/subflows/等左内装配.json
[
  {
    "id": "f1b5175008df5e4f",
    "type": "subflow",
    "name": "等左内装配",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 60,
        "wires": [
          {
            "id": "d877ca7d33340955"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 740,
        "y": 80,
        "wires": [
          {
            "id": "ab097e8f56806cd0",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#DDAA99",
    "icon": "font-awesome/fa-hourglass-1",
    "status": {
      "x": 740,
      "y": 280,
      "wires": [
        {
          "id": "85a07f55ee8b6ea6",
          "port": 0
        },
        {
          "id": "ab097e8f56806cd0",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "42c3b949de448a60",
    "type": "switch",
    "z": "f1b5175008df5e4f",
    "name": "",
    "property": "IO_40.AO_SCARA_L.idx_in_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "btwn",
        "v": "1",
        "vt": "num",
        "v2": "5",
        "v2t": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "6",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 250,
    "y": 80,
    "wires": [
      [],
      [
        "cb40b321404dfc60"
      ],
      [
        "cb40b321404dfc60"
      ]
    ]
  },
  {
    "id": "d877ca7d33340955",
    "type": "trigger",
    "z": "f1b5175008df5e4f",
    "name": "",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 145,
    "y": 80,
    "wires": [
      [
        "42c3b949de448a60",
        "85a07f55ee8b6ea6"
      ]
    ],
    "l": false
  },
  {
    "id": "cb40b321404dfc60",
    "type": "function",
    "z": "f1b5175008df5e4f",
    "name": "function 41",
    "func": "\nreturn {reset:1,payload:1};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 415,
    "y": 80,
    "wires": [
      [
        "d877ca7d33340955",
        "ab097e8f56806cd0"
      ]
    ],
    "l": false
  },
  {
    "id": "ab097e8f56806cd0",
    "type": "function",
    "z": "f1b5175008df5e4f",
    "name": "function 42",
    "func": "\nreturn {payload:\"完成\"};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "85a07f55ee8b6ea6",
    "type": "function",
    "z": "f1b5175008df5e4f",
    "name": "function 43",
    "func": "const d = (new Date()).getSeconds();\nreturn { payload: d };",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 190,
    "y": 280,
    "wires": [
      []
    ]
  }
]