OP40/subflows/等左外装配.json
[
  {
    "id": "5b7607247210f390",
    "type": "subflow",
    "name": "等左外装配",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 50,
        "y": 30,
        "wires": [
          {
            "id": "3c388af66519cdc2"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 960,
        "y": 220,
        "wires": [
          {
            "id": "da789f8845fc3d99",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#DDAA99",
    "icon": "font-awesome/fa-hourglass-o",
    "status": {
      "x": 680,
      "y": 420,
      "wires": [
        {
          "id": "9833632f7d7490cb",
          "port": 0
        },
        {
          "id": "da789f8845fc3d99",
          "port": 0
        }
      ]
    }
  },
  {
    "id": "3025e1a4b53ad4f7",
    "type": "switch",
    "z": "5b7607247210f390",
    "name": "",
    "property": "IO_40.AO_SCARA_L.idx_out_left",
    "propertyType": "global",
    "rules": [
      {
        "t": "btwn",
        "v": "1",
        "vt": "num",
        "v2": "5",
        "v2t": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "6",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 390,
    "y": 200,
    "wires": [
      [],
      [
        "3ea44059fb015f64"
      ],
      [
        "3ea44059fb015f64"
      ]
    ]
  },
  {
    "id": "3c388af66519cdc2",
    "type": "trigger",
    "z": "5b7607247210f390",
    "name": "",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "-250",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 285,
    "y": 200,
    "wires": [
      [
        "3025e1a4b53ad4f7",
        "9833632f7d7490cb"
      ]
    ],
    "l": false
  },
  {
    "id": "3ea44059fb015f64",
    "type": "function",
    "z": "5b7607247210f390",
    "name": "function 50",
    "func": "\nreturn {reset:1,payload:1};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 555,
    "y": 200,
    "wires": [
      [
        "3c388af66519cdc2",
        "da789f8845fc3d99"
      ]
    ],
    "l": false
  },
  {
    "id": "da789f8845fc3d99",
    "type": "function",
    "z": "5b7607247210f390",
    "name": "function 51",
    "func": "\nreturn {payload:\"完成\"};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 730,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "9833632f7d7490cb",
    "type": "function",
    "z": "5b7607247210f390",
    "name": "function 52",
    "func": "const d = (new Date()).getSeconds();\nreturn {payload:d};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 400,
    "wires": [
      []
    ]
  }
]