OP70/.flow_70.json.backup
[
    {
        "id": "f116a112b4b1a9dc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9af7ae183516690f",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "53dcbecbb9977b4e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 40,
                "wires": [
                    {
                        "id": "ccb77c176dd43dda",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "vvvv",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "a"
                                },
                                "v": "b"
                            },
                            {
                                "l": {
                                    "en-US": "c"
                                },
                                "v": "d"
                            }
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "fac6de9c3882034c",
        "type": "sqlitedb",
        "db": "dataCenter.db",
        "mode": "RWC"
    },
    {
        "id": "53dcbecbb9977b4e",
        "type": "function",
        "z": "9af7ae183516690f",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            [
                "877ae920af8c2dc4"
            ]
        ]
    },
    {
        "id": "877ae920af8c2dc4",
        "type": "function",
        "z": "9af7ae183516690f",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 80,
        "wires": [
            [
                "ccb77c176dd43dda"
            ]
        ]
    },
    {
        "id": "ccb77c176dd43dda",
        "type": "function",
        "z": "9af7ae183516690f",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "1da0bebc64e61f98",
        "type": "inject",
        "z": "f116a112b4b1a9dc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "21d138722de98563",
        "type": "sqlite",
        "z": "f116a112b4b1a9dc",
        "mydb": "fac6de9c3882034c",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 340,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "0011ed6076d94bbb",
        "type": "subflow:9af7ae183516690f",
        "z": "f116a112b4b1a9dc",
        "name": "",
        "env": [
            {
                "name": "vvvv",
                "value": "d",
                "type": "str"
            }
        ],
        "x": 440,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "b74356151e485f70",
        "type": "function",
        "z": "f116a112b4b1a9dc",
        "name": "function 4",
        "func": "const flows = RED.nodes;\nconsole.debug(flows);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "1af8db143947151f",
        "type": "inject",
        "z": "f116a112b4b1a9dc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 500,
        "y": 780,
        "wires": [
            [
                "b74356151e485f70"
            ]
        ]
    }
]